HB Shifat, [Nov 21, 2017 at 4:56:03 PM]:
<template>
 <div class="tea_grade">
  <div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Tea grade</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Tea grade</li>
          </ol>
        </div>


        <div class="main-content container-fluid">
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Tea Grade
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Customers .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                      <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="getAllTeaGrade"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Tea Grade" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>


                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Grade Name</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in TeaGrade">
                        <td style="width:35%;">{{data.grade_name}}</td>
                        <td style="width:35%;">{{data.total_packs}}</td>
                        <td>
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteGrade(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <!-- Add New Grade -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Tea Grade
                  <div class="tools dropdown">
                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Grade Name">
                        <el-input v-model="form.grade_name"></el-input>
                      </el-form-item>

                    </el-form>
                  </el-col>
                  
 
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addGrade">Add Grade</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Customers -->
            <div class="col-sm-10" v-if="table == 3">
			<div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Tea Quantity
                  <div class="tools dropdown">
                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Customers Name">
                        <el-input v-model="form.grade_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="update_tea_grade">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
 </div>
</template>

<script>
 import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

 export default {
  name: 'tea_grade',
  data() {
   return {
    labelPosition: 'top',
          area: '',
          localarea: '',
          form: {},
          search: '',
          searchbox: false,
          table: 0,
          DupTableData: [],
          searchQuuries: {
            paginate: 'simple',
            per_page : 10,
            fields: 'localCustomerss'
          }
      }
  },
  watch: {
       search() {
         if(this.search.length >= 2) {
           this.tabledata.filter(item => {
             return item.Customers_name.includes(this.search)
           })
         } else {
           this.tabledata = this.DupTableData
         }
       }
     },
  computed: {
   ...mapGetters({
    TeaGrade: 'settings/tea_grade/TeaGrade'
   })
  },
  methods: {
   ...mapActions({
    getAllTeaGrade: 'settings/tea_grade/getAllTeaGrade',
    add_tea_grade: 'settings/tea_grade/add_tea_grade',
    delete_tea_grade:'settings/tea_grade/delete_tea_grade'
   }),

   addGrade() {
    	const url = home.tea_grade_create_update;
    	axios.post(url,this.form)
    	.then(response=> {
        elem.notify('success', response.data.message)
    		this.getAllTeaGrade();
        this.tableShowOnOff(0)
    	})
   },

   update_tea_grade() {
    this.form.tea_grade_id = this.form.id
    const url = home.tea_grade_create_update;
      axios.post(url,this.form)
      .then(response=> {
        elem.notify('success', response.data.message)
        this.getAllTeaGrade();
        this.tableShowOnOff(0)
    })
   },
   deleteGrade(id) {
      const url = home.tea_grade_remove.replace('#id#', id);
      axios.get(url)
      .then(response=>{
        elem.notify('success',response.data.message);
        this.getAllTeaGrade();
      })
   },

   editAble(param) {
          this.form = param
      },

       searchboxShowOnOff() {
         this.searchbox = !this.searchbox
       },

       tableShowOnOff(param, data = false) {
          if(data) {
            this.editAble(data)
          }
          param == 0 ? this.form = {} : null
          this.table = param

       },
  },
  mounted() {
   this.getAllTeaGrade()
  }
 }
</script>