<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Roles</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Roles</a></li>
            <li class="active">Roles List</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Roles Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Roles
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Roles .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" ></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Roles" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:30%;">Title</th>
                        <th style="width:40%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in roles">
                        <td>{{data.title}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteRoles(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>


            <!-- Add New Roles -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Roles
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>


                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Roles Name">
                        <el-input v-model="form.title"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addRoles">Add Roles</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Roles -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Roles Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Roles Name">
                        <el-input v-model="form.title"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="updateRoles">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

	export default {
		name: 'Roles',
    data() {
      return {
        labelPosition: 'top',
        salesman: '',
        localarea: '',
        form: {},
        search: '',
        searchbox: false,
        table: 0,
        DupTableData: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'localRoless'
        }
      }
    },

    computed: {
      ...mapGetters({
       		roles: 'roles/roles'
      })
    },

    watch: {
      search() {
        if(this.search.length >= 2) {
          this.tabledata.filter(item => {
            return item.Roles_name.includes(this.search)
          })

          console.log(this.tabledata)
        } else {
          this.tabledata = this.DupTableData
        }
      }
    },

    methods: {
    	  ...mapActions({
    		  getAllRoles: 'roles/getAllRoles',
    	   }),

        selectLocalArea() {
          this.getFindAllLocalAreaById(this.area)
        },

	      editAble(param) {
	        this.form = param
	      },

	      searchboxShowOnOff() {
	        this.searchbox = !this.searchbox
	      },

	      tableShowOnOff(param, data = false) {
	        if(data) {
	          this.editAble(data)
	        }
	        param == 0 ? this.form = {} : null
	        this.table = param

	      },
        
      addRoles() {
        const root = home.roles_create
        axios.post(root, this.form)
          .then((response) => {
            elem.notify('success', response.data.message);
            this.getAllRoles();
            this.tableShowOnOff(0);
          })
          .catch((error) => {
            console.log('error')
          })
      },

	      deleteRoles(id) {
	        // const RolesDeleteUrl = home.Roles_delete.replace('#id#', id)
	        // axios.post(RolesDeleteUrl)
	        //      .then(response => {
	        //         this.fetchdata()
	        //         elem.notify('success', response.data.message)
	        //      })
	        //      .catch(e => {
	        //         elem.notify('error', e.response.data.message)
	        //      })
	      },

	      updateRoles() {
	        // const RolesUpdateUrl = home.Roles_update.replace('#id#', this.form.id)
	        // axios.post(RolesUpdateUrl, this.form)
	        //      .then(response => {
	        //         this.fetchdata()
	        //         elem.notify('success', response.data.message)
	        //         this.tableShowOnOff(0)
	        //      })
	        //      .catch(e => {
	        //         console.log(e.response)
	        //      })
	      }
	    },

	    mounted() {
       		this.getAllRoles()
	    }
	}
</script>

<style>
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }

  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>