<template>
	<div>
		<nav class="navbar navbar-default navbar-fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-right-navbar">
            <div class="page-title"><span>Banani Tea And Trading Co.</span></div>

            <div class="profile-nav">
              <ul class="list-inline">
                <li class="notification">
                 
                </li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
	</div>
</template>

<script>
  export default {
    name: 'navbar',
    data() {
      return {
        _token: home.token
      }
    }
  }
</script>