<template>
	<div>
		<div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  <li class="active"><a href="#"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Settings</span></a>
                    <ul class="sub-menu">
                      <li class="parent"><a>Area Settings</a>
                        <ul class="sub-menu">
                          <router-link :to="{name: 'area'}"><li><a>Area</a></li></router-link>
                          <router-link :to="{name: 'localarea'}"><li><a>Local Area</a></li></router-link>
                        </ul>
                      </li>

                      <router-link :to="{name: 'van'}"><li><a>Vehicles</a></li></router-link>
                      
                      
                      <router-link :to="{name: 'customers'}"><li><a>Customers</a></li></router-link>

                      <li class="parent"><a>Raw Material Settings</a>
                        <ul class="sub-menu">
                          <router-link :to="{name: 'tea_grade'}"><li><a>Tea Grade</a></li></router-link>
                          <router-link :to="{name: 'garden'}"><li><a>Tea Garden</a></li></router-link>
                          <router-link :to="{name: 'brokers'}"><li><a>Brokers</a></li></router-link> 
                        </ul>
                      </li>

                      <li class="parent"><a>Products Settings</a>
                        <ul class="sub-menu">
                          <router-link :to="{name: 'tea'}"><li><a>Product Line</a></li></router-link>
                          <router-link :to="{name: 'tea-quantity'}"><li><a>Products</a></li></router-link> 
                        </ul>
                      </li>
                      <router-link :to="{name: 'salesman'}"><li><a>Salesman</a></li></router-link>
                      <router-link :to="{name: 'assets_type'}"><li><a>Assets type</a></li></router-link>
                      <!-- <router-link :to="{name: 'vat'}"><li><a>Vat</a></li></router-link>  -->
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Sales Report</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'AddSalesReport'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'view_sales_report'}"><li><a>View</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Stocks</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'StocksCategory'}"><li><a>Category</a></li></router-link>
                      <router-link :to="{name: 'StocksIndex'}"><li><a>Stock Index</a></li></router-link>
                      <router-link :to="{name: 'stocks_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'stocks_view'}"><li><a>View</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Production</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'production_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'production_view'}"><li><a>View</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Purchase</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'unload_assets_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'purchase_view'}"><li><a>View</a></li></router-link>
                    </ul>
                  </li>
                  
                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Blending</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'blend_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'blend_view'}"><li><a>Blend List</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Home Rent</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'home_rent_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'home_rent_view'}"><li><a>View</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Daily Spent</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'daily_spent_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'daily_spent_view'}"><li><a>View</a></li></router-link>
                    </ul>
                  </li>


                  <!-- <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'account_add'}"><li><a>Add</a></li></router-link>
                      <router-link :to="{name: 'account_view'}"><li><a>View</a></li></router-link>
                      <router-link :to="{name: 'account_per_assets'}"><li><a>Per Assets Output</a></li></router-link>
                    </ul>
                  </li> -->

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Account</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'account_asset_type'}"><li><a>Asset Type</a></li></router-link>
                      <router-link :to="{name: 'account_general_ledger'}"><li><a>General Ledger</a></li></router-link>
                      <router-link :to="{name: 'account_subsidiary_ledger'}"><li><a>Subsidiary Ledger</a></li></router-link>
                      <router-link :to="{name: 'account_transaction'}"><li><a>Trasaction</a></li></router-link>
                      <router-link :to="{name: 'journal_entries'}"><li><a>Jouranl Entries</a></li></router-link>
                      <router-link :to="{name: 'net_income'}"><li><a>Net Income</a></li></router-link>
                      <router-link :to="{name: 'balance_sheet'}"><li><a>Balance Sheet</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Employee</span></a>
                    <ul class="sub-menu">
                        <router-link :to="{name: 'all_employee'}"><li><a>All Employee</a></li></router-link>
                        <router-link :to="{name: 'add_all_employee'}"><li><a>Add New Employee</a></li></router-link>
                        <router-link :to="{name: 'all_attendence' }">
                            <li><a>Attendence</a></li></router-link>
                    </ul>
                  </li>

                  <li class="parent"><a href="#"><i class="icon mdi mdi-settings"></i><span>Roles</span></a>
                    <ul class="sub-menu">
                      <router-link :to="{name: 'roles_list'}"><li><a>Roles List</a></li></router-link>
                      <router-link :to="{name: 'user_roles_list'}"><li><a>User Roles</a></li></router-link>
                    </ul>
                  </li>

                  <li @click="gotoLogout"><a href="#"><i class="icon mdi mdi-home"></i><span>Log Out</span></a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
</template>


<script>
	export default {
    name: 'sidebar',
    data() {
      return {
        
      }
    },
    methods: {
      gotoLogout() {
        const url = home.app_url + '/logout'
        axios
          .post(url)
          .then((res) => {
            window.location.href = home.app_url
          })
          .catch((err) => {
            console.log(err)
          })

      }
    }

	}
</script>