<template>
	<div class="blend_add">
		<div class="be-content">
	        <div class="page-head">
	        	<div class="page-head-wrapper">
	        	  <h2 class="page-head-title">Blend</h2>
		          <ol class="breadcrumb page-head-nav">
		            <li><a href="#">Blend</a></li>
		            <li class="active">Add</li>
		          </ol>
	        	</div>

	        	

	        	<el-tabs v-model="activeName">
				    <el-tab-pane label="Blend Details Selection" name="first">
				    	<div class="main-content container-fluid">
				    		<div class="flex-container">
									
									<div class="select-box">
										<label class="block">Tea</label>
					        			<el-select 
						        			v-model="blend_list.tea" 
						        			placeholder="Select sample type"
						        			class="inner_select_box"
						        			filterable
					        			>
										    <el-option
										      v-for="item in all_tea"
										      :key="item.id"
										      :label="item.name"
										      :value="item">
										    </el-option>

										</el-select>
					        		</div>

					        		<el-button type="primary" @click="addBlendList">Add For Blend</el-button>

							</div>
							<br>
							<div class="flex-container">
								 <el-table
							      :data="purchaseList"
							      style="width: 100%">
							        <el-table-column
								        prop="unload_asset.auction_date"
								        sortable
								        label="Auction">
								    </el-table-column>
								     <el-table-column
							        prop="unload_asset.broker.broker_name"
							        label="Broker"
							        sortable
							        :filters="unique_broker"
							        :filter-method="filterBroker" 
							        filter-placement="bottom-end"
							        >
							      </el-table-column>
							       <el-table-column
							        prop="lot_no"
							        label="Lot"
							        sortable
							        >
							      </el-table-column>
							      <el-table-column
							        prop="garden.garden_name"
							        label="Garden"
							        sortable
							        :filters="unique_garden"
							        :filter-method="filterGarden" 
							        filter-placement="bottom-end"
							        >
							      </el-table-column>
							       <el-table-column
							        prop="invoice_no"
							        label="Invoice"
							        sortable
							        :filters="unique_garden"
							        :filter-method="filterGarden" 
							        filter-placement="bottom-end"
							        >
							      </el-table-column>
							      <el-table-column
							        prop="tea_grade.grade_name"
							        sortable
							        :filters="unique_tea_grade"
							        :filter-method="filterTeaGrade" 
							        filter-placement="bottom-end"
							        label="Grade">
							      </el-table-column>		
							       <el-table-column
							        prop="packs"
							        sortable
							        label="Total packs">
							      </el-table-column>
							      <el-table-column
							        prop="total_kg"
							        sortable
							        label="Total kg">
							      </el-table-column>
							       <el-table-column
							        prop="net_each"
							        sortable
							        label="Per price">
							      </el-table-column>
							       <el-table-column
							        prop="available_packs"
							        sortable
							        label="Available">
							      </el-table-column>
							      <el-table-column
									fixed="right"
									label="Action"
							      >
							      	<template scope="scope">
							      		<el-input :disabled="scope.row.blend_status" v-model="scope.row.blend" type="number"></el-input>
									</template>
							      </el-table-column>
							    </el-table>
							</div>
				    	</div>
				    </el-tab-pane>
				    <el-tab-pane label="Output" name="second">
				    	<div class="switch pull-right">
			        		<el-switch
							  v-model="switch_status"
							  active-color="#13ce66"
							  inactive-color="#ff4949">
							</el-switch>
			        	</div>
				    	<div class="main-content container-fluid" v-if="switch_status">
			        		<div class="row m-t-20">						
								<div class="col-sm-4">
									<div class="block">
									    <label class="demonstration">Blend date</label>
									    <div class="date-picker">
									    	<el-date-picker
										      v-model="blend.date"
										      type="date"
										      placeholder="Pick a Date"
										      format="yyyy/MM/dd"
										      value-format="yyyy-MM-dd">
										    </el-date-picker>
									    </div>
								  	</div>
								</div>
							</div>
			   
			        	</div>

			        	<div class="main-content container-fluid">
				        	<div class="col-sm-12" >
								<div class="panel panel-default panel-table">
									<div class="panel-heading">Blend Lists</div>

									<div class="panel-body">
										<table class="table">
										    <thead>
										      <tr>
										      	<th>Tea</th>
										      	<th>Tea Grade</th>
										        <th>Packs</th>
										      </tr>
										    </thead>
										    <tbody>
										      <tr v-for="item in blend.blend_list"> 
										      	<th>{{item.tea.name}}</th>
										      	<th>{{item.tea_grade}}</th>
										      	<th>{{item.packs}}</th>
										      </tr>
										      <tr>
										      	<th></th>
										      	<th>Total Packs = </th>
										      	<th>{{blend.total_packs}}</th>
										      </tr>
										    </tbody>
										</table>
									</div>
								</div>

								<div class="button-wrapper text-center">
									<el-button type="primary" @click="storeBlend" :disabled="switch_status">Submit</el-button>
								</div>
							</div>
				        </div>
				    </el-tab-pane>
				   
				</el-tabs>

	        	
	          
	        </div>
	    </div>
	</div>
</template>

<script type="text/babel">
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name:'blend',
		data() {
			return {
				activeName: 'first',
				switch_status: true,
				blend: {
					date: '',
					blend_list: [],
					total_packs: 0
				},
				blend_list:{
					tea: '',
					tea_grade_id: '',
					packs: '',
					tea_grade: '',
					unload_asset_list_id: ''
				},
				purchaseList: [],
				unique_tea_grade: [],
				unique_garden: [],
				unique_broker: []

			}
		},
		computed: {
			...mapGetters({
				all_tea: 'settings/tea/all_tea',
				TeaGrade: 'settings/tea_grade/TeaGrade',

			})
		},
		methods: {
			...mapActions({
				getAllTea: 'settings/tea/getAllTea',
				getAllTeaGrade: 'settings/tea_grade/getAllTeaGrade',
				storeBlend: 'blend/storeBlend'
			}),
			filterTeaGrade(value, row) {
				return row.tea_grade.grade_name === value
			},
			filterBroker(value, row) {
				return row.unload_asset.broker.broker_name === value
			},
			filterGarden(value, row) {
				return row.garden.garden_name === value;
			},
			getAllPurchaseList() {
				const url = home.purchase_list_all
				axios
					.get(url)
					.then((res) => {
						res.data.purchase_list.forEach((item) => {
							item.blend = 0
							item.blend_status = false
						})
						this.purchaseList = res.data.purchase_list
						this.unique_tea_grade = res.data.tea_grades
						this.unique_broker = res.data.brokers
						this.unique_garden = res.data.gardens
					})
					.catch((err) => {
						console.log(err)
					})
			},
			addBlendList() {
				if( ! this.blend_list.tea ) {
					elem.notify('warning', 'Select Tea at first!')
					return
				}
				this.purchaseList.forEach( item => {
					if(parseInt(item.blend) > 0 && parseInt(item.blend) <= item.available_packs > 0 ) {
						let data = {
							tea: this.blend_list.tea,
							tea_grade_id: item.tea_grade.id,
							packs: parseInt(item.blend),
							tea_grade: item.tea_grade.grade_name,
							unload_asset_list_id: item.id
						}
						this.blend.total_packs += parseInt(item.blend)
						this.blend.blend_list.push(data)
						
						item.available_packs = item.available_packs - parseInt(item.blend)
						item.blend = 0
						if( item.available_packs == 0 ) {
							item.blend_status = true
						}
					}
					else if(parseInt(item.blend) > item.available_packs ) {
						elem.notify('warning', 'Some Value are exit the limit')
						return
					} 
				})
				this.blend_list = {
					tea: '',
					tea_grade_id: '',
					packs: '',
					tea_grade: '',
					unload_asset_list_id: ''
				}
				// if(this.blend_list.tea && this.blend_list.tea_grade_id && this.blend_list.packs) {
				// 	let findIndex = _.findIndex(this.TeaGrade, {id: this.blend_list.tea_grade_id})
				// 	this.TeaGrade[findIndex].total_packs -= parseInt(this.blend_list.packs)
				// 	this.blend_list.tea_grade = this.TeaGrade[findIndex].grade_name
				// 	this.blend.total_packs += parseInt(this.blend_list.packs)
				// 	this.blend.blend_list.push(this.blend_list)
				// 	this.blend_list = {
				// 		tea: this.blend_list.tea,
				// 		tea_grade_id: '',
				// 		packs: '',
				// 		tea_grade: '' 
				// 	}
				// }
			},
			changeDateFormat(date) {
				return moment(date).format("YYYY-MM-D")
			},
			storeBlend() {
				this.blend.date = this.changeDateFormat(this.blend.date)
				const url = home.blend_store
				axios
					.post(url, this.blend)
					.then((res) => {
						elem.notify('success', res.data.message)
						this.getAllPurchaseList()
						this.switch_status =  true
						this.blend = {
							date: '',
							blend_list: [],
							total_packs: 0
						}
					})
					.catch((err) => {
						console.log(err)
					})
			}
		},
		mounted() {
			this.getAllTea()
			this.getAllTeaGrade()
			this.getAllPurchaseList()
			console.log(this.all_tea)
		}
	}
</script>

<style lang="scss" scoped>
.m-t-30 {
	margin-top: 30px;
}
.flex-container {
	padding:0px 15px;
	display:flex;
	justify-content:space-between;
	align-items:flex-end;

	div {
		flex-grow: 1;
		margin-right:10px;
	}
}
</style>