<template>
	<div class="sales_report">
		<el-tabs v-model="activeName">
		    <el-tab-pane label="Daily Sales Report" name="first">
		    	<el-row>
		    		<el-col>
		    			<el-date-picker
		    			  @change="getDailySalesReport($event)"
					      v-model="current_date"
					      type="date"
					      placeholder="Pick a day">
					    </el-date-picker>
		    		</el-col>
		    	</el-row>

		    	<el-row>
		    		<div class="main-content container-fluid">
		    			<div class="panel panel-default panel-table">
			                <div class="panel-heading">Sales man wise
			                </div>
			                <div class="panel-body">
							  <table class="table">
			                    <thead>
			                      <tr>
			                        <th style="width:30%;">Salesman</th>
			                        <th style="width:40%">Actions</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                      <tr v-for="sales in daily_salesman">
			                        <td>{{sales.user.name}}</td>
			                        <td >
			                        	<router-link :to="{ name: 'view_sales_report_by_salesman', params: {
			                        		create_at: getDate,
			                        		salesman_id: sales.id
			                        	}}">
			                        		<el-button type="info" size="mini">
			                        			Salesreport
			                        		</el-button>
			                          	</router-link>
			                        </td>
			                      </tr>
			                    </tbody>
			                  </table>
			                </div>
			            </div>
		    		</div>
		    	</el-row>

		    	<el-row>
		    		<div class="main-content container-fluid">
		    			<div class="panel panel-default panel-table">
			                <div class="panel-heading">Product wise
			                </div>
			                <div class="panel-body">
							   <el-table
							    :data="daily_report"
							    border
							    show-summary
							    style="width: 100%">
							    <el-table-column
							      prop="id"
							      label="ID"
							      width="180">
							    </el-table-column>
							    <el-table-column
							      prop="name"
							      label="Name">
							    </el-table-column>
							    <el-table-column
							      prop="amount"
							      sortable
							      label="Price">
							    </el-table-column>
							    <el-table-column
							      prop="quantity"
							      sortable
							      label="Quantity(kg)">
							    </el-table-column>
							    <el-table-column
							      prop="total"
							      sortable
							      label="Amount">
							    </el-table-column>
							  </el-table>
			                </div>
			            </div>
		    		</div>
		    	</el-row>
		    </el-tab-pane>
		    <el-tab-pane label="Advance Sales Report Data" name="second">
		    	<div class="row">
					<div class="main-content container-fluid">
						<div class="block">
						    <el-date-picker
						      @change="getSalesReportByDateRange"
						      v-model="sales_report_date_range"
						      type="daterange"
						      range-separator="  -  "
						      start-placeholder="Start date"
						      end-placeholder="End date">
						    </el-date-picker>
						 </div>
			    		<div class="col-sm-10">
			              <div class="panel panel-default panel-table">
			                <div class="panel-heading">Advance Search ( Sales report )
			                </div>
			                <div class="panel-body">
			                  <table class="table">
			                    <thead>
			                      <tr>
			                        <th style="width:30%;">Date</th>
			                        <th style="width:40%">Actions</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                      <tr v-for="sales in sales_report_result">
			                        <td>{{sales.sales_date}} - sales report {{ sales.id }}</td>
			                        <td >
			                        	<router-link :to="{ name: 'single_sales_report', params: {
			                        		
			                        		id: sales.id
			                        	}}">
			                        		<el-button type="info" size="mini">
			                        			show
			                        		</el-button>
			                          	</router-link>
			                    
			                        </td>
			                      </tr>
			                    </tbody>
			                  </table>
			                </div>
			              </div>
			            </div>
			    	</div>

					<div class="main-content container-fluid">
						<div class="block">
							<el-col :span="4">
								<el-select
									v-model="select_salesman"
									clearable
									filterable
									@change="getSalesmanWithRange"
								>
									<el-option
										v-for="item in assignSalesman"
										:key="item.id"
										:label="item.user.name"
      									:value="item.id"
									>
									</el-option>
								</el-select>
							</el-col>

							<el-date-picker
						     @change="getSalesmanWithRange"
						      v-model="date_for_search"
						      type="daterange"
						      range-separator="  -  "
						      start-placeholder="Start date"
						      end-placeholder="End date">
						    </el-date-picker>
							
						 </div>
			    		<div class="col-sm-10">
			              <div class="panel panel-default panel-table">
			                <div class="panel-heading">Advance Search ( Salesman wise )
			                </div>
			                <div class="panel-body">
			                  <table class="table">
			                    <thead>
			                      <tr>
			                        <th>Date</th>
			                        <th>Sales Report No.</th>
			                        <th>Area</th>
			                        <th>No. Customers</th>
			                        <th>Total Kg</th>
			                        <th>Total Amount</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                      <tr v-for="sales in salesman_sales_report">
			                        <td>{{sales.sales_date}}</td>
			                        <td>{{sales.id}}</td>
			                        <td>{{sales.area.area_name}}</td>
			                        <td>{{sales.sales_report_customer.length}}</td>
			                        <td>{{sales.total_kg}}</td>
			                        <td>{{sales.total_amount}}</td>
			                      </tr>
			                    </tbody>
			                  </table>
			                </div>
			              </div>
			            </div>
			    	</div>

			    	<div class="main-content container-fluid">
			    		<el-col :span="4">
			    			<el-select v-model="area_name" placeholder="Select Area" @change="getLocal">
							    <el-option
							      v-for="item in assignArea"
							      :key="item.id"
							      :label="item.area_name"
							      :value="item.id">
							    </el-option>
						  </el-select>
			    		</el-col>
			    		<el-col :span="4">
			    			<el-select v-model="local_area_name" placeholder="Select Local  Area" @change="fetchDataAnother">
							    <el-option

							      v-for="item in list_for_local_area"
							      :key="item.id"
							      :label="item.local_area_name"
							      :value="item.id">
							    </el-option>
						  </el-select>
			    		</el-col>
						<div class="block">

							

						    <el-date-picker
						      @change="fetchDataAnother"
						      v-model="change_range_date"
						      type="daterange"
						      range-separator="To"
						      start-placeholder="Start date"
						      end-placeholder="End date">
						    </el-date-picker>
						  </div>
			    		<div class="col-sm-10">
			              <div class="panel panel-default panel-table">
			                <div class="panel-heading">Advance search (Area & Local Area wise)
			                </div>
			                <div class="panel-body">
			                  <table class="table">
			                    <thead>
			                      <tr>
			                        <th style="width:15%;">Date</th>
			                        <th style="width:15%;">Sales Report No.</th>
			                        <th style="width:15%;">Salesman</th>
			                        <th style="width:15%;">No. of customers</th>
			                         <th style="width:15%;">Total Kg</th>
			                        <th style="width:20%">Total Taka</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                      <tr v-for="sales in advance2_data">
			                        <td>{{sales.sales_date}}</td>
			                      	<td>{{sales.id}}</td>
			                      	<td>{{sales.salesman.name}}</td>
			                      	<td>{{sales.sales_report_customer.length}}</td>
			                      	<td>{{sales.total_kg}}</td>
			                      	<td>{{sales.total_amount}}</td>
			                      </tr>
			                    </tbody>
			                  </table>
			                </div>
			              </div>
			            </div>
			    	</div>

			    	<div class="main-content container-fluid">
			    		<el-col :span="4">
			    			<el-select v-model="area_name_ad_3" placeholder="Select Area" @change="getLocal3">
							    <el-option
							      v-for="item in assignArea"
							      :key="item.id"
							      :label="item.area_name"
							      :value="item.id">
							    </el-option>
						  </el-select>
			    		</el-col>
			    		<el-col :span="4">
			    			<el-select v-model="local_area_name_ad_3" placeholder="Select Local  Area" @change="getCustomers">
							    <el-option

							      v-for="item in list_for_local_area_ad_3"
							      :key="item.id"
							      :label="item.local_area_name"
							      :value="item.id">
							    </el-option>
						  </el-select>
			    		</el-col>
			    		<el-col :span="4">
			    			<el-select v-model="customer_name" placeholder="Select Customer" @change="getAdvance3">
							    <el-option

							      v-for="item in list_for_customer"
							      :key="item.id"
							      :label="item.customer_shop_name"
							      :value="item.id">
							    </el-option>
						  </el-select>
			    		</el-col>
						<div class="block">

							

						    <el-date-picker
						      @change="getAdvance3"
						      v-model="change_range_date_advance_3"
						      type="daterange"
						      range-separator="To"
						      start-placeholder="Start date"
						      end-placeholder="End date">
						    </el-date-picker>
						  </div>
			    		<div class="col-sm-12">
			              <div class="panel panel-default panel-table">
			                <div class="panel-heading">Advance search (Customer wise)
			                </div>
			                <div class="panel-body">
			                  <table class="table">
			                    <thead>
			                      <tr>
			                        <th >Date</th>
			                        <th >Cash Memo</th>
			           				<th v-for="i in get_area_local_tea_product">{{ i.name }}</th>
			                        <th >Total Kg</th>
			                        <th >Total Amount</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                      <tr v-for="sales in collect_data_3">
			                        <td>{{sales.salesreport_created_at}}</td>
			                      	<td>{{sales.cash_memo}}</td>
			                      	<td v-for="i in sales.reports">{{i}}</td>
			                      	<td>{{getTotalKG(sales.sales_report_quantites)}}</td>
			                      	<td>{{sales.total_amount}}</td>
			         
			                      </tr>
			                    </tbody>
			                  </table>
			                </div>
			              </div>
			            </div>
			    	</div>

			    	<div class="main-content container-fluid">
	
						<div class="block">

						    <el-date-picker
						      @change="getListByProductRange"
						      v-model="product_list_range"
						      type="daterange"
						      range-separator="  -  "
						      start-placeholder="Start date"
						      end-placeholder="End date">
						    </el-date-picker>
						  </div>
			    		<div class="col-sm-12">
			              <div class="panel panel-default panel-table">
			                <div class="panel-heading">Advance search (Customer wise)
			                </div>
			                <div class="panel-body">
			                  <el-table
							    :data="product_range_report"
							    border
							    show-summary
							    style="width: 100%">
							    <el-table-column
							      prop="id"
							      label="ID"
							      width="180">
							    </el-table-column>
							    <el-table-column
							      prop="name"
							      label="Name">
							    </el-table-column>
							    <el-table-column
							      prop="amount"
							      sortable
							      label="Price">
							    </el-table-column>
							    <el-table-column
							      prop="quantity"
							      sortable
							      label="Quantity(kg)">
							    </el-table-column>
							    <el-table-column
							      prop="total"
							      sortable
							      label="Amount">
							    </el-table-column>
							  </el-table>
			                </div>
			              </div>
			            </div>
			    	</div>

			    	<el-dialog title="Quantities" :visible.sync="dataTable" :before-close="handleClose">
					  <el-table :data="spec_quan">
					    <el-table-column property="teaquantity.short_name" label="Product"></el-table-column>
					    <el-table-column property="quantity" label="Quantity" ></el-table-column>
					    <el-table-column property="amount" label="Amount" ></el-table-column>
					    <el-table-column property="note" label="Note" ></el-table-column>
					    <el-table-column property="note_value" label="Note Value" ></el-table-column>
					  </el-table>
					</el-dialog>
				</div>
		    </el-tab-pane>
		</el-tabs>
	</div>
	
	

</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name:'keyword',
		data() {
			return {
				select_salesman: '',
				sales_report_date_range: [new Date(), new Date()],
				current_date: new Date(),
				activeName: 'first',
				dataTable: false,
				change_range_date: [new Date(), new Date()],
				date_for_search: [new Date(), new Date()],
				loading:false,
				pickerOptions : {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7
                    }
                },
				area_name:'',
				list_for_area: [],
				list_for_local_area: [],
				list_for_local_area_ad_3: [],
				sales_man_name:'',
				list_for_sales_man: [],
				local_area_name:'',
				area_name_ad_3: '',
				local_area_name_ad_3: '',
				customer_name:'',
				list_for_customer: [],
				cash_memo :'',
				list_for_cash_memo:[],
				collect_data : [],
				start_time: new Date(),
				end_time: new Date(), 
				advance2_data: [],
				change_range_date_advance_3: [new Date(), new Date()],
				collect_data_3: [],
				spec_quan: [],
				daily_salesman: [],
				daily_report: [],
				sales_report_result: [],
				salesman_sales_report: [],
				get_area_local_tea_product: [],
				product_list_range: [new Date(), new Date()],
				product_range_report: []
			}
		},

		computed : {

			...mapGetters({
				'assignArea' : 'salesreport/assignArea',
				'assignSalesman' : 'salesreport/assignSalesman',
				'assignLocalArea' : 'salesreport/assignLocalArea',
				'assignCustomer' : 'salesreport/assignCustomer'
			}),

			getDate() {
				return moment(this.current_date).format('YYYY-MM-DD')
			},

			product_list_start() {
				return moment(this.product_list_range[0]).format("YYYY-MM-DD")
			},

			product_list_end() {
				return moment(this.product_list_range[1]).format("YYYY-MM-DD")
			},

			sales_report_date_start() {
				return moment(this.sales_report_date_range[0]).format('YYYY-MM-DD')
			},

			sales_report_date_end() {
				return moment(this.sales_report_date_range[1]).format('YYYY-MM-DD')
			},

			getSalesmanDateStart() {
				return moment(this.date_for_search[0]).format('YYYY-MM-DD');
			},
			getSalesmanDateEnd() {
				return moment(this.date_for_search[1]).format('YYYY-MM-DD');
			},

			startTime() {
				let dateStr = moment(this.start_time).format('YYYY-MM-DD');
				return dateStr
			},

			endTime() {
				let dateStr = moment(this.end_time).format('YYYY-MM-DD');
				return dateStr
			},

			advance2() {
				return {
					area_id: this.area_name,
					local_area_id: this.local_area_name,
					start_at: moment(this.change_range_date[0]).format('YYYY-MM-DD'),
					end_at: moment(this.change_range_date[1]).format('YYYY-MM-DD')
				}
			},

			advance3() {
				return {
					area_id: this.area_name_ad_3,
					local_area_id: this.local_area_name_ad_3,
					customer_id: this.customer_name,
					start_at: moment(this.change_range_date_advance_3[0]).format('YYYY-MM-DD'),
					end_at: moment(this.change_range_date_advance_3[1]).format('YYYY-MM-DD')
				}
			}

		},
		methods: {

			...mapActions({
				'getSalesmanData' : 'salesreport/getSalesmanData',
				'getArea' : 'salesreport/getArea',
				'getLocalArea' : 'salesreport/getLocalArea',
				'getCustomerByArea' : 'salesreport/getCustomerByArea'
			}),

			...mapMutations('salesreport', ['setCollectData']),

			QuantitiesData(data) {
				this.dataTable = true
				this.spec_quan = data
			},

			handleClose() {
				this.dataTable = false
			},

			getTotalKG(q) {
				let sum = 0;
				q.forEach((i) => {
					sum += i.quantity
				})
				return sum
			},

			fetchDataAnother() {
				const url = home.sales_report_get_by_salesman_id_adv_2
				axios.post(url, this.advance2)
					 .then((res) => {
					 		this.advance2_data = res.data.customer
					 })
					 .catch((err) => {
					 		console.log(err)
					 })
			},

			getAdvance3() {
				const url = home.sales_report_get_by_salesman_id_adv_3
				axios
					.post(url, this.advance3)
					.then((res) => {
						this.collect_data_3 = res.data.customer
						this.get_area_local_tea_product = res.data.tea_product
						console.log(res.data.customer)
					})
					.catch(err => {
						console.log(err)
					})
				console.log(this.advance3)
			},

			getCustomers() {
				const url = home.local_area_find.replace('#id#', this.local_area_name_ad_3)
				axios
					.get(url + '?fields=customers')
					.then((res) => {
						this.list_for_customer = res.data.customers
					})
					.catch(err => {
						console.log(err)
					})
			},

			getLocal3() {
				const localarea = home.area_find.replace('#id#', this.area_name_ad_3)

				axios
				    .get(localarea + '?fields=localareas')
				    .then(res => {
				    	console.log(res)
				    	this.list_for_local_area_ad_3 = res.data.localareas
				    })
				    .catch(e => {
				    	console.log(e.response)
				    })
			},

			getLocal() {
				const localarea = home.area_find.replace('#id#', this.area_name)
				axios
				    .get(localarea + '?fields=localareas')
				    .then(res => {
				    	console.log(res)
				    	this.list_for_local_area = res.data.localareas
				    })
				    .catch(e => {
				    	console.log(e.response)
				    })
			},
		
			remoteMethod(query) {
		        if (query !== '') {
		          this.loading = true;
		          setTimeout(() => {
		            this.loading = false;
		            this.list_for_sales_man = this.assignSalesman.filter(item => {
		              return item.label.toLowerCase()
		                .indexOf(query.toLowerCase()) > -1;
		            });
		          }, 200);
		        } else {
		          this.options4 = [];
		        }
      		},
      		searchByAll() {
      			let items = {
      				salesman_id: this.sales_man_name,
      				area_id: this.area_name,
      				localarea_id: this.local_area_name,
      				customer_id: this.customer_name,
      				start_time: this.startTime,
      				end_time: this.endTime,
      				fields1: 'area,salesman'
      			}

      		   const salesSearch = home.salesman_area_show + '?fields=' + items.fields1
      		   // let  data = _.pickBy(items, _.isNumber || _.isString)
      		   if(_.isNumber(items.area_id)) {
      		   		this.getLocalArea(items.area_id)
      		   		this.getCustomerByArea(items.area_id)
      		   		console.log('aaaa')
      		   }
      		   console.log(items)
      			axios.get(salesSearch, {params: items})
      			     .then(res => {
      			     	this.collect_data = res.data;
      			     	this.setCollectData(this.collect_data)
      			     })
      			     .catch(e => {
      			     	console.log(e.response)
      			     })
      		},
      		getDailySalesReport($event) {
      			let data = {
      				current_date: $event
      			}
      			const url = home.sales_report_daily_view
      			axios.post(url, data)
      			     .then((res) => {
      			     	this.daily_salesman = res.data.today_salesman
      			     	this.daily_report = res.data.today_report
      			     	console.log(res)
      			     })
      			     .catch((err) => {
      			     	console.log(err)
      			     })
      		},
      		getSalesReportByDateRange() {

      			const url = home.sales_report_by_date_range
      			let data = {
      				start_date: this.sales_report_date_start,
      				end_date: this.sales_report_date_end      			}
      			axios.post(url, data)
      			     .then((res) => {
      			     	this.sales_report_result = res.data.sales_report_range
      			     })
      			     .catch((err) => {
      			     	console.log(err)
      			     })
      		},
      		getSalesmanWithRange() {
      			const url = home.sales_report_by_salesman_id_range
      			let data = {
      				salesman: this.select_salesman,
      				start_date: this.getSalesmanDateStart,
      				end_date: this.getSalesmanDateEnd
      			}
      			axios.post(url, data)
      			     .then((res) => {
      			     	this.salesman_sales_report = res.data.sales_report_range
      			     })
      			     .catch((err) => {
      			     	console.log(err)
      			     })
      		},
      		getListByProductRange() {
      			const url = home.sales_report_product_list_range
      			let data = {
      				start_date: this.product_list_start,
      				end_date: this.product_list_end
      			}
      			axios.post(url, data)
      			     .then((res) => {
      			     	this.product_range_report = res.data.today_report
      			     })
      			     .catch((err) => {
      			     	console.log(err)
      			     })
      		}
		},
		mounted() {
			    this.getListByProductRange()
				this.getSalesReportByDateRange()
				this.getSalesmanData()
				this.getArea()
				this.getDailySalesReport(moment(this.curent_date).format('YYYY-MM-DD'))
		}
	}
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
	@import "../../../../../../sass/sales_report.scss";
</style>