<template>
	<div class="row">
		<div class="content-box">
			<div class="col-sm-4 col-md-3 col-xs-12" v-for="item in assignGetCollectData">
				<div class="panel panel-border-color panel-border-color-primary">
					<div class="panel-heading">
						<h4>Sales Report # {{item.id}}</h4>
					</div>
					<div class="panel-body">
						<p>Total Amount : {{item.total_amount}}</p>
						<p>Total Kg: {{item.total_kg}}</p>
						<!-- <p>Total Customer : {{item.sales_report_customer.length}}</p> -->
						<p>Area : {{item.area.area_name}}</p>
						<p>Salesman: {{item.salesman.name}}</p>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	 export default {
	 	name:'salesReportShow',
	 	computed: {
	 		...mapGetters('salesreport', ['assignGetCollectData'])
	 	},
	 	mounted() {
	 		console.log(this.assignGetCollectData)
	 	}
	 }
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
	@import "../../../../../../sass/sales_report.scss";
</style>