<template>
	<div class="be-content">
		<div class="page-head">
	      <h2 class="page-head-title">Sales Report View</h2>
	      <ol class="breadcrumb page-head-nav">
	        <li><a href="#">Sales report</a></li>
	        <li class="active">View</li>
	      </ol>
	    </div>
    
		<div class="main-content container-fluid">
			<keyword></keyword>
			<show_table></show_table>
		</div>
	</div>
</template>

<script>
	import keyword from './keyword'
	import show_table from './show'
	export default {
		name : 'salesPageView',
		components: {
			keyword,
			show_table
		},
		data() {
			return {

			}
		},


	}
</script>