<template>
	<div class="vat">
		
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

	export default {
		name:'vat',
		data() {
			return {

			}
		},
		computed: {
			...mapGetters({
				vat: 'settings/vat/vat'
			})
		},
		methods: {
			...mapActions({
				getAllVatData: 'settings/vat/getAllVatData'
			})
		},
		mounted() {
			this.getAllVatData()
		}

	}
</script>