<template>
  <div>
     <div class="be-content">
        <div class="main-content container-fluid">

          <!--=============================
            start:summary of setting section
          ===============================-->
          <el-collapse accordion v-model="activeNames">
            <el-collapse-item name="1">
              <template slot="title">
                Purchase & Blend Summary
              </template>

              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="widget widget-tile">
                  <div id="spark1" class="chart sparkline"></div>
                  <div class="data-info">
                    <div class="desc">Purchase Amount</div>
                    <div class="value">
                      <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                      <span class="number">{{ history.purchase.total_amount }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="widget widget-tile">
                    <div id="spark2" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Purchase kg</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ history.purchase.total_kg }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="widget widget-tile">
                    <div id="spark3" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Purchase Packs</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ history.purchase.total_packs }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="widget widget-tile">
                    <div id="spark3" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Blend total packs</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ history.blend }}</span>
                      </div>
                    </div>
                  </div>
              </div>
            </el-collapse-item>


            <el-collapse-item name="2">
              <template slot="title">
                Setting Item Summary
              </template>

              <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="widget widget-tile">
                  <div class="chart">
                    <img src="" alt="" class="img-responsive">
                  </div>
                  <div class="data-info">
                    <div class="desc">Areas</div>
                    <div class="value">
                      <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                      <span class="number">{{ all.total_areas_number }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="widget widget-tile">
                    <div id="spark2" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Local Areas</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ all.total_local_areas_number }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="widget widget-tile">
                    <div id="spark3" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Customers</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ all.total_customer_number }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="widget widget-tile">
                    <div id="spark4" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Salesman</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ all.total_sales_man_number }}</span>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="widget widget-tile">
                    <div id="spark4" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Vans</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ all.total_vans_number }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="widget widget-tile">
                    <div id="spark5" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Broker</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ all.total_brokers_number }}</span>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-3">
                  <div class="widget widget-tile">
                    <div id="spark6" class="chart sparkline"></div>
                    <div class="data-info">
                      <div class="desc">Gardens</div>
                      <div class="value">
                        <span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <span class="number">{{ all.total_gardens_number }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              
            </el-collapse-item>
          </el-collapse>
          <!--=============================
          End:summary of setting section
          ===============================-->



          <!--===============Start : Chart for different purpose==============-->
          <div class="row">
            <div class="col-xs-12">
              <div class="widget widget-fullwidth be-loading">
                  <div class="chart-title"> 
                      <p>Stocks</p>
                      <div class="view-as-type">
                        <el-radio-group v-model="stock_current_type" size="small">
                          <el-radio-button label="daily">Daily</el-radio-button>
                          <el-radio-button label="monthly">Monthly</el-radio-button>
                          <el-radio-button label="yearly">Yearly</el-radio-button>
                        </el-radio-group>
                      </div>
                  </div>
                  
                
                  <div class="chart" v-if="stocks.labels.length > 0">
                      <chart :height="150" :data="stocks"></chart>
                  </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="widget widget-fullwidth be-loading">
                  <div class="chart-title"> 
                      <p>Blends</p>
                      <div class="view-as-type">
                        <el-radio-group v-model="blend_current_type" size="small">
                          <el-radio-button label="daily">Daily</el-radio-button>
                          <el-radio-button label="monthly">Monthly</el-radio-button>
                          <el-radio-button label="yearly">Yearly</el-radio-button>
                        </el-radio-group>
                      </div>
                  </div>
                  
                
                  <div class="chart" v-if="blends.labels.length > 0">
                      <chart :height="150" :data="blends"></chart>
                  </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="widget widget-fullwidth be-loading">
                  <div class="chart-title"> 
                      <p>Purchase</p>
                      <div class="view-as-type">
                        <el-radio-group v-model="purchase_current_type" size="small">
                          <el-radio-button label="daily">Daily</el-radio-button>
                          <el-radio-button label="monthly">Monthly</el-radio-button>
                          <el-radio-button label="yearly">Yearly</el-radio-button>
                        </el-radio-group>
                      </div>
                  </div>
                  
                
                  <div class="chart" v-if="purchase.labels.length > 0">
                      <chart :height="150" :data="purchase"></chart>
                  </div>
              </div>
            </div>
            
            <div class="col-xs-12">
              <div class="widget widget-fullwidth be-loading">
                  <div class="chart-title"> 
                      <p>Sales Report</p>

                      <div class="view-as-type">
                        <el-radio-group v-model="sales_report_state" size="small">
                          <el-radio-button label="paid">Paid</el-radio-button>
                          <el-radio-button label="due">Due</el-radio-button>
                        </el-radio-group>
                      </div>
                      <div class="view-as-type">
                        <el-radio-group v-model="sales_report_current_type" size="small">
                          <el-radio-button label="daily">Daily</el-radio-button>
                          <el-radio-button label="monthly">Monthly</el-radio-button>
                          <el-radio-button label="yearly">Yearly</el-radio-button>
                        </el-radio-group>
                      </div>
                  </div>
                  
                  

                  <div class="chart">
                      <chart :height="150" :data="sales_report"></chart>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
</template>

<script>
  import chart from '../common/chart/chart.vue';


  export default {
    data() {
      return {
        activeNames:['1'],
        current_date: moment(new Date()).format("Do MMM YY"),
        stock_current_type:'daily',
        blend_current_type:'daily',
        purchase_current_type:'daily',
        sales_report_current_type:'daily',
        sales_report_state:'paid',
        history: {
          purchase: {},
          blend: {}
        },
        all : { },
        stocks: {
            labels: [],
            data: [],
        },
        blends: {
          labels: [],
          data: [],
        },
        purchase: {
         labels: [],
          data: [],
        },
        sales_report: {
          labels: [],
          data: [],
        },
      } 
    },

    components :{
      chart
    },

    watch: {
      stock_current_type() {
        this.fetch_all_data(this.sales_report_state , this.stock_current_type);
      },
      blend_current_type() {
        this.fetch_all_data(this.sales_report_state , this.blend_current_type);
      },
      purchase_current_type() {
        this.fetch_all_data(this.sales_report_state , this.purchase_current_type);
      },
      sales_report_current_type() {
        this.fetch_all_data(this.sales_report_state , this.sales_report_current_type);
      },
      sales_report_state() {
        this.fetch_all_data(this.sales_report_state , this.sales_report_current_type);
      }
    },

    methods: {
      store_data(received_objects,sender_objects,state,type) {
        sender_objects.map((item,index) => {

          if(item.hasOwnProperty(state)) {
              received_objects[index].labels = Object.keys(item[state][type]);
              received_objects[index].data = Object.keys(item[state][type]).map(key => {
                                                   return item[state][type][key];
                                                 });
          } else {
              received_objects[index].labels = Object.keys(item[type]);
              received_objects[index].data = Object.keys(item[type]).map(key => {
                                                   return item[type][key];
                                                 });
          }
        })
      },
    
      fetch_all_data(state,type) {
        const url = home.dashboard_all;
         axios.get(url)
         .then(response => {
    
            let {blends,purchase,sales_report,stocks,...rest} = response.data;
            this.all = rest;
            this.history.purchase = purchase.current;
            this.history.blend = blends.current;
            this.store_data(
              [this.blends,this.purchase,this.sales_report,this.stocks], 
              [blends,purchase,sales_report,stocks],
              state,
              type
            );
         })
         .catch(error => {
            console.log(error.response);
         })
      }
    },

    mounted() {
      this.fetch_all_data('paid','daily');
    },
  }
</script>

<style lang="scss">
  .chart-title {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding : 15px;
    background:bottom;
    -webkit-display:flex;
    display:flex;
    -webkit-justify-content : space-between;
    justify-content : space-between;
  }
  .widget {
    border: 1px solid rgba(black,0.5);
  }
  .el-collapse {
    margin-bottom:30px;
  }
</style>