<template>
	<div>
		<navbar></navbar>
		<sidebar></sidebar>
		<router-view></router-view>
	</div>
</template>

<script>
	import navbar from './common/navbar.vue'
	import sidebar from './common/sidebar.vue'
	export default {
		components: {
			navbar,
			sidebar
		},
		data() {
			return {

			}
		},
		mounted() {
			
		}
	}
</script>