<template>
	<div class="daily_spent_add">
		<div class="be-content">
	        <div class="page-head">
	          <h2 class="page-head-title">Daily Spent</h2>
	          <ol class="breadcrumb page-head-nav">
	            <li><a href="#">Daily Spent</a></li>
	            <li class="active">Add</li>
	          </ol>
	        </div>
	        <div class="main-content container-fluid">
        		<div class="row">
        			<div class="row space" v-for="(item,index) in itemList">

						<div class="form-group col-sm-4">

					    	<label>Daily Spent {{item.key}}</label>

					    	<div class="select-box">
					    		<el-input placeholder="Please input" v-model="item.reason"></el-input>
					    	</div>

						</div>




					   	<div class="form-group col-sm-4">
					   	 	<label for="exampleSelect1">Value</label>
					   	 	<el-input placeholder="Please input" v-model="item.value" type="number"></el-input>
					  	</div>


					  	<!-- buttons -->

					    <div class="form-group col-sm-4 space">

					    	<el-button 
					    		@click="addItemList"
					    		v-if="index === itemList.length - 1"
					    		type="primary" 
					    		icon="plus" 
					    		size="small">
					    			
					    	</el-button>

					    	<el-button 
					    		@click="removeListItem(item)"
					    		v-if="item.key >= 1 && item.key != 1"
					    		type="primary" 
					    		icon="minus" 
					    		size="small">	
					    	</el-button>
					    </div>
					</div>
					<div class="text-center">
						<el-button @click="submitOtherSpent" type="primary">Submit</el-button>
					</div>

        		</div>
        	</div>
	    </div>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'daily_spent_add',
		data() {
			return {
				itemList: [
					{
						key: 1,
						reason: '',
						value: ''
					}
				],
			}
		},
		methods: {
			addItemList() {
				let value = _.nth(this.itemList, this.itemList.length - 1);
				let nextValue = value.key + 1
				this.itemList.push({
		          key: nextValue,
		          reason: '',
		          value: ''
		        });
				console.log(this.itemList)
			},
			removeListItem(item){
				var index = _.findIndex(this.itemList,item)
                if (index !== -1) {
                   this.itemList.splice(index, 1);
                }
            },
            submitOtherSpent() {
            	const url = home.daily_spent_store;

            	axios
            		.post(url, this.itemList)
            		.then((res) => {
            			elem.notify("success", res.data.message)
            			this.itemList = [
									{
										key: 1,
										rent: '',
										value: ''
									}
								]
            		})
            		.catch((err) => {
            			console.log(err)
            		})
            }
		},
	}
</script>