<template>
	<div class="unload_assets">
		<div class="Stocks_view">
			<div class="be-content">
				<!--head-->
		        <div class="page-head">
		        	<div class="page-head-wrapper">
		        	  <h2 class="page-head-title">Daily Spent</h2>
			          <ol class="breadcrumb page-head-nav">
			            <li><a href="#">Daily Spent</a></li>
			            <li class="active">Preview</li>
			          </ol>
		        	</div>
		        </div>
		        <!--/head-->

		        <!--content-->
		        <div class="main-content container-fluid" v-if="current == 'daily_spent_preview_daily' || current == 'daily_spent_preview_monthly_date' || current == 'daily_spent_preview_yearly_month_date'">
		        	<div class="row">
		        		<div class="col-sm-10 col-sm-offset-1">
							<!--table-->
		        			<div class="view-site">
		        				<div class="panel panel-default panel-table">
					                <div class="panel-heading">Daily Spent preview
					                	<div class="tools">
					                	</div>
					                </div>	
			        				<div class="panel-body">
			        					<table class="table">
					                    	<thead>
							                      <tr>
							                        <th>Description</th>
							                        <th>Value</th>

							                        <th>Action</th>
							                      </tr>
					                    	</thead>
					                    	<tbody>
							                      <tr v-for="data in tableData.daily_spent_preview_daily" v-if="tableData.daily_spent_preview_daily.length > 0">
							                        <td>{{data.reason}}</td>
							                        <td>{{data.value}}</td>
							            
							                        <td >
							                          <router-link v-if="current == 'daily_spent_preview_daily'" :to="{ name: 'daily_spent_preview_daily_id', params: { preview_date: $route.params.preview_date, id: data.id}}"><el-button type="primary" size="small">Preview</el-button></router-link>
							                          <router-link v-if="current == 'daily_spent_preview_monthly_date'" :to="{ name: 'daily_spent_preview_monthly_date_id', params: {
							                          preview_month: $route.params.preview_month, preview_date: $route.params.preview_date, id: data.id}}"><el-button type="primary" size="small">Preview</el-button></router-link>
							                           <router-link v-if="current == 'daily_spent_preview_yearly_month_date'" :to="{ name: 'daily_spent_preview_yearly_month_date_id', params: {
							                           preview_yearly: $route.params.preview_yearly,
							                          preview_month: $route.params.preview_month, preview_date: $route.params.preview_date, id: data.id}}"><el-button type="primary" size="small">Preview</el-button></router-link>
							                          <el-button type="info" size="small">Export</el-button>
							                        </td>
							                      </tr>
							                      <tr v-if="tableData.length == 0" style="background: #ffbf2e">
							                      	<td></td>
							                      	<td style="text-align: center">No Data Available</td>
							                      	<td></td>
							                      	<td></td>
							                      </tr>
					                    	</tbody>
					                  	</table>
			        				</div>
			        			</div>	
		        			</div>
		        			<!--/table-->
		        		</div>
		        	</div>
		        </div>
		        
		        <div class="main-content container-fluid" v-if="current == 'daily_spent_preview_daily_id' || current == 'daily_spent_preview_monthly_date_id' || current == 'daily_spent_preview_yearly_month_date_id'">
		        	<div class="col-sm-12" >
						<div class="panel panel-default panel-table">
							<div class="panel-heading">Daily Spent Lists</div>

							<div class="panel-body">
								<table class="table">
								    <thead>
								      <tr>
								            <th>Description</th>
							                <th>Value</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr v-for="item in tableData.daily_spent_preview_daily_id" v-if="tableData.daily_spent_preview_daily_id.length > 0"> 
								      	<th>{{item.reason}}</th>
								      	<th>{{item.value}}</th>
								      </tr>
								    </tbody>
								</table>
							</div>
						</div>
					</div>
		        </div>

		        <div class="main-content container-fluid" v-if="current == 'daily_spent_preview_monthly' || current == 'daily_spent_preview_yearly' || current == 'daily_spent_preview_yearly_month' ">
		        	<div class="row">
		        		<div class="col-sm-10 col-sm-offset-1">

		        			

							<!--table-->
		        			<div class="view-site">
		        				<div class="panel panel-default panel-table">
					                <div class="panel-heading">Daily Spent History
					                	<div class="tools">
					                	</div>
					                </div>	
			        				<div class="panel-body">
			        					<table class="table">
					                    	<thead>
							                      <tr>
							                        <th>{{tableData.daily_spent_preview_monthly.type}}</th>
							          
							                        <th style="width:30%">Actions</th>
							                      </tr>
					                    	</thead>
					                    	<tbody>
							                      <tr v-for="data in tableData.daily_spent_preview_monthly.data" v-if=" tableData.daily_spent_preview_monthly.data.length > 0">
							                        <td>{{data.title}}</td>
							                     
							                        <td >
							                          <el-button v-if="current == 'daily_spent_preview_monthly'" type="primary" size="small" @click="previewMonthlyDaily(data.type, data.title)">Preview</el-button>
							                          <el-button v-if="current == 'daily_spent_preview_yearly'" type="primary" size="small" @click="previewYearly(data.type, data.title)">Preview</el-button>
							                           <el-button v-if="current == 'daily_spent_preview_yearly_month'" type="primary" size="small" @click="previewYearlyDaily(data.type, data.title)">Preview</el-button>
							                          <el-button type="info" size="small">Export</el-button>
							                        </td>
							                      </tr>
					
					                    	</tbody>
					                  	</table>
			        				</div>
			        			</div>	
		        			</div>
		        			<!--/table-->
		        		</div>
		        	</div>
		        </div>
		        <!--/content-->
	    	</div>
	    </div>
	</div>
	
</template>

<script>

	export default {
		name:'purchacePreview',

		data() {
			return {
				tableData: {
					daily_spent_preview_daily: [],
					daily_spent_preview_daily_id: [],
					daily_spent_preview_monthly : [],
				},
				url : home.daily_spent_search,
				current: this.$route.name,
				route_list : [
					'daily_spent_preview_daily_id',
					'daily_spent_preview_monthly_date_id',
					'daily_spent_preview_monthly_date',
					'daily_spent_preview_yearly_month_date_id',
					'daily_spent_preview_yearly_month_date',
					'daily_spent_preview_yearly_month'
				]
			}
		},
		watch: {
		    '$route' (to, from) {
		    	this.current = this.$route.name;
		     	this.checkRouteList()
		    }
		  },
		methods: {
			checkRouteList() {
				if(this.$route.name == 'daily_spent_preview_daily') {
					this.fetchDataHomeRentPreviewDaily()
				}
				else if(this.$route.name == 'daily_spent_preview_daily_id') {
		     		this.fetchDataHomeRentListById()
		     	}
		     	else if (this.$route.name == 'daily_spent_preview_monthly') {
		     		this.fetchDataHomeRentMonthly();
		     	}
		     	else if(this.$route.name == 'daily_spent_preview_monthly_date') {
		     		this.fetchDataHomeRentPreviewDaily();
		     	}
		     	else if(this.$route.name == 'daily_spent_preview_monthly_date_id') {
		     		this.fetchDataHomeRentListById();
		     	}
		     	else if(this.$route.name == 'daily_spent_preview_yearly') {
		     		this.fetchDataHomeRentYearly()
		     	}
		     	else if (this.$route.name == 'daily_spent_preview_yearly_month') {
		     		this.fetchDataHomeRentMonthly();
		     	}
		     	else if(this.$route.name == 'daily_spent_preview_yearly_month_date') {
		     		this.fetchDataHomeRentPreviewDaily()
		     	}
		     	else if(this.$route.name == 'daily_spent_preview_yearly_month_date_id') {
		     		this.fetchDataHomeRentListById();
		     	}
			},
			HomeRentDailyPreviewById(id) {
				this.$router.push({
						name: 'daily_spent_preview_daily_id',
						params: {
							preview_date: this.$route.params.preview_date,
							id: id
						}
				})
			},
			fetchDataHomeRentListById() {
				axios
					.post(this.url , {id: this.$route.params.id})
					.then((res) => {
						this.tableData.daily_spent_preview_daily_id = res.data.data
					})
					.catch((err) => {
						console.log(err)
					})
			},
			fetchDataHomeRentPreviewDaily() {
				axios
					.post(this.url , {daily: this.$route.params.preview_date})
					.then((res) => {
						this.tableData.daily_spent_preview_daily = res.data
					})
					.catch((err) => {
						console.log(err)
					})
			},
			fetchDataHomeRentMonthly() {
				axios
					.post(this.url , {monthly: this.$route.params.preview_month})
					.then((res) => {
						this.tableData.daily_spent_preview_monthly = res.data
					})
					.catch((err) => {
						console.log(err)
					})
			},
			previewMonthlyDaily(type, title) {
					this.$router.push({
						name: 'daily_spent_preview_monthly_date',
						params: {
							preview_month: this.$route.params.preview_month,
							preview_date: title
						}
					})
			},
			fetchDataHomeRentYearly() {
				axios
					.post(this.url , {yearly: this.$route.params.preview_yearly})
					.then((res) => {
						this.tableData.daily_spent_preview_monthly = res.data
					})
					.catch((err) => {
						console.log(err)
					})
			},
			previewYearly(type, title) {
				this.$router.push({
						name: 'daily_spent_preview_yearly_month',
						params: {
							preview_month: title,
							preview_yearly: this.$route.params.preview_yearly
						}
					})
			},
			previewYearlyDaily(type, title) {
				this.$router.push({
						name: 'daily_spent_preview_yearly_month_date',
						params: {
							preview_date: title,
							preview_month: this.$route.params.preview_month,
							preview_yearly: this.$route.params.preview_yearly
						}
					})
			}

		},
		mounted() {
			this.checkRouteList();
		}
		
	}

</script>


<style lang="scss" scoped>
	

</style>