<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Vehicles</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Vehicles</li>
          </ol>
        </div>


        <div class="main-content container-fluid">

          <!-- Show Vehicles Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Vehicles
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Van" v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="fetchdata"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Vehicles" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body" v-if="searchData.length">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:10%;">#</th>
                        <th>Vehicles plate number</th>
                        <th style="width:30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(data,index) in searchData">
                        <td>{{index + 1}}</td>
                        <td>{{data.van_number_plate}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="delete_specific_item(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="panel-body text-center" v-else style="font-size:18px; padding:30px; background:#e2e2e2;">
                    NO DATA FOUND
                </div>
              </div>
          </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Vehicles
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="16" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Vehicles Number Plate">
                        <div class="form-inline">
                          <el-input v-model="form.van_number_plate"></el-input>
                        </div>
                      </el-form-item>

                      <el-form-item label="Vehicles Registation No">
                        <div class="form-inline">
                          <el-input v-model="form.van_reg_no"></el-input>
                          <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_reg_no_issue_date" style="width: 100%;"></el-date-picker>
                          <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_reg_no_expired_date" style="width: 100%;"></el-date-picker>
                        </div>
                      </el-form-item>

                      <el-form-item label="Vehicles Tax Token">
                        <div class="form-inline">
                          <el-input v-model="form.van_tax_token"></el-input>
                          <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_tax_token_issue_date" style="width: 100%;"></el-date-picker>
                          <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_tax_token_expired_date" style="width: 100%;"></el-date-picker>
                        </div>
                      </el-form-item>

                      <el-form-item label="Vehicles Fitness Number">
                        <div class="form-inline">
                          <el-input v-model="form.van_fitness_no"></el-input>
                          <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_fitness_no_issue_date" style="width: 100%;"></el-date-picker>
                          <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_fitness_no_expired_date" style="width: 100%;"></el-date-picker>
                        </div>
                      </el-form-item>

                      <el-form-item label="Vehicles Insurance Number">
                        <div class="form-inline">
                          <el-input v-model="form.van_insurance_no"></el-input>
                          <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_insurance_no_issue_date" style="width: 100%;"></el-date-picker>
                          <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_insurance_no_expired_date" style="width: 100%;"></el-date-picker>
                        </div>
                      </el-form-item>

                      <el-form-item label="Vehicles Road Permit Number">
                        <div class="form-inline">
                          <el-input v-model="form.van_road_permit_no"></el-input>
                          <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_road_permit_no_issue_date" style="width: 100%;"></el-date-picker>
                          <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_road_permit_no_expired_date" style="width: 100%;"></el-date-picker>
                        </div>
                      </el-form-item>
                      <div class="mt30px">
                        <el-button type="primary" @click="add_new_van(form)">Add Vehicles</el-button>
                      </div>
                    </el-form>
                  </el-col>
                  
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Van Plate Number
                  <div class="tools dropdown">
                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-row>
                    <el-col :span="16" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Vehicles Number Plate">
                          <div class="form-inline">
                            <el-input v-model="form.van_number_plate"></el-input>
                          </div>
                        </el-form-item>

                        <el-form-item label="Vehicles Registation No">
                          <div class="form-inline">
                            <el-input v-model="form.van_reg_no"></el-input>
                            <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_reg_no_issue_date" style="width: 100%;"></el-date-picker>
                            <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_reg_no_expired_date" style="width: 100%;"></el-date-picker>
                          </div>
                        </el-form-item>

                        <el-form-item label="Vehicles Tax Token">
                          <div class="form-inline">
                            <el-input v-model="form.van_tax_token"></el-input>
                            <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_tax_token_issue_date" style="width: 100%;"></el-date-picker>
                            <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_tax_token_expired_date" style="width: 100%;"></el-date-picker>
                          </div>
                        </el-form-item>

                        <el-form-item label="Vehicles Fitness Number">
                          <div class="form-inline">
                            <el-input v-model="form.van_fitness_no"></el-input>
                            <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_fitness_no_issue_date" style="width: 100%;"></el-date-picker>
                            <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_fitness_no_expired_date" style="width: 100%;"></el-date-picker>
                          </div>
                        </el-form-item>

                        <el-form-item label="Vehicles Insurance Number">
                          <div class="form-inline">
                            <el-input v-model="form.van_insurance_no"></el-input>
                            <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_insurance_no_issue_date" style="width: 100%;"></el-date-picker>
                            <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_insurance_no_expired_date" style="width: 100%;"></el-date-picker>
                          </div>
                        </el-form-item>

                        <el-form-item label="Vehicles Road Permit Number">
                          <div class="form-inline">
                            <el-input v-model="form.van_road_permit_no"></el-input>
                            <el-date-picker type="date" placeholder="Issue Date" v-model="form.van_road_permit_no_issue_date" style="width: 100%;"></el-date-picker>
                            <el-date-picker type="date" placeholder="Expired Date" v-model="form.van_road_permit_no_expired_date" style="width: 100%;"></el-date-picker>
                          </div>
                        </el-form-item>

                        <div class="">
                          <el-button type="primary" @click="update_van">Update</el-button>
                        </div>

                      </el-form>
                    </el-col>
                  </el-row>
                  
                  
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
 import {mapState,mapGetters,mapActions,mapMutations} from 'vuex';
	export default {
		name: 'van',
    data() {
      return {
        labelPosition: 'top',
        form: {
          van_number_plate:'',
          van_reg_no:'',
          van_reg_no_issue_date:'',
          van_reg_no_expired_date:'',
          van_tax_token:'',
          van_tax_token_issue_date:'',
          van_tax_token_expired_date:'',
          van_fitness_no:'',
          van_fitness_no_issue_date:'',
          van_fitness_no_expired_date:'',
          van_insurance_no:'',
          van_insurance_no_issue_date:'',
          van_insurance_no_expired_date:'',
          van_road_permit_no:'',
          van_road_permit_no_issue_date:'',
          van_road_permit_no_expired_date:'',
        },
        search: '',
        searchbox: false,
        table: 0,
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: null
        }
      }
    },

    computed : {
     ...mapGetters({
          vans_list : 'settings/van/vans_list',
          add_data: 'settings/van/add_data',
          update_data: 'settings/van/update_data',
          fetch_data: 'settings/van/fetch_data'
      }),
      searchData() {
        return this.vans_list.filter((item)=>{
          return item.van_number_plate.match(this.search);
        })
      },
    },

    methods: {
      ...mapActions({
        fetchdata         : 'settings/van/fetch_all_van_data',
        addVan            : 'settings/van/addVan',
        updateVanPlateNum : 'settings/van/updateVanPlateNum',
      }),

      add_new_van(data) {
        for(let key in data) {
          if(typeof data[key] === 'object') {
             data[key] = moment(data[key]).format('YYYY-MM-DD')
          }
        }
        this.addVan(data);
        this.fetchdata(this.searchQuuries)
        this.tableShowOnOff(0)
      },

      delete_specific_item(id) {
        const url = home.van_remove.replace('#id#', id)
        axios.post(url)
             .then(response => {
                elem.notify('success', response.data.message);
                this.fetchdata(this.searchQuuries);
             })
             .catch(e => {
                elem.notify('error', e.response.data.message);
                return false;
             })
      },

    

      update_van() {
        for(let key in this.form) {
          if(typeof this.form[key] === 'object') {
             this.form[key] = moment(this.form[key]).format('YYYY-MM-DD');
          }
        }
        const url = home.van_create_update.replace('#id#', this.form.id)
        axios.post(url, this.form)
             .then(response => {
                this.fetchdata(this.searchQuuries)
                elem.notify('success', response.data.message)
                this.tableShowOnOff(0)
             })
             .catch(e => {
                console.log(e.response)
             })
      },

      editAble(param) {
        this.form = param;
      },

      searchboxShowOnOff() {
        this.searchbox = !this.searchbox
      },

      tableShowOnOff(param, data = false) {
        if(data) {
          this.editAble(data)
        }
        param == 0 ? this.form = {} : null
        this.table = param

      },
    },

    mounted() {
      this.fetchdata(this.searchQuuries);
    }
}
</script>

<style lang="scss">
  .panel-table .panel-body {
      padding: 10px 20px;
  }
  .form-inline {
    display: flex;
    .el-input {
      margin-right: 10px !important;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }

  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>