<template>
    <div class="addNew">
        <div class="be-content">
            <div class="page-head">
                <h2 class="page-head-title">Employee</h2>
                <ol class="breadcrumb page-head-nav">
                    <li><a href="#">Add New</a></li>
                    <li class="active">Add</li>
                </ol>
            </div>
            <div class="main-content container-fluid">
                <el-card>
                    <h4>Add New Employee</h4>
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="Employee Information" name="first">
                            <el-row>
                                <el-col :span="9">
                                    <el-form ref="employeeForm" :model="addNewEmployee" :rules="rules">
                                        <el-form-item
                                                label="Employee Name"
                                                prop="employee_name"
                                        >
                                            <el-input v-model="addNewEmployee.employee_name"></el-input>
                                        </el-form-item>

                                        <el-form-item
                                            label="Designation"
                                            prop="designation"
                                        >
                                            <el-input v-model="addNewEmployee.designation"></el-input>
                                        </el-form-item>
                                        <el-form-item
                                            prop="recruit_date"
                                        >
                                            <span slot="label">Recruit Date</span><br>
                                            <div class="date-fix"></div>
                                            <el-date-picker
                                                    v-model="addNewEmployee.recruit_date"
                                                    type="date"
                                                    placeholder="Pick a day">
                                            </el-date-picker>
                                        </el-form-item>
                                        <el-form-item
                                            label="Contact No"
                                            prop="contact_no"
                                        >
                                            <el-input v-model="addNewEmployee.contact_no">
                                                <template slot="prepend">+88</template>
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item
                                            label="NID"
                                            prop="nid"
                                        >
                                            <el-input v-model="addNewEmployee.nid"></el-input>
                                        </el-form-item>
                                        <el-form-item
                                                label="Base Salary"
                                                prop="base_salary"
                                        >
                                            <el-input v-model="addNewEmployee.base_salary">
                                                <template slot="append">/- Taka</template>

                                            </el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="goNext('second')">Next</el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane :disabled="disableTab" label="Employee Details" name="second">
                            <el-row>
                                <el-col :span="9">
                                    <el-form :model="addNewEmployee">
                                        <el-form-item
                                                label="Father Name"
                                        >
                                            <el-input v-model="addNewEmployee.father_name"></el-input>
                                        </el-form-item>
                                        <el-form-item
                                                label="Mother Name"
                                        >
                                            <el-input v-model="addNewEmployee.mother_name"></el-input>
                                        </el-form-item>
                                        <span>Date Of Birth</span><br>
                                        <div class="date-fix"></div>
                                        <el-form-item>
                                            <el-date-picker
                                                    v-model="addNewEmployee.date_of_birth"
                                                    type="date"
                                                    placeholder="Pick a day">
                                            </el-date-picker>
                                        </el-form-item>
                                        <el-form-item
                                                label="Email"
                                        >
                                            <el-input v-model="addNewEmployee.email"></el-input>
                                        </el-form-item>
                                        <el-form-item
                                            label="Sex"
                                        >
                                            <el-radio-group v-model="addNewEmployee.sex">
                                                <el-radio label="male">Male</el-radio>
                                                <el-radio label="female">Female</el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                        <el-form-item
                                                label="Religion"
                                        >
                                            <el-input v-model="addNewEmployee.religion"></el-input>
                                        </el-form-item>
                                        <el-form-item
                                                label="Blood Group"
                                        >
                                            <el-select v-model="addNewEmployee.blood_group" placeholder="Select">
                                                <el-option
                                                        v-for="item in blood_group"
                                                        :key="item.label"
                                                        :label="item.label"
                                                        :value="item.label">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item
                                                label="Nationality"
                                        >
                                            <el-input v-model="addNewEmployee.nationality"></el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="goNext('first')">Back</el-button>
                                            <el-button type="primary" @click="goNext('third')">Next</el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane :disabled="disableTab" label="Employee Address" name="third">
                            <el-form :inline="true" label-position="left" :model="addNewEmployee">
                                <el-collapse v-model="collapseActive" accordion>
                                    <el-collapse-item title="Present Address" name="1">
                                        <el-row>
                                            <el-col :span="10">
                                                <el-form-item
                                                        label="House No"
                                                >
                                                    <el-input v-model="addNewEmployee.present_house"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                        label="Village"
                                                >
                                                    <el-input v-model="addNewEmployee.present_village"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                    label="Post Office"
                                                >
                                                    <el-input v-model="addNewEmployee.present_post_office"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                    label="District"
                                                >
                                                    <el-input v-model="addNewEmployee.present_district"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                    label="Contact No"
                                                >
                                                    <el-input v-model="addNewEmployee.present_contact_no"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                    label="Email"
                                                >
                                                    <el-input v-model="addNewEmployee.present_email"></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Permanent Address" name="2">
                                       <el-row>
                                           <el-col :span="10">
                                               <el-form-item
                                                       label="House No"
                                               >
                                                   <el-input v-model="addNewEmployee.permanent_house"></el-input>
                                               </el-form-item>
                                               <el-form-item
                                                       label="Village"
                                               >
                                                   <el-input v-model="addNewEmployee.permanent_village"></el-input>
                                               </el-form-item>
                                               <el-form-item
                                                       label="Post Office"
                                               >
                                                   <el-input v-model="addNewEmployee.permanent_post_office"></el-input>
                                               </el-form-item>
                                               <el-form-item
                                                       label="District"
                                               >
                                                   <el-input v-model="addNewEmployee.permanent_district"></el-input>
                                               </el-form-item>
                                               <el-form-item
                                                       label="Contact No"
                                               >
                                                   <el-input v-model="addNewEmployee.permanent_contact_no"></el-input>
                                               </el-form-item>
                                               <el-form-item
                                                       label="Email"
                                               >
                                                   <el-input v-model="addNewEmployee.permanent_email"></el-input>
                                               </el-form-item>
                                           </el-col>
                                       </el-row>
                                    </el-collapse-item>
                                    <el-collapse-item title="Emergency" name="3">
                                        <el-row>
                                            <el-col :span="10">
                                                <el-form-item
                                                        label="Person Name"
                                                >
                                                    <el-input v-model="addNewEmployee.emergency_name"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                        label="Relation with person"
                                                >
                                                    <el-input v-model="addNewEmployee.emergency_relation"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                        label="Address"
                                                >
                                                    <el-input v-model="addNewEmployee.emergency_address"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                        label="Contact No"
                                                >
                                                    <el-input v-model="addNewEmployee.emergency_contact_no"></el-input>
                                                </el-form-item>
                                                <el-form-item
                                                        label="Email"
                                                >
                                                    <el-input v-model="addNewEmployee.emergency_email"></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                </el-collapse>

                                <el-form-item>
                                    <el-button type="primary" @click="goNext('second')">Back</el-button>
                                    <el-button type="primary" @click="goNext('fourth')">Next</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                        <el-tab-pane :disabled="disableTab" label="Upload Documents" name="fourth">
                            <el-row>
                                <el-col :span="10">
                                    <el-form :model="addNewEmployee">
                                        <el-form-item
                                                label="Employee Image"
                                        >
                                            <el-upload

                                                    class="upload-demo"
                                                    drag
                                                    :action="imageUrl"
                                                    :on-preview="handlePreview"
                                                    :on-remove="handleRemove"
                                                    :on-success="handleImageSuccess"
                                                    :file-list="imageFileList"
                                                    :multiple="false">
                                                <i class="el-icon-upload"></i>
                                                <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                                            </el-upload>
                                        </el-form-item>
                                        <el-form-item
                                                label="Employee Document"
                                        >
                                            <el-upload

                                                    class="upload-demo"
                                                    drag
                                                    :action="DocfileUrl"
                                                    :on-preview="handlePreview"
                                                    :on-remove="handleRemove"
                                                    :on-success="handleFIleSuccess"
                                                    :file-list="DocFileList"
                                                    :multiple="false">
                                                <i class="el-icon-upload"></i>
                                                <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                                            </el-upload>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="goNext('third')">Back</el-button>
                                            <el-button type="primary" @click="submitData">Submit</el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                    </el-tabs>
                </el-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "addNew",
        data() {
            return {
                imageUrl: window.home.image_upload,
                imageFileList: [],
                DocfileUrl: window.home.file_upload,
                DocFileList: [],
                activeName: 'first',
                collapseActive: '1',
                rules: {
                    employee_name: [
                        { required: true, message: 'Employee Name is required!', trigger: 'blur' }
                    ],
                    designation: [
                        { required: true, message: 'Employee Name is required!', trigger: 'blur' }
                    ],
                    recruit_date: [
                        { type: 'date', required: true, message: 'Please pick a date', trigger: 'change' }
                    ],
                    contact_no: [
                        { required: true, message: 'Contact No is required!', trigger: 'blur' },
                        { min: 11, max: 11, message: 'Contact No Should Be 11 Digit', trigger: 'blur' }
                    ],
                    nid: [
                        { required: true, message: 'NID is required!', trigger: 'blur' }
                    ],
                    base_salary: [
                        { required: true, message: 'Base Salary is required!', trigger: 'blur' }
                    ],
                },
                disableTab: true,
                addNewEmployee: {
                    employee_name: '',
                    designation: '',
                    recruit_date: '',
                    contact_no: '',
                    nid: '',
                    base_salary: '',
                    profile_image_url: '',
                    birth_cer_url: ''
                },
                blood_group: [
                    {
                        label: 'A+'
                    },
                    {
                        label: 'B+'
                    },
                    {
                        label: 'O+'
                    },
                    {
                        label: 'AB+'
                    },
                    {
                        label: 'A-'
                    },
                    {
                        label: 'B-'
                    },
                    {
                        label: 'O-'
                    },
                    {
                        label: 'AB-'
                    }
                ]
            }
        },
        computed: {
            tabPaneDisabled() {
                //return this.checkValidation()
            }
        },
        methods: {
            submitData() {
                this.addNewEmployee.recruit_date = moment(this.addNewEmployee.recruit_date).format('YYYY-MM-DD')
                if ( this.addNewEmployee.hasOwnProperty('date_of_birth') ) {
                    this.addNewEmployee.date_of_birth = moment(this.addNewEmployee.date_of_birth).format('YYYY-MM-DD')
                }
                const url = home.create_employee
                axios.post(url, this.addNewEmployee)
                     .then(res => {
                         elem.notify(res.data.status, res.data.message)
                         this.$router.push({
                             name: 'all_employee'
                         })
                     })
                    .catch(err => {
                        console.log(err)
                    })
            },
            handleImageSuccess(res, file) {
                this.addNewEmployee.profile_image_url = res.fileLink
                console.log(res, file)
            },
            handleFIleSuccess(res, file) {
                this.addNewEmployee.birth_cer_url = res.fileLink
            },
            handlePreview() {

            },
            handleRemove() {

            },
            handleClick({ name }, event) {

            },
            goNext(name) {
                let canGoNext = () => {
                    this.activeName = name
                    this.disableTab = false
                }

                let canNotGoNext = () => {
                    this.disableTab = true
                    this.activeName = 'first'
                    elem.notify('warning', 'Form every field Required!')
                }

                this.checkValidation(canGoNext, canNotGoNext)
            },
            checkValidation(success, err) {
                this.$refs['employeeForm'].validate((valid) => {
                    if (valid) {
                       success()
                    } else {
                        err()
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        }
    }
</script>

<style>
    .date-fix {
        padding-bottom: 15px;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #20a0ff;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
    input[type=file].el-upload__input {
        display: none !important;
    }
</style>