<template>
    <div class="attedence">
        <div class="be-content">
            <div class="page-head">
                <h2 class="page-head-title">Employee</h2>
                <ol class="breadcrumb page-head-nav">
                    <li><a href="#">Attendence</a></li>
                    <li class="active">Add</li>
                </ol>
            </div>
            <div class="main-content container-fluid">
                <el-card class="box-card">
                    <el-row>
                        <el-col>
                            <div class="date">
                                <el-date-picker
                                        v-model="current_date"
                                        type="date"
                                        placeholder="Pick a day"
                                        @change="changeCurrentDateSheet"
                                >
                                </el-date-picker>
                            </div>
                        </el-col>
                        <br>
                        <el-col>
                            <el-table
                                :data="sheet"
                            >
                                <el-table-column
                                    label="Employee Name"
                                    prop="employee.employee_name"
                                >
                                </el-table-column>

                                <el-table-column
                                    label="Attendence"
                                >
                                    <template scope="scope">
                                        <el-radio-group v-model="scope.row.status" @change="setAttendence(scope.row)">
                                            <el-radio :label="p.value" :key="p.label" v-for="p in status">
                                                {{ p.label }}
                                            </el-radio>
                                        </el-radio-group>
                                    </template>
                                </el-table-column>

                            </el-table>
                        </el-col>
                    </el-row>
                </el-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "attendence",
        data() {
            return {
                current_date: new Date(),
                sheet: [],
                status: [
                    {
                        label: 'Present',
                        value: 'present'
                    },
                    {
                        label: 'Absent',
                        value: 'absent'
                    },
                    {
                        label: 'Vacation',
                        value: 'vacation'
                    }
                ]
            }
        },
        methods: {
            setAttendence({ id, employee_id , status}) {
                let attendence = { id, employee_id, status }
                const url = home.set_attendence
                axios.post(url, attendence)
                    .then(({ data: { status, message } }) => {
                        elem.notify(status, message)
                    })
                    .catch((err) => {
                        console.log(err)
                    })

            },
            changeCurrentDateSheet() {
                let current = parseInt(moment(new Date()).format('DD'));
                let checkingDate  = parseInt(moment(this.current_date).format('DD'))

                console.log(current, checkingDate)

                if( checkingDate > current ) {
                    this.sheet = []
                    return
                }

                const url = home.get_sheet_by_date.replace('#date#', moment(this.current_date).format('YYYY-MM-DD'))
                this.sheet = []
                axios.get(url)
                     .then(( { data: { sheet } } ) => {
                         this.sheet = sheet
                     })
                    .catch((err) => {
                         console.log(err)
                    })
            },
            setGetAllEmployee() {
                const url = home.set_get_current_attendence
                this.sheet = []
                axios.get(url)
                    .then(({ data: { sheet } }) => {
                        this.sheet = sheet
                        console.log(sheet)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        },
        mounted() {
            this.setGetAllEmployee()
        }
    }
</script>

<style scoped>
    .date {
        padding-bottom: 20px;
    }
</style>