<template>
    <div class="employee-index">
        <div class="be-content">
            <div class="page-head">
                <h2 class="page-head-title">Employee</h2>
                <ol class="breadcrumb page-head-nav">
                    <li><a href="#">Daily Spent</a></li>
                    <li class="active">Add</li>
                </ol>
            </div>
            <div class="main-content container-fluid">
                <el-row>
                    <el-col :offset="1" :span="13">
                        <el-input v-model="search_employee" icon="search"></el-input>
                    </el-col>
                    <el-col :span="10">
                        <router-link
                            :to="{ name: 'add_all_employee' }"
                        >
                            <el-button type="primary" size="mini" class="add_new_employee">+ Add New</el-button>
                        </router-link>
                    </el-col>
                </el-row>

                <br>

                <el-row v-for="employees in chunkEmployee">
                    <el-col :span="6" :offset="1" v-for="employee in employees">
                        <div class="employee_div">
                            <el-card :body-style="{ padding: '0px' }">
                                <img style="width: 100%; height: 300px;" :src="employee.profile_image_url" class="image">
                                <div style="padding: 14px;">
                                    <span class="employee_font">{{ employee.employee_name }}</span>
                                    <p>{{employee.designation}}</p>
                                    <div class="bottom clearfix">
                                        <el-button class="button" type="default" icon="edit"></el-button>
                                        <router-link
                                                :to="{ name: 'show_employee', params: {
                                            employee_id: employee.id
                                        } }"
                                        >
                                            <el-button class="button" type="default" icon="search"></el-button>
                                        </router-link>
                                    </div>
                                </div>
                            </el-card>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                search_employee: '',
                allEmployee: []
            }
        },
        computed: {
            chunkEmployee() {
                let l = this.allEmployee.length
                let mArr= this.allEmployee
                let arr = []
                while(l--) {
                    arr.push(mArr.splice(0, 3))
                }
                return arr
            }
        },
        methods: {
          getEmployee() {
              const url = home.get_employee
              axios.get(url)
                   .then((response) => {
                       this.allEmployee = response.data.employee
                       console.log(response)
                   })
                  .catch((err) => {
                      console.log(err)
                  })
          }
        },
        mounted() {
            this.getEmployee()
        }
    }
</script>

<style scoped>
    .add_new_employee {
        float: right;
    }
    .employee_font {
        font-size: 21px;
        font-weight: bold;
        text-align: justify;
    }
    .employee_div {
        padding-bottom: 20px;
    }
</style>