<template>
    <div class="show_employee">
        <div class="be-content">
            <div class="page-head">
                <h2 class="page-head-title">Employee</h2>
                <ol class="breadcrumb page-head-nav">
                    <li><a href="#">Show</a></li>
                    <li class="active">Add</li>
                </ol>
            </div>
            <div class="main-content container-fluid">
                <el-row>
                    <div class="back">
                        <el-button type="primary" icon="arrow-left" @click="goBack"> Back</el-button>
                    </div>
                </el-row>
                <el-card class="box-card">
                    <el-row>
                        <h3 class="employee_name">{{employee.employee_name}}</h3>
                        <el-col :span="16">

                            <el-collapse v-model="activeName" accordion>
                                <el-collapse-item title="Employee Details" name="1">
                                    <p v-if="haveValue('employee_name')">Name: {{employee.employee_name}}</p>
                                    <p v-if="haveValue('designation')">Designation: {{ employee.designation }}</p>
                                    <p v-if="haveValue('recruit_date')">Recruit Date: {{ employee.recruit_date }}</p>
                                    <p v-if="haveValue('contact_no')">Contact No: +88{{ employee.contact_no }}</p>
                                    <p v-if="haveValue('nid')">National Id No: {{ employee.nid }}</p>
                                    <p v-if="haveValue('base_salary')">Base Salary: {{employee.base_salary}} Taka</p>
                                    <p v-if="haveValue('email')">Email: {{ employee.email }}</p>
                                    <p v-if="haveValue('birth_cer_url')">Birth Certificate: <a :href="employee.birth_cer_url">{{employee.birth_cer_url}}</a></p>
                                </el-collapse-item>
                                <el-collapse-item title="Personal Details" name="2">
                                    <p v-if="haveValue('father_name')">Father Name: {{employee.father_name}}</p>
                                    <p v-if="haveValue('mother_name')">Mother Name: {{ employee.mother_name }}</p>
                                    <p v-if="haveValue('date_of_birth')">Date Of Birth: {{ employee.date_of_birth }}</p>
                                    <p v-if="haveValue('sex')">Sex: {{ employee.sex }}</p>
                                    <p v-if="haveValue('religion')">Religion: {{ employee.religion }}</p>
                                    <p v-if="haveValue('nationality')">Nationality: {{employee.nationality}}</p>
                                    <p v-if="haveValue('blood_group')">Blood Group: {{ employee.blood_group }}</p>
                                </el-collapse-item>
                                <el-collapse-item title="Adress" name="3">
                                    <el-collapse v-model="activeName">
                                        <el-collapse-item title="Present Address">
                                            <p v-if="haveValue('present_house')">House: {{employee.present_house}}</p>
                                            <p v-if="haveValue('present_village')">Village: {{ employee.present_village }}</p>
                                            <p v-if="haveValue('present_post_office')">Post Office: {{ employee.present_post_office }}</p>
                                            <p v-if="haveValue('present_district')">District: {{ employee.present_district }}</p>
                                            <p v-if="haveValue('present_contact_no')">Contact No: {{ employee.present_contact_no }}</p>
                                            <p v-if="haveValue('present_email')">Email: {{employee.present_email}}</p>
                                        </el-collapse-item>
                                        <el-collapse-item title="Permannet Address">
                                            <p v-if="haveValue('permanent_house')">House: {{employee.permanent_house}}</p>
                                            <p v-if="haveValue('permanent_village')">Village: {{ employee.permanent_village }}</p>
                                            <p v-if="haveValue('permanent_post_office')">Post Office: {{ employee.permanent_post_office }}</p>
                                            <p v-if="haveValue('permanent_district')">District: {{ employee.permanent_district }}</p>
                                            <p v-if="haveValue('permanent_contact_no')">Contact No: {{ employee.permanent_contact_no }}</p>
                                            <p v-if="haveValue('permanent_email')">Email: {{employee.permanent_email}}</p>
                                        </el-collapse-item>
                                        <el-collapse-item title="Emergency Contact">
                                            <p v-if="haveValue('emergency_name')">Name: {{ employee.emergency_name }}</p>
                                            <p v-if="haveValue('emergency_relation')">Relation: {{ employee.emergency_relation }}</p>
                                            <p v-if="haveValue('emergency_address')">Address: {{ employee.emergency_address }}</p>
                                            <p v-if="haveValue('emergency_contact_no')">Contact No: {{employee.emergency_contact_no}}</p>
                                            <p v-if="haveValue('emergency_email')">Email: {{employee.emergency_email}}</p>
                                        </el-collapse-item>
                                    </el-collapse>
                                </el-collapse-item>
                            </el-collapse>
                        </el-col>
                        <el-col :span="8">
                            <div class="show_image">
                                <img :src="employee.profile_image_url" :alt="employee.employee_name">
                            </div>
                        </el-col>
                    </el-row>
                </el-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "showEmployee",
        data() {
            return {
                employee: {},
                activeName: '1'
            }
        },
        methods: {
            goBack() {
                this.$router.back(-1);
            },
            haveValue(key) {
                if( this.employee.hasOwnProperty(key) ) {
                    return this.employee[key] ? true : false
                }
                return false
            },
            getSingleEmployee() {
                const url = home.show_single_employee.replace('#employee_id#', this.$route.params.employee_id)
                axios.get(url)
                     .then((response) => {
                         console.log(response)
                         this.employee = response.data.employee
                     })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        },
        mounted() {
            this.getSingleEmployee()
        }
    }
</script>

<style scoped>
    .show_image {
        text-align: center;
        width: 300px;
        height: 300px;
        padding-left: 50px;
    }
    .employee_name {

    }
    .back {
        float: right;
        padding-bottom: 10px;
    }
</style>