/*space*/
.space {
	margin-top: 30px;
}

/*Select boxes*/
.inner_select_box{
	width: 100%;
}

label {
	display:block;
	font-size: 16px;
}

.content-box {
	padding: 80px 0px;
	overflow: hidden;
}

input[type=file].el-upload__input {
	display: none !important;
}