<template>
	<div class="graden">
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Garden</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Garden</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Garden
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Garden .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="getAllGarden"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Garden" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:40%;">Garden Name</th>
                        <th style="width:20%;">Garden Address</th>
                        <th style="width:30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in Garden">
                        <td>{{data.garden_name}}</td>
                        <td>{{data.garden_address}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="removeBroker(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Garden
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Garden Name">
                        <el-input v-model="form.garden_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Garden Address">
                        <el-input v-model="form.garden_address"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addOrUpdateGarden">Add Garden</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Garden Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Garden Name">
                        <el-input v-model="form.garden_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Garden Address">
                        <el-input v-model="form.garden_address"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addOrUpdateGarden">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
    </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

	export default {
		name: 'garden',
		data() {
			return {
				labelPosition: 'top',
				table: 0,
				search: '',
				searchbox: false,
				form: {}
			}
		},
		computed: {
			...mapGetters({
				Garden: 'settings/garden/Garden'
			})
		},
		methods: {
			...mapActions({
				getAllGarden: 'settings/garden/getAllGarden',
				PostCreateGarden: 'settings/garden/PostCreateGarden',
				GetRemoveGarden: 'settings/garden/GetRemoveGarden'
			}),
			editAble(param) {
		        this.form = param
		        this.form.garden_id = param.id
		    },

	      	searchboxShowOnOff() {
	        	this.searchbox = !this.searchbox
	      	},

		    tableShowOnOff(param, data = false) {
		        if(data) {
		          this.editAble(data)
		        }
            if(param == 0) {
              this.form = {}
              this.getAllGarden()
            }
		  
		        this.table = param
		    },
		    addOrUpdateGarden() {
		      	this.PostCreateGarden(this.form) ? (this.getAllGarden() ? this.tableShowOnOff(0) : null) : null
		    },
		    removeBroker(id) {
		      	this.GetRemoveGarden(id) ? (this.getAllGarden() ? this.tableShowOnOff(0) : null) : null
		    }
		},
		mounted() {
			this.getAllGarden()
		}
	}
</script>