<template>
    <div class="be-content">

        <div class="page-head">
          <h2 class="page-head-title">Sales Report</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Sales report</a></li>
            <li class="active">Add</li>
          </ol>
        </div>
		
		<el-col :offset="1" :span="22">
			<el-tabs v-model="activeName">
			    <el-tab-pane label="Sales Report Details" name="first">
			    	<div class="main-content container-fluid">
			        	<div class="row">
							<el-col :offset="21">
								<div class="col-sm-12">
									
								</div>
							</el-col>
			        		

							<div class="col-sm-3">
								<div>
									<label for="exampleSelect1">Sales Date</label>
								</div>
								<el-date-picker
									v-model="salesReport.sales_date"
									type="date"
									placeholder="Pick a day">
								</el-date-picker>
							</div>
			        		<!--Area dropdown box-->
			        		<div class="col-sm-3">
			        			<div class="select-box">
									<label for="exampleSelect1">Salesman</label>
				        			<el-select 
					        			v-model="salesReport.selected_salesman" 
					        			placeholder="Select salesman"
					        			class="inner_select_box"
					        			filterable
					        			clearable
				        			>
									    <el-option
									      v-for="item in assignSalesman"
									      :key="item.id"
									      :label="item.user.name"
									      :value="item.id">
									    </el-option>

									</el-select>
			        			</div>
			        		</div>




			        		
			        		<!--Area dropdown box-->
			        		<div class="col-sm-3">
			        			<div class="select-box">
									
									<label for="exampleSelect1">Area</label>

				        			<el-select 
					        			v-model="salesReport.selected_area" 
					        			placeholder="Select area" 
					        			@change="changingArea()"
										class="inner_select_box"
										filterable
										clearable
				        			>
									    <el-option
									      v-for="item in areas"
									      :key="item.area_slug"
									      :label="item.area_name"
									      :value="item.id">
									    </el-option>
									</el-select>
								</div>
			        		</div>





			        		<div class="col-sm-3">
			        			<div class="select-box">
									
									<label for="exampleSelect1">Van Number</label>

				        			<el-select 
				        			v-model="salesReport.selected_van" 
				        			placeholder="Select Van" 
									class="inner_select_box"
									filterable
									clearable
				        			>
				        				<el-option
											v-for="item in assignVanData"
											:key="item.id"
											:label="item.van_number_plate"
											:value="item.id"
				        				></el-option>
				        			</el-select>
			        			</div>
			        		</div>
			        	</div> 

			   
			        </div>
			    </el-tab-pane>
			    <el-tab-pane label="Product details" name="second">
			    	<div class="main-content container-fluid">
			    		<el-col :offset="20">
			    			<el-button type="primary" size="mini" @click="dialogVisible = true">+ Add Customer</el-button>
			    			<el-button type="primary" size="mini" @click="addProductDetails">Add Report +</el-button>
			    		</el-col>
			    		<div class="row">
			        		<!--Customer dropdown-->
			        		<div class="col-sm-4">
			        			<div class="select-box">

									<label for="exampleSelect1">Customer</label>

				        			<el-select 
				        			v-model="formProduct.selected_customer" 
				        			placeholder="Select Customer" 
				        			@change="changingCustomer()"
									class="inner_select_box"
									filterable
				        			>
									    <el-option
									      v-for="item in customers"
									      :key="item.customer_phone_number"
									      :label="item.customer_name"
									      :value="item">
									    </el-option>
									</el-select>
								</div>
			        		</div>



			        		<div class="col-sm-4">
			        			<label for="exampleSelect1">Local Area</label>

			        			<el-input
								  placeholder="Local Area"
								  v-model="formProduct.local_area"
								  :disabled="true">
								</el-input>
			        		</div>

			        		<div class="col-sm-4">
			        			<label for="exampleSelect1">Cash Memo no.</label>

			        			<el-input
								  placeholder="Cash Memo No."
								  v-model="formProduct.cash_memo"
								  >
								</el-input>
			        		</div>
			        	</div>
			   
			        	<br>
			    		<el-table
						    :data="productData"
						    stripe
						    show-summary
						    sum-text="Total Amount"
						    style="width: 100%">
						    <el-table-column
						      prop="name"
						      label="Product"
						      >
						    </el-table-column>

						    <el-table-column
						      label="Quantity"
						      >
						      <template scope="scope">
						      	<el-input @change="makeTotal(scope)" v-model="scope.row.value"></el-input>
						      </template>
						    </el-table-column>

						    <el-table-column
						      label="Note"
						      >
						      <template scope="scope">
						      	<el-input v-model="scope.row.note"></el-input>
						      </template>
						    </el-table-column>

						    <el-table-column
						      label="Value"
						      >
						      <template scope="scope">
						      	<el-input @change="makeTotal(scope)" v-model="scope.row.note_value"></el-input>
						      </template>
						    </el-table-column>

						    <el-table-column
						      label="Total (tk)"
						      prop="total"
						      >
						     <!--  <template scope="scope">
						      	{{  }}
						      </template> -->
						    </el-table-column>
						   
						</el-table>

			    	</div>
			    </el-tab-pane>
			</el-tabs>
		</el-col>
        

        

       
       
		

		
		<div class="col-sm-12">
			<div class="panel panel-default panel-table">
				<div class="panel-heading">Sales Report</div>

				<div class="panel-body">
					<table class="table">
					    <thead>
					      <tr>
					      	<th>Name</th>
					        <th v-for="col in assignColumns">{{col.name}}</th>
					        <th>Total</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr v-for="report in salesReport.reports">
					        <td >{{report.selected_customer.customer_shop_name}}</td>
					        <td v-for="total in report.productList">{{total.value}}</td>
					        <td> {{ makeTotalProduct(report.productList) }} </td>
					      </tr>
					      <!-- <tr>
					        <td ></td>
					        <td v-for="total in salesReport.reports">{{total}}</td>
					        <td> {{rowdata.amountTotal}} </td>
					      </tr> -->
					    </tbody>
					</table>
				</div>
			</div>

			<div class="text-center">
				<el-button @click="submitSalesReport" type="primary">Submit</el-button>
			</div>
		</div>
			<el-dialog
			  title="Create New Customer"
			  :visible.sync="dialogVisible"
			  width="30%"
			  :before-close="handleClose">
			   <div class="panel-body">
                   <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Shop Name">
                          <el-input v-model="form.customer_shop_name"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>

                    <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Proprietor Name">
                          <el-input v-model="form.customer_name"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>
                
                

                    <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Phone Number">
                          <el-input v-model="form.customer_phone_number"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>
                
                     <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Note (optional)">
                          <el-input type="textarea" v-model="form.customer_details"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>

                    <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Area">
                          <el-select v-model="form.area_id" filterable placeholder="Select An Area" @change="selectLocalArea">
                            <el-option
                              v-for="item in areas"
                              :key="item.value"
                              :label="item.area_name"
                              :value="item.id">
                            </el-option>
                          </el-select>
                        </el-form-item>
                      </el-form>
                    </el-col>

                   <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Local Area">
                          <el-select v-model="form.local_area_id" filterable placeholder="Select An Local Area">
                            <el-option
                              v-for="item in area_based_local_area"
                              :key="item.value"
                              :label="item.local_area_name"
                              :value="item.id">
                            </el-option>
                          </el-select>
                        </el-form-item>
                      </el-form>
                    </el-col>
                </div>
			  <span slot="footer" class="dialog-footer">
			    <el-button @click="dialogVisible = false">Cancel</el-button>
			    <el-button type="primary" @click="submitCreateCustomer">Confirm</el-button>
			  </span>
			</el-dialog>

	    </div>
	    

    </div>  
</template>

<script>

	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

	export default{
		name: 'tables',


		data() {
			return {
				salesReport: {
					sales_date: new Date(),
					selected_salesman: '',
					selected_area:'',
					selected_van: '',
					reports: []
				},
				formProduct: {
					selected_customer: '',
					local_area: '',
					local_area_id: '',
					cash_memo: '',
					total: '',
					productList: []
				},
				productData: [],
				activeName: 'first',
				area_based_local_area: [],
				labelPosition: 'top',
				form:{
					area_id: '',
					local_area_id: ''
				},
				dialogVisible: false,
                sales_date: '',
				event_time : new Date(),
				areas:[], //the areas data store here
				selected_area:'', //selected area
				customers:'',//customers data store here
				cash_memo: '',
				selected_customer:[],
				selected_van: [],
				selected_salesman: [],
				localArea:'',
				userData: [],
				rowDataValue: '',
				findAreaCustomers: {
					fields: 'customers{localarea}'
				},
				itemList: [
					{
						key: 1,
						col: '',
						value: '',
						kg: '',
						note: '',
						note_value: ''
					}
				],
				userList: [
					{
						user: 1,
						name: 'Rafsan'
					},
					{
						user: 2,
						name: 'jani'
					},
					{
						user: 3,
						name: 'poly'
					},
					{
						user: 4,
						name: 'putul'
					}
				],
				columns: [
					{
						id: 1,
						title: 'sp-500',
						amount: 10.00
					},
					{
						id: 2,
						title: 'sp-600',
						amount: 20.00
					},
					{
						id: 3,
						title: 'sp-700',
						amount: 30.00
					}
				],
				rowdata: {
					amountTotal:'',
					lastTotal:[],
					totalData: [],
					totalKg: ''
				}
			}
		},

		computed: {
			...mapGetters({
				assignVanData: 'salesreport/assignVanData',
				assignSalesman: 'salesreport/assignSalesman',
				assignColumns: 'salesreport/assignColumns',
				notify_users: 'roles/notify_users',
		        localareas: 'settings/localarea/localareas'
			}),
			eventTime() {
				let dateStr = moment(this.salesReport.sales_date).format('YYYY-MM-DD');
				return dateStr
			},
		},

		methods: {
			...mapActions({
				getVanData : 'salesreport/getVanData',
				getSalesmanData: 'salesreport/getSalesmanData',
				getColumnsData: 'salesreport/getColumnsData',
				getAuthorizeRolesUser: 'roles/getAuthorizeRolesUser',
          		getLocalArea : 'settings/localarea/fetch_local_data',
          		getFindAllLocalAreaById: 'settings/area/getFindAllLocalAreaById',
			}),
			addProductDetails() {
				if( !this.formProduct.selected_customer ) {
					elem.notify('warning', 'Customer not added!')
					return 
				}
				if( !this.formProduct.local_area ) {
					elem.notify('warning', 'Local Area not added!')
					return 
				}
		
				console.log(this.productData)
				this.formProduct.productList = this.productData
				console.log(this.formProduct)
				this.formProduct.total = this.makeTotalProduct(this.formProduct.productList)
				this.formProduct.selected_customer = this.formProduct.selected_customer.id
				this.salesReport.reports.push(this.formProduct)
				this.formProduct = {
					selected_customer: '',
					local_area: '',
					local_area_id: '',
					cash_memo: '',
					total: '',
					productList: []
				}
				this.getProductData()
				console.log(this.salesReport)
			},
			makeTotalProduct(product) {
				let sum = 0
				product.forEach(item => {
					sum += parseFloat(item.total)
				})
				return sum
			},
			makeTotalAmount(reports) {
				let sum = 0
				reports.forEach(item => {
					sum += this.makeTotalProduct(item.productList)
				})
				return sum
			},
			makeTotalKg(reports) {
				let sum = 0
				reports.forEach(item => {
					item.productList.forEach((Aitem) => {
					   sum += parseInt(Aitem.value) * parseFloat(Aitem.kg)
					})
				})
				return sum.toFixed(2)
			},
			makeTotal(scope) {

				scope.row.total = ((parseFloat(scope.row.kg)*parseInt(scope.row.value)*parseFloat(scope.row.amount)) + parseFloat(scope.row.note_value) || 0).toFixed(2) || 0
			},
			submitSalesReport() {
				if( !this.salesReport.sales_date ) {
					elem.notify('warning', 'Sales Date not added!')
					return 
				}
				if( !this.salesReport.selected_salesman ) {
					elem.notify('warning', 'Salesman not added!')
					return 
				}
				if( !this.salesReport.selected_area ) {
					elem.notify('warning', 'Area not added!')
					return 
				}
				if( !this.salesReport.selected_van ) {
					elem.notify('warning', 'Van not added!')
					return 
				}
				if( this.salesReport.reports.length < 1) {
					elem.notify('warning', 'Minimum Add a single report')
					return 
				}
				this.salesReport.total_amount = this.makeTotalAmount(this.salesReport.reports)
				this.salesReport.total_kg = this.makeTotalKg(this.salesReport.reports)
				this.salesReport.sales_date = this.eventTime
				this.salesReport.event_time = this.eventTime

				const sales_report_url = home.salesreport_create
				axios.post(sales_report_url,this.salesReport)
				     .then((response) => {
				     		this.$notify({
					          title: 'Success',
					          message: response.data.message,
					          type: 'success'
					        });
					        this.salesReport = {
					        	sales_date: new Date(),
								selected_salesman: '',
								selected_area:'',
								selected_van: '',
								reports: []
					        }
				     	// if(response.status === 200) {
				     	
				     	// }
				     })
				     .catch((e) => {})
				
			},
			submitCreateCustomer() {
				 const CustomersUpdateUrl = home.customer_create_update;
		          axios.post(CustomersUpdateUrl, this.form)
		               .then(response => {
		                  elem.notify('success', response.data.message);
		                  this.handleClose();
		                  this.form = {
		                  	area_id: '',
							local_area_id: ''
		                  }
		               })
		               .catch(e => {
		                  console.log(e.response);
		               })
			},
			selectLocalArea() {
				this.form.local_area_id = ''
          		const findUrl = home.area_find.replace('#id#', this.form.area_id);
				axios.get(findUrl, { params: { fields: 'localareas' }})
					 .then(response => {
					 	console.log(response)
					 	this.area_based_local_area = response.data.localareas;
					 })
					 .catch(e => {
					 	console.log(e.response)
					 })
			},
			handleClose() {
				this.dialogVisible = false
			},
			
			removeListItem(item){
				var index = _.findIndex(this.itemList,item)
                if (index !== -1) {
                   this.itemList.splice(index, 1);
                }
            },
			addItemList() {
				let value = _.nth(this.itemList, this.itemList.length - 1);
				let nextValue = value.key + 1
				this.itemList.push({
		          key: nextValue,
		          col: '',
		          value: '',
		          kg: '',
		          note: '',
		          note_value: ''
		        });
				console.log(this.itemList)
			},
			userDataChange() {
				console.log(this.userData)
			},
			columnsDataChange() {
			},
			submit() {
				let pushes = {
					customer_id: this.selected_customer.id,
					name: this.selected_customer.customer_name,
					local_area_id: this.selected_customer.local_area_id,
					cash_memo: this.cash_memo,
					data: [],
				}
				let dataItem = {}
				let mainItem = []
				let extraItem = 0
				_.forEach(this.assignColumns, (item, index) => {
					_.forEach(this.itemList, (items, ind) => {
						if(item.id == items.col) {
							mainItem.push(item.id)
						} else {
							extraItem++
						}
					})	
				})

				_.forEach(this.assignColumns, (item,index) => {
					let a = _.findIndex(mainItem, (items) => {
						return item.id === items
					})
					if(item.id === mainItem[a]) {
						let totals = _.findIndex(this.itemList, (items) => {
							return items.col === item.id
						})
						dataItem = {
							col: item.id,
							total: this.itemList[totals].value,
							subtotal: this.assignColumns[index].amount * this.itemList[totals].value,
							kg: this.assignColumns[index].kg * this.itemList[totals].value,
							note: this.itemList[totals].note,
							note_value: this.itemList[totals].note_value
						}
						console.log(dataItem)
						pushes.data.push(dataItem)
					} else {
						dataItem = {
							col: item.id,
							total: 0,
							subtotal: 0,
							kg: 0
						}
						pushes.data.push(dataItem)
					}
				})

				this.rowdata.totalData.push(pushes)
			
				
				let ist = 0
				_.forEach(this.rowdata.totalData, (item) => {
					let ts = 0
					let kgt = 0
					_.forEach(item.data, (t) => {
						ts += parseFloat(t.subtotal)
						kgt += parseFloat(t.kg)
					})
					item.total = ts
					item.kg = kgt
				})
				let finished = []
				_.forEach(this.rowdata.totalData, (item) => {
					_.forEach(item.data, (i) => {
						finished.push(parseInt(i.total))
					})
				})
				if(finished.length !== this.assignColumns.length) {
					let finishedData = _.chunk(finished, this.assignColumns.length);
					
					this.rowdata.lastTotal = []
					for(var i = 0; i< finishedData[0].length; i++) {
					  var m = 0
					  for(var j = 0; j< finishedData.length; j++ ) {
					    m += finishedData[j][i]
					  }
					  this.rowdata.lastTotal.push(m)
					}
					
				} else {
					_.forEach(finished, (i) => {
						this.rowdata.lastTotal.push(i)
					})
				}
				this.rowdata.amountTotal = 0
				this.rowdata.totalKg = 0
				_.forEach(this.rowdata.totalData, i => {
					this.rowdata.amountTotal += i.total
					this.rowdata.totalKg += i.kg
				})

				this.selected_customer = '';
				this.cash_memo = '';
				this.localArea = '';
				this.itemList= [
					{
						key: 1,
						col: '',
						value: '',
						note: '',
						note_value: ''
					}
				]
				
			},

			fatchData() {
				axios.get(home.area_show)
				.then(reponse=>{
					this.areas = reponse.data;  
				})
				.catch(e=>{
					console.log(e.reponse);
				})
			},
			changingArea(){
				const findUrl = home.area_find.replace('#id#', this.salesReport.selected_area);
				axios.get(findUrl, {params: this.findAreaCustomers})
					 .then(response => {
					 	this.customers = response.data.customers;
					 })
					 .catch(e => {
					 	console.log(e.response)
					 })

			},
			changingCustomer() {
				if(_.isObject(this.formProduct.selected_customer)){
					this.formProduct.local_area = this.formProduct.selected_customer.localarea.local_area_name;
					this.formProduct.local_area_id = this.formProduct.selected_customer.localarea.id;
				}
			},
			// submitSalesReport() {

			// 	_.forEach(this.rowdata.totalData, (item, index) => {
			// 		_.remove(item.data, (items, indexs) => {
			// 			return items.total == 0;
			// 		})
			// 	})

			// 	let CreateDataSet = {
			// 		salesman: this.selected_salesman,
			// 		area: this.selected_area,
			// 		van: this.selected_van,
			// 		sales_date: this.eventTime,
			// 		salesreport: this.rowdata.totalData,
			// 		total_amount: this.rowdata.amountTotal,
			// 		total_kg: this.rowdata.totalKg,
			// 		event_time: this.eventTime,
			// 		users: this.notify_users,
			// 	}

			// 	const sales_report_url = home.salesreport_create
			// 	axios.post(sales_report_url, CreateDataSet)
			// 	     .then((response) => {
			// 	     		this.$notify({
			// 		          title: 'Success',
			// 		          message: response.data.message,
			// 		          type: 'success'
			// 		        });
			// 		        this.selected_salesman = '';
			// 		        this.selected_area = '';
			// 		        this.selected_van = '';
			// 		        this.rowdata =  {
   //                           	amountTotal:'',
			// 					lastTotal:[],
   //                               totalData: [],
   //                               totalKg: ''
   //                       	}
			// 	     	// if(response.status === 200) {
				     	
			// 	     	// }
			// 	     })
			// 	     .catch((e) => {})
				     
			// 	console.log(this.rowdata.totalData)
			// },
			getProductData() {
				const quantity_url = home.quantity_show
				axios.get(quantity_url)
				     .then((res) => {
				     	res.data.forEach(item => {
				     		item.value = 0
				     		item.note = ''
				     		item.note_value = 0
				     		item.total = 0
				     	})

				     	this.productData = res.data
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			}
		},

		mounted() {
			this.getProductData()
			this.fatchData();
			this.getSalesmanData()
			this.getVanData();
			this.getColumnsData();
			this.getAuthorizeRolesUser();
		}
	}
</script>



<style scoped>
.space {
	margin-top: 30px;
}

/*Select boxes*/
.select-box > .inner_select_box{
	width: 100%;
}
</style>