<template>
    <div class="unload_assets">
        <div class="Stocks_view">
            <div class="be-content">
                <!--head-->
                <div class="page-head">
                    <div class="page-head-wrapper">
                        <h2 class="page-head-title">Blend</h2>
                        <ol class="breadcrumb page-head-nav">
                            <li><a href="#">Blend</a></li>
                            <li class="active">Preview</li>
                        </ol>
                    </div>
                </div>
                <!--/head-->

                <!--content-->
                <div class="main-content container-fluid" v-if="current == 'blend_preview_daily' || current == 'blend_preview_monthly_date' || current == 'blend_preview_yearly_month_date'">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <!--table-->
                            <div class="view-site">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">Blend preview
                                        <div class="tools">
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Total packs</th>
                                            </tr>

                                            </thead>
                                            <tbody>
                                            <tr v-for="data in tableData.blend_preview_daily" v-if="tableData.blend_preview_daily.length > 0">
                                                <td>{{data.id}}</td>
                                                <td>{{data.total_packs}}</td>

                                                <td >
                                                    <router-link v-if="current == 'blend_preview_daily'" :to="{ name: 'blend_preview_daily_id', params: { preview_date: $route.params.preview_date, id: data.id}}"><el-button type="primary" size="small">Preview</el-button></router-link>
                                                    <router-link v-if="current == 'blend_preview_monthly_date'" :to="{ name: 'blend_preview_monthly_date_id', params: {
							                          preview_month: $route.params.preview_month, preview_date: $route.params.preview_date, id: data.id}}"><el-button type="primary" size="small">Preview</el-button></router-link>
                                                    <router-link v-if="current == 'blend_preview_yearly_month_date'" :to="{ name: 'blend_preview_yearly_month_date_id', params: {
							                           preview_yearly: $route.params.preview_yearly,
							                          preview_month: $route.params.preview_month, preview_date: $route.params.preview_date, id: data.id}}"><el-button type="primary" size="small">Preview</el-button></router-link>
                                                    <el-button type="info" size="small">Export</el-button>
                                                </td>
                                            </tr>
                                            <tr v-if="tableData.length == 0" style="background: #ffbf2e">
                                                <td></td>
                                                <td style="text-align: center">No Data Available</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--/table-->
                        </div>
                    </div>
                </div>

                <div class="main-content container-fluid" v-if="current == 'blend_preview_daily_id' || current == 'blend_preview_monthly_date_id' || current == 'blend_preview_yearly_month_date_id'">
                    <div class="col-sm-12" >
                        <div class="panel panel-default panel-table">
                            <div class="panel-heading">Blend Lists</div>

                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Auction Date</th>
                                        <th>Broker Name</th>
                                        <th>Garden Name</th>
                                        <th>Lot no</th>
                                        <th>Grade</th>
                                        <th>Invoice no</th>
                                        <th>Packages</th>
                                        <th>Total kg</th>
                                        <th>Price per kg</th>
                                        <th>Blend</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in tableData.blend_preview_daily_id.blend_lists" v-if="Object.keys(tableData.blend_preview_daily_id).length > 0">
                                        <th>{{item.unload_asset_product_list.unload_asset.auction_date}}</th>
                                        <th>{{item.unload_asset_product_list.unload_asset.broker.broker_name}}</th>
                                        <th>{{item.unload_asset_product_list.garden.garden_name}}</th>
                                        <th>{{item.unload_asset_product_list.lot_no}}</th>
                                        <th>{{item.tea_grade.grade_name}}</th>
                                        <th>{{item.unload_asset_product_list.invoice_no}}</th>
                                        <th>{{item.unload_asset_product_list.packs}}</th>
                                        <th>{{item.unload_asset_product_list.total_kg}}</th>
                                        <th>{{item.unload_asset_product_list.per_price}}</th>
                                        <th>{{item.packs}}</th>


                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-content container-fluid" v-if="current == 'blend_preview_monthly' || current == 'blend_preview_yearly' || current == 'blend_preview_yearly_month' ">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">



                            <!--table-->
                            <div class="view-site">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">Blend History
                                        <div class="tools">
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>{{tableData.blend_preview_monthly.type}}</th>

                                                <th>Total packs</th>
                                                <th style="width:30%">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="data in tableData.blend_preview_monthly.data">
                                                <td>{{data.title}}</td>

                                                <td>{{data.value}}</td>
                                                <td >
                                                    <el-button v-if="current == 'blend_preview_monthly'" type="primary" size="small" @click="previewMonthlyDaily(data.type, data.title)">Preview</el-button>
                                                    <el-button v-if="current == 'blend_preview_yearly'" type="primary" size="small" @click="previewYearly(data.type, data.title)">Preview</el-button>
                                                    <el-button v-if="current == 'blend_preview_yearly_month'" type="primary" size="small" @click="previewYearlyDaily(data.type, data.title)">Preview</el-button>
                                                    <el-button type="info" size="small">Export</el-button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--/table-->
                        </div>
                    </div>
                </div>
                <!--/content-->
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        name:'purchacePreview',

        data() {
            return {
                tableData: {
                    blend_preview_daily: [],
                    blend_preview_daily_id: [],
                    blend_preview_monthly : [],
                },
                url : home.blend_search,
                current: this.$route.name,
                route_list : [
                    'blend_preview_daily_id',
                    'blend_preview_monthly_date_id',
                    'blend_preview_monthly_date',
                    'blend_preview_yearly_month_date_id',
                    'blend_preview_yearly_month_date',
                    'blend_preview_yearly_month'
                ]
            }
        },
        watch: {
            '$route' (to, from) {
                this.current = this.$route.name;
                this.checkRouteList()
            }
        },
        methods: {
            checkRouteList() {
                if(this.$route.name == 'blend_preview_daily') {
                    this.fetchDataPurchasePreviewDaily()
                }
                else if(this.$route.name == 'blend_preview_daily_id') {
                    this.fetchDataPurchaseListById()
                }
                else if (this.$route.name == 'blend_preview_monthly') {
                    this.fetchDataPurchaseMonthly();
                }
                else if(this.$route.name == 'blend_preview_monthly_date') {
                    this.fetchDataPurchasePreviewDaily();
                }
                else if(this.$route.name == 'blend_preview_monthly_date_id') {
                    this.fetchDataPurchaseListById();
                }
                else if(this.$route.name == 'blend_preview_yearly') {
                    this.fetchDataPurchaseYearly()
                }
                else if (this.$route.name == 'blend_preview_yearly_month') {
                    this.fetchDataPurchaseMonthly();
                }
                else if(this.$route.name == 'blend_preview_yearly_month_date') {
                    this.fetchDataPurchasePreviewDaily()
                }
                else if(this.$route.name == 'blend_preview_yearly_month_date_id') {
                    this.fetchDataPurchaseListById();
                }
            },
            purchaseDailyPreviewById(id) {
                this.$router.push({
                    name: 'blend_preview_daily_id',
                    params: {
                        preview_date: this.$route.params.preview_date,
                        id: id
                    }
                })
            },
            fetchDataPurchaseListById() {
                axios
                    .post(this.url , {id: this.$route.params.id})
                    .then((res) => {
                        console.log('res',res.data.data)
                        this.tableData.blend_preview_daily_id = res.data.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            fetchDataPurchasePreviewDaily() {
                axios
                    .post(this.url , {daily: this.$route.params.preview_date})
                    .then((res) => {
                        this.tableData.blend_preview_daily = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            fetchDataPurchaseMonthly() {
                axios
                    .post(this.url , {monthly: this.$route.params.preview_month})
                    .then((res) => {
                        console.log('res2',res.data.data);
                        this.tableData.blend_preview_monthly = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            previewMonthlyDaily(type, title) {
                this.$router.push({
                    name: 'blend_preview_monthly_date',
                    params: {
                        preview_month: this.$route.params.preview_month,
                        preview_date: title
                    }
                })
            },
            fetchDataPurchaseYearly() {
                axios
                    .post(this.url , {yearly: this.$route.params.preview_yearly})
                    .then((res) => {
                        this.tableData.blend_preview_monthly = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            previewYearly(type, title) {
                this.$router.push({
                    name: 'blend_preview_yearly_month',
                    params: {
                        preview_month: title,
                        preview_yearly: this.$route.params.preview_yearly
                    }
                })
            },
            previewYearlyDaily(type, title) {
                this.$router.push({
                    name: 'blend_preview_yearly_month_date',
                    params: {
                        preview_date: title,
                        preview_month: this.$route.params.preview_month,
                        preview_yearly: this.$route.params.preview_yearly
                    }
                })
            }

        },
        mounted() {
            this.checkRouteList();
        }

    }

</script>


<style lang="scss" scoped>


</style>