<template>
	<div class="dateViewBlend">
		<div class="be-content">
	        <div class="page-head">
	        	<div class="page-head-wrapper">
	        	  <h2 class="page-head-title">Blend</h2>
		          <ol class="breadcrumb page-head-nav">
		            <li><a href="#">Blend</a></li>
		            <li class="active">View</li>
		            <li>{{ dateFormat }}</li>
		          </ol>
	        	</div>

	        	<div class="main-content container-fluid">
	        		<div class="col-sm-10">
		              <div class="panel panel-default panel-table">
		                <div class="panel-heading"> Blend Log ({{ DateLog }})
		                  <!-- <div class="tools">
		                    <transition name="slide-fade">
		                      <div class="inline mr10px" v-if="searchbox">
		                        <el-input placeholder="Search Roles .." v-model="search"></el-input>
		                      </div>
		                    </transition>
		                    <div class="inline ">
		                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
		                     
		                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
		                    

		                      <el-tooltip content="Refresh" placement="top" effect="light" >
		                        <span class="icon mdi mdi-refresh-alt" ></span>
		                      </el-tooltip>

		                      <el-tooltip content="Add New Roles" placement="top" effect="light">
		                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
		                      </el-tooltip>
		                    </div>
		                  </div> -->
		                </div>
		                <div class="panel-body">
		                  <table class="table">
		                    <thead>
		                      <tr>
		                        <th style="width:30%;">Tea</th>
		                        <th style="width:30%">Tea Grade</th>
		                        <th style="width:30%">Packs</th>
		                      </tr>
		                    </thead>
		                    <tbody>
		                      <tr v-for="items in blendList">
		                        <td>{{items.tea.name}}</td>
		                        <td>{{items.tea_grade.grade_name}}</td>
		                        <td>{{items.packs}}</td>
		                      </tr>
		                    </tbody>
		                  </table>
		                </div>
		              </div>
		            </div>
	        	</div>
	         </div>
	    </div>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'date_view',
		data() {
			return {
				search_date: this.$route.params.date,
				blendList: []
			}
		},
		computed: {
			dateFormat() {
				return moment(this.search_date).format("DD-MM-YYYY")
			},
			DateLog() {
				return moment(this.search_date).format("Do MMM YYYY")
			}
		},
		methods: {
			fetchDateView() {
				const url = home.blend_by_date.replace('#date#', this.search_date)
				axios
					.get(url)
					.then((res) => {
						this.blendDataFormat(res.data.blend)
					})
					.catch((err) => {
						console.log(err)
					})
			},
			blendDataFormat(data) {
				this.blendList = []
				_.forEach(data, (blend) => {
					_.forEach(blend.blend_lists, (key,packs) => {
						this.blendList.push(key);
					})
				})
			}
		},
		mounted() {
			this.fetchDateView()
		}
	}
</script>