<template>
	<div class="blend_view">
		<div class="Stocks_view">
			<div class="be-content">
				<!--head-->
				<div class="page-head-wrapper">
					<h2 class="page-head-title">Blend</h2>
					<ol class="breadcrumb page-head-nav">
						<li><a href="#">Blend</a></li>
						<li class="active">View</li>
					</ol>
				</div>
				<!--/head-->

				<!--content-->
				<div class="main-content container-fluid">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">

							<!--radio group-->
							<div class="viewing-type-corner" style="">
								<div class="tools">
									<transition name="slide-fade">
										<div class="inline m-b-10" v-if="searchbox">
											<div class="block">

												<el-date-picker
													v-model="advance_search"
													type="month"
													placeholder="Pick a month"
													@change="advanceSearch">
												</el-date-picker>
											</div>
										</div>
									</transition>
									<div class="inline ">
										<el-button type="danger" size="mini" @click="searchboxShowOnOff" v-if="!searchbox">Advance</el-button>
										<span class="icon mdi mdi-close" @click="searchboxShowOnOff('close')" v-if="searchbox"></span>
									</div>
								</div>
								<el-radio-group v-model="blend_view_type" size="small" @change="fetch_data">
									<el-radio-button label="daily">Daily</el-radio-button>
									<el-radio-button label="monthly">Monthly</el-radio-button>
									<el-radio-button label="yearly">Yearly</el-radio-button>
								</el-radio-group>

							</div>

							<!--/radio group-->

							<!--table-->
							<div class="view-site">
								<div class="panel panel-default panel-table">
									<div class="panel-heading">Blend History
										<div class="tools">
										</div>
									</div>
									<div class="panel-body">
										<table class="table">
											<thead>
											<tr>
												<th>{{blend_view_type.toUpperCase()}}</th>
												<th>Type</th>
												<th>Total Packs</th>
												<th style="width:30%">Actions</th>
											</tr>
											</thead>
											<tbody>
											<tr v-for="data in tableData" v-if="tableData.length > 0">
												<td>{{data.title}}</td>
												<td>{{data.type}}</td>
												<td>{{data.value}}</td>
												<td >
													<el-button type="primary" size="small" @click="preview(data.title)">Preview</el-button>
													<el-button type="info" size="small">Export</el-button>
												</td>
											</tr>
											<tr v-if="tableData.length == 0" style="background: #ffbf2e">
												<td></td>
												<td style="text-align: center">No Data Available</td>
												<td></td>
												<td></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!--/table-->
						</div>
					</div>
				</div>
				<!--/content-->
			</div>
		</div>
	</div>
</template>
<script>
    export default {
        name: 'belndView',
        data() {
            return {
                advance_search:'',
                fetching_all_data:'',
                blend_view_type:'daily',
                tableData:[],
                searchbox:false,
                search:'',
                clicked: 0
            }
        },
        computed: {
            dateFormat() {
                return moment.parseZone(this.advance_search).local().format('YYYY-MM-DD');
            },
        },
        methods: {
            fetch_data() {
                if(this.purchase_view_type == 'advance') return;
                const url = home.blend_history.replace('#type#',this.blend_view_type);
                axios.get(url)
                    .then(response=> {
                        if(response){
                            console.log(response.data);
                            this.fetching_all_data = response.data;
                            this.tableData = this.fetching_all_data.data;
                        }
                    })
                    .catch(error=> {
                        console.log(error)
                    })
          },
            preview(title){
                if(this.fetching_all_data.type == 'daily') {
                    this.$router.push({
                        name: 'blend_preview_daily',
                        params: {
                            preview_date: title
                        }
                    })
                } else if(this.fetching_all_data.type == 'monthly') {
                    this.$router.push({
                        name: 'blend_preview_monthly',
                        params: {
                            preview_month: title
                        }
                    })
                }
                else if(this.fetching_all_data.type == 'yearly') {
                    this.$router.push({
                        name: 'blend_preview_yearly',
                        params: {
                            preview_yearly: title
                        }
                    })
                }
            },

            searchboxShowOnOff(param = false) {
                if(param == 'close') {
                    this.advance_search = '';
                    this.blend_view_type = 'daily'
                    this.clicked = 0
                    this.fetch_data()
                }
                this.searchbox = !this.searchbox;
            },

            advanceSearch() {
                const url = home.blend_history.replace('#type#', 'advance-'+this.dateFormat)
                axios
                    .get(url)
                    .then((res) => {
                        this.blend_view_type = 'advance';
                        this.tableData = res.data.data;
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        },
        mounted() {
            this.fetch_data()
        }
    }
</script>

<style lang="scss">
	.el-picker-panel {
		width: 308px !important;
	}
	.m-b-10 {
		margin-bottom:10px;
	}
</style>
