<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Product Line</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Product Line</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Product Line Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Product Line
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Product Line" v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="fetchdata"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Tea" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:40%;">Product Line</th>
                        <th style="width:20%;">Product Quantity Category</th>
                        <th style="width:30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in tabledata">
                        <td>{{data.name}}</td>
                        <td>{{data.quantities.length}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteTea(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <!-- Add New Tea -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Product
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Tea Name">
                        <el-input v-model="form.name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addTea">Add Product</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Tea -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Product Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Tea Name">
                        <el-input v-model="form.name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="updateTea">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
	export default {
		name: 'ProductLine',
    data() {
      return {
        labelPosition: 'top',
        form: {},
        search: '',
        searchbox: false,
        table: 0,
        tabledata: [],
        DupTableData: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'quantities'
        }
      }
    },

    watch: {
      search() {
        if(this.search.length >= 2) {
          this.tabledata.filter(item => {
            return item.Tea_name.includes(this.search)
          })

          console.log(this.tabledata)
        } else {
          this.tabledata = this.DupTableData
        }
      }
    },

    methods: {

      editAble(param) {
        this.form = param
      },

      searchboxShowOnOff() {
        this.searchbox = !this.searchbox
      },

      tableShowOnOff(param, data = false) {
        if(data) {
          this.editAble(data)
        }

        if( param == 0) {
          this.fetchdata()
          this.form = {}
        }
        console.log(this.form)
        this.table = param

      },
      addTea() {
        const AddTeaUrl = home.tea_create_update

        axios.post(AddTeaUrl, this.form)
             .then(response => {
                this.fetchdata()
                elem.notify('success', response.data.message)
                this.tableShowOnOff(0)
             })
             .catch(e => {
                console.log(e.response)
             })
      },

      deleteTea(id) {
        const TeaDeleteUrl = home.tea_remove.replace('#id#', id)
        axios.post(TeaDeleteUrl)
             .then(response => {
                this.fetchdata()
                elem.notify('success', response.data.message)
             })
             .catch(e => {
                elem.notify('error', e.response.data.message)
             })
      },

      updateTea() {
        
        this.form.tea_id = this.form.id
        this.addTea()
      },

      fetchdata() {
        const TeaFetchData = home.tea_show
        axios.get(TeaFetchData, {params: this.searchQuuries})
             .then(response => {
                this.tabledata = response.data.data
                this.DupTableData = response.data.data
             })
      }
    },

    mounted() {
      this.fetchdata()
    }
	}
</script>
