<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Products</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Products</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Products
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Products" v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="fetchdata"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Product" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:20%;">Product Line</th>
                        <th style="width:20%;"> Product Quantity</th>
                        <th style="width: 20%">Product Short Name</th>
                        <th style="width: 20%">Base Price</th>
                        <th style="width:20%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in tabledata">
                        <td>{{data.tea.name}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.short_name}}</td>
                        <td>{{data.amount}} tk</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteArea(data.id)"></el-button>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Product
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>


                <div class="panel-body" id="clear-body">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-row :gutter="15">
                      <el-col :span="12">
                        <el-form-item label="Select A Product Line">
                          <el-select v-model="form.tea_id" filterable placeholder="Select A Product Line">
                            <el-option
                                v-for="item in tea_list"
                                :key="item.slug"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                          </el-select>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Product Quantity Name">
                          <el-input v-model="form.name" placeholder="Quantity Name"></el-input>
                        </el-form-item>
                      </el-col>

                    </el-row>
                    <el-row :gutter="15">
                      <el-col :span="12">
                       <el-form-item label="Product Short Name">
                          <el-input v-model="form.short_name" placeholder="Short Name"></el-input>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Product Base Price">
                          <el-input v-model="form.amount" placeholder="Base Price">
                            <template slot="append">TK</template>
                          </el-input>
                        </el-form-item>
                      </el-col>

                    </el-row>
                    <el-row :gutter="15">
                      <el-col :span="12">
                        <el-form-item label="Product in Total Kg">
                          <el-input v-model="form.kg" placeholder="Enter Amount"></el-input>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <div class="info-btn">
                          <el-button type="primary" @click="add_new_tea_quantity"> SUBMIT </el-button>
                        </div>
                        
                      </el-col>
                    </el-row>
                   </el-form>
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Product
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>


                <div class="panel-body" id="clear-body">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-row :gutter="15">
                      <el-col :span="12">
                        <el-form-item label="Select A Product Line">
                          <el-select v-model="form.tea_id" filterable placeholder="Select A Product Line">
                            <el-option
                                v-for="item in tea_list"
                                :key="item.slug"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                          </el-select>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Product Quantity Name">
                          <el-input v-model="form.name" placeholder="Quantity Name"></el-input>
                        </el-form-item>
                      </el-col>

                    </el-row>
                    <el-row :gutter="15">
                      <el-col :span="12">
                       <el-form-item label="Product Short Name">
                          <el-input v-model="form.short_name" placeholder="Short Name"></el-input>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Product Base Price">
                          <el-input v-model="form.amount" placeholder="Base Price">
                            <template slot="append">TK</template>
                          </el-input>
                        </el-form-item>
                      </el-col>

                    </el-row>
                    <el-row :gutter="15">
                      <el-col :span="12">
                        <el-form-item label="Product Total in Kg">
                          <el-input v-model="form.kg" placeholder="Enter Amount"></el-input>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <div class="info-btn">
                          <el-button type="primary" @click="update_new_tea_quantity"> UPDATE </el-button>
                        </div>
                        
                      </el-col>
                    </el-row>
                   </el-form>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
  import {mapState,mapGetters,mapActions,mapMutations} from 'vuex';
	export default {
		name: 'TeaQuantity',
    data() {
      return {
        labelPosition: 'top',
        form: {
          tea_id: ''
        },
        search: '',
        searchbox: false,
        table: 0,
        tabledata: [],
        DupTableData: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 50,
          fields: 'tea'
        },
        selectOptions: []
      }
    },

    watch: {
      search() {
        if(this.search.length >= 2) {
          this.tabledata.filter(item => {
            return item.area_name.includes(this.search)
          })

          console.log(this.tabledata)
        } else {
          this.tabledata = this.DupTableData
        }
      }
    },

    computed: {
      ...mapGetters({
          tea_list :'settings/tea/all_tea'
      }),
    },

    methods: {

      ...mapActions({
        fetch_tea_list : 'settings/tea/getAllTea'
      }),

      add_new_tea_quantity() {
        const url = home.quantity_create_update;
        axios.post(url,this.form)
        .then(response => {
          elem.notify('success',response.data.message);
          this.fetchdata()
          this.tableShowOnOff(0);
        })
      },

      update_new_tea_quantity() {
        this.form.tea_quantity_id = this.form.id
        const url = home.quantity_create_update;
        axios.post(url,this.form)
        .then(response => {
          elem.notify('success',response.data.message);
          this.fetchdata()
          this.tableShowOnOff(0);
        })
      },

      editAble(param) {
        this.prepareLocalAreaAdd()
        this.form = param
      },

      searchboxShowOnOff() {
        this.searchbox = !this.searchbox
      },

      tableShowOnOff(param, data = false) {
        if(data) {
          this.editAble(data)
        }

        if(param == 0) {
          this.form = { tea_id : ''}
          this.fetchdata()
        }
        param == 1 ? this.prepareLocalAreaAdd() : null
        this.table = param

      },

      prepareLocalAreaAdd() {
        const AreaGetUrl = home.area_show
        axios.get(AreaGetUrl)
             .then(response => {
                console.log(response)
                this.selectOptions = response.data
             })
             .catch(e => {
                console.log(e.response)
             })
      },

      addLocalArea() {
        const AddLocalAreaUrl = home.local_area_create

        axios.post(AddLocalAreaUrl, this.form)
             .then(response => {
                elem.notify('success', response.data.message)
                this.tableShowOnOff(0)
             })
             .catch(e => {
                console.log(e.response)
             })
      },

      deleteArea(id) {
        const url = home.quantity_remove.replace('#id#', id)
        axios.post(url)
             .then(response => {
                this.fetchdata()
                elem.notify('success', response.data.message)
             })
             .catch(e => {
                elem.notify('error', e.response.data.message)
             })
      },

      updateLocalArea() {
        console.log(this.form.id)
        const AreaUpdateUrl = home.local_area_update.replace('#id#', this.form.id)
        console.log(AreaUpdateUrl)
        axios.post(AreaUpdateUrl, this.form)
             .then(response => {
                this.fetchdata()
                elem.notify('success', response.data.message)
                this.tableShowOnOff(0)
             })
             .catch(e => {
                console.log(e.response)
             })
      },

      fetchdata() {
        const QuantityFetchData = home.quantity_show
        axios.get(QuantityFetchData, {params: this.searchQuuries})
             .then(response => {
                this.tabledata = response.data.data
                this.DupTableData = response.data.data
             })
      }
    },

    mounted() {
      this.fetchdata()
      this.fetch_tea_list();
    }
	}
</script>


<style lang="scss">
  #clear-body {
    padding: 20px;
  }

  .info-btn {
    button {
      margin-top: 31px;
      width:100%;
    }
  }

</style>