<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Area</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Area</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-12" v-if="tabledata.length">
            <div class="col-md-4" v-for="customer in tabledata">
              <div class="panel panel-border-color panel-border-color-primary">
                <div class="panel-heading">{{customer.customer_name}}</div>
                <div class="panel-body">
                  <p> {{customer.customer_shop_name}} , {{customer.localarea.local_area_name}}</p>
                  <p>  </p>
                </div>
              </div>
            </div>    
          </div>

          <div class="blank-data" v-else>
            NO CUSTOMER FOUND UNDER THIS AREA.
          </div>
          
        </div>
      </div>
	</div>
</template>

<script>
	export default {
		name: 'area_customer',
    data() {
      return {
        labelPosition: 'top',
        form: {},
        search: '',
        searchbox: false,
        table: 0,
        tabledata: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'customers{localarea}'
        }
      }
    },

    watch: {
      search() {
        if(this.search.length >= 2) {
          this.tabledata.filter(item => {
            return item.area_name.includes(this.search)
          })

          console.log(this.tabledata)
        } else {
          this.tabledata = this.DupTableData
        }
      }
    },

    methods: {
      fetchdata() {
        const AreaFetchData = home.area_find.replace('#id#', this.$route.params.area_id);
        console.log('url',AreaFetchData);
        axios.get(AreaFetchData, {params: this.searchQuuries})
             .then(response => {
                this.tabledata = response.data.customers
             })
      }
    },

    mounted() {
      this.fetchdata()
    }
	}
</script>
<style lang="scss">
  .center {
    text-align: center;
  }

  .blank-data {
      padding:20px 0px;
      position:relative;
      border-left: 3px solid #FFC107;
      text-align: center;
      background: white;
      font-size:18px;
  }
</style>
