<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Area</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Area</li>
          </ol>
        </div>


        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Area
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Area" v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                      <!--<a :href="route_export"><el-button size="mini" icon="document" style="margin: 0 10px;">export all area</el-button></a>-->

                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>

                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="getAllArea(searchQuuries)"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Area" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body" v-if="com_areas_list.length"> 
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:40%;">Area Name</th>
                        <th style="width:20%;">Local Area's</th>
                        <th style="width:30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in com_areas_list">
                        <td>{{data.area_name}}</td>
                        <td>{{data.localareas.length}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" :disabled="deleteAble(data)" @click="remove_specific_area(data.id)"></el-button>
                          <!--<router-link :to="{name: 'area_customer', params: {area_id:data.id}}"><el-button size="small"><span class="icon mdi mdi-group"></span></el-button></router-link>-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="panel-body text-center" v-else style="font-size:18px; padding:30px; background:#e2e2e2;">
                    NO DATA FOUND
                </div>
              </div>
          </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Area
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Area Name">
                        <el-input v-model="form.area_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="add_new_area">Add Area</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Area Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Area Name">
                        <el-input v-model="form.area_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="updateArea">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
    </div>
	</div>
</template>

<script>

  import {mapState,mapGetters,mapActions,mapMutations} from 'vuex';

	export default {
		name: 'area',
    data() {
      return {
        labelPosition: 'top',
        route_export: home.area_export,
        form: {},
        search: '',
        searchbox: false,
        table: 0,
        DupTableData: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 50,
          fields: 'localareas'
        }
      }
    },
    computed: {
      ...mapGetters({
          areas_list :'settings/area/areas'
      }),

      com_areas_list() {
        return this.areas_list.filter(area=> {
          return area.area_name.toLowerCase().trim().includes(this.search);
        });
      }
    },



    methods: {
      ...mapActions({
        getAllArea: 'settings/area/getAllArea',
        addArea : 'settings/area/addArea',
        deleteArea : 'settings/area/deleteArea'
      }),
      ...mapMutations({
        notification : 'settings/area/notification',
      }),

      deleteAble(item) {
          return item.localareas.length > 0;
      },

      editAble(param) {
        this.form = param
      },

      searchboxShowOnOff() {
        this.searchbox = !this.searchbox
      },

      tableShowOnOff(param, data = false) {
        if(data) {
          this.editAble(data)
        }

        if(param == 0) {
          this.form = {}
          this.getAllArea(this.searchQuuries);
        }
        this.table = param

      },

      add_new_area() {
        const url = home.area_create.replace('#id#', this.form.id);
        axios.post(url, this.form)
               .then(response => {
                console.log(response);
                if(response){
                  this.notification({status: 'success', message:response.data.message});
                  this.getAllArea(this.searchQuuries);
                  this.tableShowOnOff(0);
                }
               })
               .catch(e => {
                  console.log(e.response);
               })
      },

     

      remove_specific_area(id) {
        this.deleteArea(id) ? (this.getAllArea(this.searchQuuries) ? this.tableShowOnOff(0) : null) : null;
      },

      updateArea() {
        const AreaUpdateUrl = home.area_update.replace('#id#', this.form.id)
        axios.post(AreaUpdateUrl, this.form)
             .then(response => {
                this.getAllArea(this.searchQuuries)
                elem.notify('success', response.data.message)
                this.tableShowOnOff(0)
             })
             .catch(e => {
                console.log(e.response)
             })
      },

      
    },

    mounted() {
      this.getAllArea(this.searchQuuries);
    }
	}
</script>

<style>
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }
  .export {
    margin: 0 10px;
  }
  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>