<template>
	<div class="assets_type">
		<div class="be-content">
	        <div class="page-head">
	          <h2 class="page-head-title">Assets type</h2>
	          <ol class="breadcrumb page-head-nav">
	            <li><a href="#">Home</a></li>
	            <li><a href="#">Settings</a></li>
	            <li class="active">Assets Type List</li>
	          </ol>
	        </div>


	        <div class="main-content container-fluid">

	          <!-- Show Area Table -->
	          <div class="col-sm-10" v-if="table == 0">
	              <div class="panel panel-default panel-table">
	                <div class="panel-heading">All Assets Type
	                  <div class="tools">
	                    <transition name="slide-fade">
	                      <div class="inline mr10px" v-if="searchbox">
	                        <el-input placeholder="Search Assets type .." v-model="search"></el-input>
	                      </div>
	                    </transition>
	                    <div class="inline ">
	                     <!--  <a :href="route_export"><el-button size="mini" icon="document" style="margin: 0 10px;">export all area</el-button></a> -->

	                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>

	                     
	                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
	                    

	                      <el-tooltip content="Refresh" placement="top" effect="light" >
	                        <span class="icon mdi mdi-refresh-alt" @click="getAllArea(searchQuuries)"></span>
	                      </el-tooltip>

	                      <el-tooltip content="Add New Assets type" placement="top" effect="light">
	                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
	                      </el-tooltip>
	                    </div>
	                  </div>
	                </div>
	                <div class="panel-body">
	                  <table class="table">
	                    <thead>
	                      <tr>
	                        <th style="width:18%;">Assets Name</th>
	                        <th style="width:10%;">Type</th>
	                         <th style="width:10%;">Ref</th>
	                        <th style="width:20%;">parent Name</th>
	                        <th style="width:30%">Actions</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                      <tr v-for="data in all_assets">
	                        <td>{{data.title}}</td>
	                        <td>{{data.type}}</td>
	                        <td>{{data.ref}}</td>
	                        <td>{{data.parent}}</td>
	                        <td >
	                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
	                          <el-button type="danger" size="small" icon="delete" @click="remove_specific_area(data.id)"></el-button>

	                        </td>
	                      </tr>
	                    </tbody>
	                  </table>
	                </div>
	              </div>
	          </div>


	            <!-- Add New Area -->
	            <div class="col-sm-10" v-if="table == 1">
	              <div class="panel panel-default panel-table">
	                <div class="panel-heading">Add New Area
	                  <div class="tools dropdown">

	                    <el-tooltip content="Close" placement="top" effect="light">
	                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
	                    </el-tooltip>
	                  </div>
	                </div>
	                <hr>
	                <div class="panel-body">
	                  <el-col :span="12" :offset="3">
	                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
	                      <el-form-item label="Area Name">
	                        <el-input v-model="form.area_name"></el-input>
	                      </el-form-item>
	                    </el-form>
	                  </el-col>
	                  <el-col :span="6" :offset="1">
	                    <div class="mt30px">
	                      <el-button type="primary" @click="add_new_area">Add Area</el-button>
	                    </div>
	                  </el-col>
	                </div>
	              </div>
	            </div>



	            <!-- Edit Area -->
	            <div class="col-sm-10" v-if="table == 3">
	              <div class="panel panel-default panel-table">
	                <div class="panel-heading">Edit Area Name
	                  <div class="tools dropdown">

	                    <el-tooltip content="Close" placement="top" effect="light">
	                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
	                    </el-tooltip>
	                  </div>
	                </div>
	                <hr>
	                <div class="panel-body">
	                  <el-col :span="12" :offset="3">
	                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
	                      <el-form-item label="Area Name">
	                        <el-input v-model="form.area_name"></el-input>
	                      </el-form-item>
	                    </el-form>
	                  </el-col>
	                  <el-col :span="6" :offset="1">
	                    <div class="mt30px">
	                      <el-button type="primary" @click="updateArea">Update</el-button>
	                    </div>
	                  </el-col>
	                </div>
	              </div>
	            </div>

	        </div>
    </div>
	</div>
</template>

<script>
	import { mapActions, mapGetters } from 'vuex';
	export default {
		name: 'assets_type',
		data() {
			return {
				labelPosition: 'top',
		        route_export: home.area_export,
		        form: {},
		        search: '',
		        searchbox: false,
		        table: 0,
		        DupTableData: [],
			}
		},
		computed: {
			...mapGetters({
				all_assets: 'settings/assets_type/all_assets'
			})
		},
		methods: {
			...mapActions({
				getAllAssetsType: 'settings/assets_type/getAllAssetsType'
			}),

			searchboxShowOnOff() {
		        this.searchbox = !this.searchbox
		    },

		    tableShowOnOff(param, data = false) {
		        if(data) {
		          this.editAble(data)
		        }
		        param == 0 ? this.form = {} : null
		        console.log(this.form)
		        this.table = param

		    },
		},
		mounted() {
			this.getAllAssetsType();
		}
	}
</script>


<style>
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }
  .export {
    margin: 0 10px;
  }
  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>