 <template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Local Area</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Local Area</li>
          </ol>
        </div>
        <div class="main-content container-fluid">
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Local Area
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Area .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                        <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="fetchdata(searchQuuries)"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Local Area" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body" v-if="com_local_areas_list.length">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:30%;"> Local Area Name</th>
                        <th style="width:20%;">Area Name</th>
                        <th style="width: 20%">Customers</th>
                        <th style="width:30%">Ations</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in com_local_areas_list">
                        <td>{{data.local_area_name}}</td>
                        <td>{{data.area.area_name}}</td>
                        <td>{{data.customers.length}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" :disabled="data.customers.length > 0" @click="deleteAreaBy(data.id)"></el-button>
                          <!--<router-link :to="{name: 'local_area_customers', params: {local_area_id:data.id}}">-->
                            <!--<el-button size="small"><span class="icon mdi mdi-group"></span></el-button>-->
                          <!--</router-link>-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                 <div class="panel-body text-center" v-else style="font-size:18px; padding:30px; background:#e2e2e2;">
                    NO DATA FOUND
                </div>
              </div>
            </div>


            
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Local Area
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body" id="clear-body">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-col :span="12" :offset="3">
                        <el-form-item label="Local Area Name">
                          <el-input v-model="form.local_area_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8" :offset="3">
                     <el-form-item label="Area Name">
                      <el-select v-model="form.area_id" filterable placeholder="Select An Area">
                          <el-option
                            v-for="item in selectOptions"
                            :key="item.value"
                            :label="item.area_name"
                            :value="item.id">
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                   </el-form>
                  <el-col :span="6" :offset="1">
                    <div>
                      <el-button type="primary" @click="addLocalArea(form)">Add Local Area</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Local Area Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>

                <div class="panel-body" id="clear-body">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-col :span="12" :offset="3">
                        <el-form-item label="Local Area Name">
                          <el-input v-model="form.local_area_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8" :offset="3">
                     <el-form-item label="Area Name">
                      <el-select v-model="form.area_id" filterable placeholder="Select An Area">
                          <el-option
                            v-for="item in selectOptions"
                            :key="item.value"
                            :label="item.area_name"
                            :value="item.id">
                            {{item.area_name}}
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                   </el-form>
                  <el-col :span="6" :offset="1">
                    <div>
                      <el-button type="primary" @click="update(form)">Update Local Area</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
  import {mapState,mapGetters,mapActions,mapMutations} from 'vuex';
	export default {
		name: 'local_area',
    data() {
      return {
        labelPosition: 'left',
        form: {
          area_id : ''
        },
        search: '',
        searchbox: false,
        table: 0,
        searchQuuries: {
          paginate: 'simple',
          per_page : 50,
          fields: 'area,customers'
        },
        
      }
    },


    computed: {

      ...mapGetters({
          local_areas_list : 'settings/localarea/localareas',
          selectOptions    : 'settings/localarea/selectOptions',
          visible          : 'settings/localarea/show'
      }),

      com_local_areas_list() {
        return this.local_areas_list.filter(item=>{
          return item.local_area_name_slug.match(this.search);
        })
      },
    },

    methods: {
      ...mapActions({
        fetchdata           : 'settings/localarea/fetch_local_data',
        prepareLocalAreaAdd : 'settings/localarea/prepareLocalAreaAdd',
        addNewLocalArea     : 'settings/localarea/addLocalArea',
        deleteArea          : 'settings/localarea/deleteArea',
        updateLocalArea     : 'settings/localarea/updateLocalArea'
      }),
      ...mapMutations({
        notification : 'settings/localarea/notification',
      }),

      deleteAreaBy(id) {
        const LocalAreaDeleteUrl = home.local_area_remove.replace('#id#', id)
        axios.post(LocalAreaDeleteUrl)
             .then(response => {
               elem.notify('success', response.data.message);
               this.tableShowOnOff(0);
             })
             .catch(e => {
                commit('notification',{status:'error', message: e.response.data.message});
             })
      },

      addLocalArea() {
          const AddLocalAreaUrl = home.local_area_create
          axios.post(AddLocalAreaUrl, this.form)
               .then(response => {
                  this.notification({status: 'success', message:response.data.message});
                  this.fetchdata(this.searchQuuries);
                  this.tableShowOnOff(0);
               })
               .catch(e => {
                  console.log(e.response);
               })
      },

      update() {
          const AreaUpdateUrl = home.local_area_update.replace('#id#', this.form.id);
          axios.post(AreaUpdateUrl, this.form)
               .then(response => {
                  this.notification({status :'success', message : response.data.message});
                  this.fetchdata(this.searchQuuries);
                  this.tableShowOnOff(0)
               })
               .catch(e => {
                  console.log(e.response);
               })
        },

      editAble(param) {
        this.prepareLocalAreaAdd()
        this.form = param
      },

      searchboxShowOnOff() {
        this.searchbox = !this.searchbox
      },

      tableShowOnOff(param, data = false) {
        if(data) {
          this.editAble(data)
        }

        if( param == 0) {
          this.form = { area_id: '' }
          this.fetchdata(this.searchQuuries);
        }

        param == 1 ? this.prepareLocalAreaAdd() : null

        this.table = param
      },

     
    },

    mounted() {
      this.fetchdata(this.searchQuuries);
    }
	}
</script>


<style>
  
  #clear-body {
    padding: 20px 0px;
  }

</style>