<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Local Area</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Local Area</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-12" v-if="customers.length">
            <div class="col-md-4" v-for="customer in customers">
              <div class="panel panel-border-color panel-border-color-primary">
                <div class="panel-heading">{{customer.customer_name}}</div>
                <div class="panel-body">
                  <p> {{customer.customer_shop_name}} , {{customer.localarea.local_area_name}}</p>
                  <p>  </p>
                </div>
              </div>
            </div>    
          </div>

          <div class="blank-data" v-else>
            NO CUSTOMER FOUND UNDER THIS LOCAL AREA.
          </div>
        </div>
      </div>
	</div>
</template>

<script>
  import {mapState,mapGetters,mapActions,mapMutations} from 'vuex';
	export default {
		name: 'localAreaCustomer',
    data() {
      return {
        labelPosition: 'top',
        form: {},
        search: '',
        searchbox: false,
        table: 0,
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'customers{localarea}'
        }
      }
    },

    computed: {
      ...mapGetters({
        customers : 'settings/localarea/customers',
      })
    },

    methods: {
      ...mapActions({
          fetchdata   : 'settings/localarea/getFindLocalArea'
      }),
      // fetchdata() {
      //   const AreaFetchData = home.local_area_find.replace('#id#', this.$route.params.local_area_id)
      //   axios.get(AreaFetchData, {params: this.searchQuuries})
      //        .then(response => {
      //           console.log(response)
      //           this.tabledata = response.data.customers
      //           console.log(this.tabledata)

      //        })
      // }
    },

    mounted() {
      this.fetchdata(
        {
          id :this.$route.params.local_area_id,
          query : this.searchQuuries
        }
      )
    }
	}
</script>
<style lang="scss">
  .center {
    text-align: center;
  }
  .blank-data {
      padding:20px 0px;
      position:relative;
      border-left: 3px solid #FFC107;
      text-align: center;
      background: white;
      font-size:18px;
  }
</style>
