<template>
	<div class="brokers">
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Brokers</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Brokers</li>
          </ol>
        </div>
        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Brokers
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Brokers .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="getAllBroker"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Brokers" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                            <th style="width:20%;">Broker Name</th>
                            <th style="width:20%;">Broker Address</th>
                            <th style="width:20%;">Broker Phone</th>
                            <th style="width:20%;">Broker Email</th>
                            <th style="width:20%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in broker">
                        <td>{{data.broker_name}}</td>
                        <td>{{data.broker_address}}</td>
                        <td>{{data.broker_phone_number}}</td>
                        <td>{{data.broker_email}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="removeBroker(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Broker
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                    <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                          <el-form-item label="Broker Name">
                            <el-input v-model="form.broker_name"></el-input>
                          </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Broker Address">
                                <el-input v-model="form.broker_address"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Broker Phone Number">
                                <el-input v-model="form.broker_phone_number"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-col>
                      <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                          <el-form-item label="Broker Email">
                            <el-input v-model="form.broker_email"></el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>


                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addOrUpdateBroker">Add Broker</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Broker Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Broker Name">
                        <el-input v-model="form.broker_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                    <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Broker Address">
                                <el-input v-model="form.broker_address"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Broker Phone Number">
                                <el-input v-model="form.broker_phone_number"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-col>
                      <el-col :span="12" :offset="3">
                        <el-form :label-position="labelPosition" label-width="100px" :model="form">
                          <el-form-item label="Broker Email">
                            <el-input v-model="form.broker_email"></el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>


                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addOrUpdateBroker">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
    </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

	export default {
		name: 'brokers',
		data() {
			return {
				labelPosition: 'top',
				table: 0,
				search: '',
				searchbox: false,
				form: {}
			}
		},
		computed: {
			...mapGetters({
				broker: 'settings/brokers/broker'
			})
		},
		methods: {
			...mapActions({
				getAllBroker: 'settings/brokers/GetAllBrokers',
				PostCreateBroker: 'settings/brokers/PostCreateBroker',
				GetRemoveBroker: 'settings/brokers/GetRemoveBroker'
			}),
			editAble(param) {
	        this.form = param
	        this.form.broker_id = param.id
	      },

	      searchboxShowOnOff() {
	        this.searchbox = !this.searchbox
	      },

	      tableShowOnOff(param, data = false) {
	        if(data) {
	          this.editAble(data)
	        }

          if(param == 0) {
            this.form = {}
            this.getAllBroker()
          }
	 
	        this.table = param
	      },
	      addOrUpdateBroker() {
	      	this.PostCreateBroker(this.form);
	      	this.getAllBroker();
	      	this.tableShowOnOff(0);
	      },
	      removeBroker(id) {
	      	this.GetRemoveBroker(id) ? (this.getAllBroker() ? this.tableShowOnOff(0) : null) : null
	      }
		},
		mounted() {
			this.getAllBroker()
		}
	}
</script>