<template>
	<div class="stock_view">
		<div>
			<div class="be-content">
		        <div class="page-head">
		          <h2 class="page-head-title">Stocks</h2>
		          <ol class="breadcrumb page-head-nav">
		            <li><a href="#">Stocks</a></li>
		            <li class="active">View</li>
		          </ol>
		        </div>
		    </div>

		    <el-col :offset="4" :span="18">
		    	
		    

			    <el-tabs v-model="activeName">
				    <el-tab-pane label="General" name="first">
				    	<div class="main-content container-fluid">
				    		<div class="panel panel-default panel-table" v-for="data in daily_data">
					                <div class="panel-heading">{{ current_date }} - {{ data.stock_name }}
					                	<div class="tools">

					                	</div>
					                </div>
			        				<div class="panel-body">
			        					<el-table
									      :data="data.stock_indices"
									      style="width: 100%">
									      <el-table-column
									        prop="stock_indices_name"
									        label="Product"
									        >
									      </el-table-column>
									       <el-table-column
									        label="Previous Balance"
									       >
									       	<template scope="scope">
									       		{{ scope.row.stocks[0].stocks_past_deposit || 0 }}
									       	</template>
									      </el-table-column>
									      <el-table-column
									        label="Deposit"
									       >
									       	<template scope="scope">
									       		{{ scope.row.stocks[0].stocks_new_deposit || 0 }}
									       	</template>
									      </el-table-column>
									      <el-table-column
									        label="Sold"
									       >
									       <template scope="scope">
									       		{{ scope.row.stocks[0].stocks_quantity_sold || 0 }}
									       	</template>
									      </el-table-column>
									      <el-table-column
									        label="Balance"
									       >
									       <template scope="scope">
									       		{{ scope.row.stocks[0].stocks_balance || 0 }}
									       	</template>
									      </el-table-column>
									    </el-table>
			        				</div>
			        		</div>
				    	</div>
				    </el-tab-pane>
				    <el-tab-pane label="Advance" name="second">
				    	<div class="main-content container-fluid">
				    		<div class="panel panel-default panel-table">
				                <div class="panel-heading">Purchase preview
				                	<div class="tools">
				                	</div>
				                </div>
		        				<div class="panel-body">
		        					<el-row>
		        						<el-col :span="6">
		        							<el-select clearable filterable v-model="form.index_id" clearable placeholder="Select" @change="getAdvanceSearch">
											    <el-option
											      v-for="item in StockIndexes"
											      :key="item.value"
											      :label="item.stock_indices_name"
											      :value="item.id">
											    </el-option>
											</el-select>
		        						</el-col>
		        						<el-col :offset="1" :span="6">
		        							<el-date-picker
										      v-model="form.date_range"
										      type="daterange"
										      placeholder="Pick a range"
										      @change="getAdvanceSearch">
										    </el-date-picker>
		        						</el-col>
		        					</el-row>
		        					<br>
		        					<el-row>
		        						<el-table
									      :data="advanceSearch"
									      style="width: 100%">
									      <el-table-column
									        prop="curent_date"
									        label="Date"
									        >
									      </el-table-column>
									       <el-table-column
									        label="Previous Balance"
									        prop="stocks_past_deposit"
									       >
									    
									      </el-table-column>
									      <el-table-column
									        label="Deposit"
									        prop="stocks_new_deposit"
									       >
									      
									      </el-table-column>
									       <el-table-column
									        label="Ref/Memo"
									        prop="stocks_new_deposit_cash_memo"
									       >
									      
									      </el-table-column>
									       <el-table-column
									        label="Sum"
									        prop="stocks_sum_deposit"
									       >
									      
									      </el-table-column>
									      <el-table-column
									        label="Sold"
									        prop="stocks_quantity_sold"
									       >
									      
									      </el-table-column>
									       <el-table-column
									        label="Ref/Memo"
									        prop="stocks_quantity_sold_cash_memo"
									       >
									      
									      </el-table-column>
									      <el-table-column
									      	prop="stocks_balance"
									        label="Balance"
									       >
									       
									      </el-table-column>
									    </el-table>
		        					</el-row>
		        				</div>
			        		</div>
				    	</div>
				    </el-tab-pane>
				</el-tabs>

			</el-col>

	        
	    </div>
	</div>
</template>

<script type="text/babel">
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name: 'stock_view',
		data() {
			return {
				activeName: 'first',
				daily_data: [],
				current_date: '',
				form: {
					index_id: '',
					date_range: [
						new Date(),
						new Date()
					]
				},
				advanceSearch: []
			}
		},
		computed: {
			startTime() {
				return moment(this.form.date_range[0]).format('YYYY-MM-DD')
			},
			endTime() {
				return moment(this.form.date_range[1]).format('YYYY-MM-DD')
			},
			...mapGetters({
	    		StockIndexes: 'stocks/StockIndexes',
	    	})
		},
		methods: {
			...mapActions({
	    		getStockIndex: 'stocks/getStockIndex',
	    	}),
	    	getAdvanceSearch() {
	    		if( ! this.form.index_id ) {
	    			return
	    		}
	    		let data = {
	    			index_id: this.form.index_id,
	    			start: this.startTime,
	    			end: this.endTime
	    		}
	    		const url = home.stock_advance_search
	    		axios.post(url, data)
	    		     .then((res) => {
	    		     	this.advanceSearch = res.data.stocks
	    		     	console.log(res.data)
	    		     })
	    		     .catch(err => {
	    		     	console.log(err)
	    		     })
	    	},
			getStockDailyData() {
				const url = home.stock_daily_data
				axios.get(url)
				     .then((res) => {
				     		res.data.daily_data.map((item) => {
				     			let n = item.stock_indices.filter((i) => {
				     				return i.stocks.length > 0
				     			})
				     			item.stock_indices = n
				     		})
				     		console.log(res.data.daily_data)
				     		this.daily_data = res.data.daily_data
				     		this.current_date = res.data.current_date
				     })
				     .catch((err) => {
				     		console.log(err)
				     })

			}
		},
		mounted() {
			this.getStockIndex()
			this.getStockDailyData()
		}
	}
</script>