<template>
	<div class="Stocks_view">
		<div class="be-content">

        <div class="page-head">
          <h2 class="page-head-title">Stocks</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Stocks</a></li>
            <li class="active">Category</li>
            <li class="active">Add</li>
          </ol>
        </div>

        <div class="main-content container-fluid">
			<div class="row">
				<!--Area dropdown box-->
				<div class="col-sm-4">
					<div class="select-box">
						<label class="block">Date</label>
						<el-date-picker type="date" placeholder="Select the date" v-model="stock_date" style="width: 100%;"></el-date-picker>
					</div>
				</div>
			</div>
        	<div class="row">

        		<!--Area dropdown box-->
        		<div class="col-sm-4">
        			<div class="select-box">
						<label class="block">Stock Index Name</label>
	        			<el-select 
		        			v-model="stock_index_id" 
		        			placeholder="Select Stock Index"
		        			class="inner_select_box"
							@change="stock_data()"
	        			>
						    <el-option
						      v-for="item in StockIndexes"
						      :key="item.id"
						      :label="item.stock_indices_name"
						      :value="item.id">
						    </el-option>

						</el-select>
        			</div>
        		</div>




        		
        		<!--Area dropdown box-->
        		<div class="col-sm-4" v-if="StockData.length > 0">
        			<div class="select-box">
						
						<label class="block">Past Deposit</label>

	        			<el-input

						  placeholder="Past Deposit"
						  v-model="StockLastDeposit"
						  :disabled="true"
						  >
						</el-input>
					</div>
        		</div>





        		<div class="col-sm-4">
        			<div class="select-box">
						
						<label class="block">New Deposit</label>

	        			<el-input
						  placeholder="New Deposit"
						  v-model="stock_new_deposit"
						  @change="stockSumDeposit"
						  >
						</el-input>
        			</div>
        		</div>
        	</div>	



			<div class="row space">
        		<!--Customer dropdown-->
        		<div class="col-sm-4">
        			<div class="select-box">
						<label class="block">New Deposit Cash Memo</label>
	        			<el-input
						  placeholder="New Deposit Cash Memo"
						  v-model="stock_new_deposit_cash_memo"
						  >
						</el-input>
        			</div>
        		</div>



        		<div class="col-sm-4">
        			<div class="select-box">
						<label class="block">Sum Deposit</label>
	        			<el-input
						  placeholder="Sum Deposit"
						  v-model="StockSumDeposit"
						  :disabled="true"
						  >
						</el-input>
        			</div>
        		</div>

        		<div class="col-sm-4">
        			<div class="select-box">
						<label class="block">New Sold</label>
	        			<el-input
						  placeholder="New Sold"
						  v-model="stock_new_sold"
						  @change="stockBalance"
						  >
						</el-input>
        			</div>
        		</div>
        	</div>


        	

			  

        	<div class="row space" >
				<div class="col-sm-4">
        			<div class="select-box">
						<label class="block">New Sold Cash Memo</label>
	        			<el-input
						  placeholder="New Sold Cash Memo"
						  v-model="stock_new_sold_cash_memo"
						>
						</el-input>
        			</div>
        		</div>

        		<div class="col-sm-4">
        			<div class="select-box">
						<label class="block">Stock Balance</label>
	        			<el-input
						  placeholder="Stock Balance"
						  v-model="StockBalance"
						  :disabled="true"
						  >
						</el-input>
        			</div>
        		</div>

        		<div class="col-sm-4">
        			<div class="select-box">
						<el-button type="primary" class="space" @click="submitReport" >Add Report</el-button>
        			</div>
        		</div>
				  
			</div>

        </div>

       
		

		
		<div class="col-sm-12" >
			<div class="panel panel-default panel-table">
				<div class="panel-heading">Stocks</div>

				<div class="panel-body">
					<table class="table">
					    <thead>
					      <tr>
					      	<th>Date</th>
					      	<th>Deposit(Past)</th>
					        <th>Deposit(New)</th>
					        <th>Deposit(Cash Memo)</th>
					        <th>Deposit(Sum)</th>
					        <th>Sold(New)</th>
					        <th>Sold(Cash Memo)</th>
					        <th>Stock Balance</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr v-for="item in StockData"> 
					      	<td>{{item.curent_date}}</td>
					      	<td>{{parseInt(item.stocks_past_deposit)}}</td>
					      	<td>{{parseInt(item.stocks_new_deposit)}}</td>
					      	<td>{{item.stocks_new_deposit_cash_memo}}</td>
					      	<td>{{parseInt(item.stocks_sum_deposit)}}</td>
					      	<td>{{parseInt(item.stocks_quantity_sold)}}</td>
					      	<td>{{item.stocks_quantity_sold_cash_memo}}</td>
					      	<td>{{parseInt(item.stocks_balance)}}</td>
					      </tr>
					    </tbody>
					</table>
				</div>
			</div>

			<!-- <div class="text-center">
				<el-button @click="submitSalesReport" type="primary">Submit</el-button>
			</div> -->
		</div>

	    </div>
    </div>  
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name: 'stock_view',
		data() {
			return {
				stock_index_id: '',
				stock_new_deposit: '',
				stock_new_deposit_cash_memo: '',
				stock_new_sold: '',
				stock_new_sold_cash_memo: '',
                stock_date:''

			}
		},
		computed: {
			...mapGetters({
				StockIndexes: 'stocks/StockIndexes',
				StockData: 'stocks/StockData',
				StockLastDeposit: 'stocks/StockLastDeposit',
				StockSumDeposit: 'stocks/StockSumDeposit',
				StockBalance: 'stocks/StockBalance',
				StockCurrentDate: 'stocks/StockCurrentDate'
			}),
	
		},
		methods: {
			...mapMutations({
				setStockSumDeposit: 'stocks/setStockSumDeposit',
				setStockBalance: 'stocks/setStockBalance'
			}),
			...mapActions({
				getStockIndex : 'stocks/getStockIndex',
				getStockIndexData: 'stocks/getStockIndexData',
				postStocksData: 'stocks/postStocksData'
			}),
			stock_data() {
				this.getStockIndexData(this.stock_index_id)
			},
			stockSumDeposit() {
				this.setStockSumDeposit(this.stock_new_deposit)
				this.setStockBalance(-this.stock_new_sold)
			},
			stockBalance() {
				this.setStockBalance(this.stock_new_sold)
			},
			submitReport() {
				let data = {
					stock_indices_id: this.stock_index_id,
					curent_date:  moment(this.stock_date).format('YYYY-MM-DD'),
					stocks_past_deposit: this.StockLastDeposit > 0 ? this.StockLastDeposit : 0,
					stocks_new_deposit: this.stock_new_deposit.length > 0 ? parseInt(this.stock_new_deposit) : 0,
					stocks_new_deposit_cash_memo: this.stock_new_deposit_cash_memo.length > 0 ? this.stock_new_deposit_cash_memo : '',
					stocks_sum_deposit: this.StockSumDeposit > 0 ? this.StockSumDeposit : 0,
					stocks_quantity_sold: this.stock_new_sold.length > 0 ? parseInt(this.stock_new_sold) : 0,
					stocks_quantity_sold_cash_memo: this.stock_new_sold_cash_memo.length > 0 ? this.stock_new_sold_cash_memo : '',
					stocks_balance: this.StockBalance > 0 ? this.StockBalance : 0
				}

				this.postStocksData(data)
				this.getStockIndexData(this.stock_index_id)
				this.stock_index_id= ''
				this.stock_new_deposit= ''
				this.stock_new_deposit_cash_memo= ''
				this.stock_new_sold= ''
				this.stock_new_sold_cash_memo= ''

			}
		},
		mounted() {
			this.getStockIndex()
		}
	}
</script>

<style>
.el-select {
	width:100%;
}
.space {
	margin-top: 24px;
}
</style>