<template>
	<div>
		<div class="be-content">

        <div class="page-head">
          <h2 class="page-head-title">Salesmans</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Salesmans</li>
          </ol>
        </div>


        <div class="main-content container-fluid">
          <!-- Show Salesmans Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Salesmans
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Salesmans .." v-model="search"></el-input>
                      </div>
                    </transition>


                    <div class="inline ">
                      <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" ></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Salesmans" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>


                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:30%;">Salesman Name</th>
                        <th style="width:30%;">Salesman Phone Number</th>
                        <th style="width:40%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in salesmans">
                        <td>{{data.user.name}}</td>
                        <td>{{data.salesman_phone_number}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteSalesmans(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>


          <!-- Add New Salesmans -->
          <div class="col-sm-10" v-if="table == 1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">Add New Salesmans
                <div class="tools dropdown">
                  <el-tooltip content="Close" placement="top" effect="light">
                    <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                  </el-tooltip>
                </div>
              </div>
              <el-tabs v-model="activeNameTab" >
                  <el-tab-pane label="Add Existing User" name="first">
                     <div class="panel-body">
                        <el-col :span="12" :offset="3">
                          <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Salesmans Name">
                              <el-select v-model="salesman" filterable placeholder="Select An User">
                                <el-option
                                  v-for="item in active_user_list"
                                   :disabled="item.status"
                                  :key="item.id"
                                  :label="item.name"
                                  :value="item.id">
                                </el-option>
                              </el-select>
                            </el-form-item>
                          </el-form>
                        </el-col>

                        <el-col :span="12" :offset="3">
                          <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Salesmans Phone Number">
                              <el-input v-model.number="form.salesman_phone_number"></el-input>
                            </el-form-item>
                          </el-form>
                        </el-col>
                        

                        <el-col :span="6" :offset="1">
                          <div class="mt30px">
                            <el-button type="primary" @click="addSalesmans">Add Salesmans</el-button>
                          </div>
                        </el-col>
                      </div>
                  </el-tab-pane>
                  <el-tab-pane label="Add New User" name="second">
                    <div class="panel-body">
                      <el-col :span="12" :offset="3">
                          <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Salesman Name">
                              <el-input v-model="form.user_name"></el-input>
                            </el-form-item>
                          </el-form>
                      </el-col>
                      <el-col :span="12" :offset="3">
                          <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Salesman email">
                              <el-input v-model="form.user_email"></el-input>
                            </el-form-item>
                          </el-form>
                      </el-col>
                      <el-col :span="12" :offset="3">
                          <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Password">
                              <el-input v-model="form.password" type="password"></el-input>
                            </el-form-item>
                          </el-form>
                      </el-col>
                      <el-col :span="12" :offset="3">
                          <el-form :label-position="labelPosition" label-width="100px" :model="form">
                            <el-form-item label="Phone Number">
                              <el-input v-model="form.phone_number"></el-input>
                            </el-form-item>
                          </el-form>
                      </el-col>
                      <el-col :span="6" :offset="1">
                          <div class="mt30px">
                            <el-button type="primary" @click="submitSalesman">Add Salesmans</el-button>
                          </div>
                        </el-col>
                    </div>
                  </el-tab-pane>
              </el-tabs>
             
            </div>
          </div>



            <!-- Edit Salesmans -->
            <div class="col-sm-10" v-if="table == 3">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">Edit Salesmans
                <div class="tools dropdown">
                  <el-tooltip content="Close" placement="top" effect="light">
                    <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                  </el-tooltip>
                </div>
              </div>
              <hr>
              <div class="panel-body">
                <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Salesmans Name">
                      <el-select v-model="salesman" filterable placeholder="Select An User">
                        <el-option
                          v-for="item in active_user_list"
                          :disabled="item.status"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                </el-col>

                <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Salesmans Phone Number">
                      <el-input v-model="form.salesman_phone_number"></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>
                

                <el-col :span="6" :offset="1">
                  <div class="mt30px">
                    <el-button type="primary" @click="updateSalesmans">update Salesmans</el-button>
                  </div>
                </el-col>
              </div>
            </div>
          </div>

        </div>
      </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name: 'Salesmans',
    data() {
      return {
        activeNameTab: 'first',
        labelPosition: 'top',
        salesman: '',
        localarea: '',
        form: {},
        search: '',
        searchbox: false,
        table: 0,
        DupTableData: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'localSalesmanss'
        }
      }
    },

    computed: {
      ...mapGetters({
       		users: 'settings/salesman/users',
       		salesmans: 'settings/salesman/salesmans'
      }),

      salesman_list() {
        let arr = []
        this.salesmans.forEach((item) => {
          arr.push(item.user_id)
        })
        return arr;
      },
      active_user_list() {
        let salesmans = this.salesman_list
         salesmans.forEach((item) => {
           this.users.forEach((user) => {
            if(item == user.id) {
              user.status = true
            } 
          })
        })
         return this.users

      },

      user_list(){
        // return this.users.map(item => {
        //     if(this.salesmans.length) {
        //         this.salesmans.map(salesman => {
        //           return item['status'] = (salesman.user.id == item.id);
        //         } )
        //     }else {
        //       return item['status'] = false;
        //     }
        // });
      }
    },

    watch: {
      search() {
        if(this.search.length >= 2) {
          this.tabledata.filter(item => {
            return item.Salesmans_name.includes(this.search)
          })

          console.log(this.tabledata)
        } else {
          this.tabledata = this.DupTableData
        }
      }
    },

    methods: {
    	  ...mapActions({
    		    getAllsalesman: 'settings/salesman/getAllsalesman',
    		    getAllUsers: 'settings/salesman/getAllUsers',
    	   }),

        submitSalesman() {
          const root = home.salesman_new_create
          const data = {
            ...this.form
          }
          axios
              .post(root, data)
              .then((response) => {
                  this.getAllsalesman()
                  elem.notify('success', response.data.message)
                  this.tableShowOnOff(0)
                  this.activeNameTab = 'first'
              })
              .catch((err) => {
                  console.log(err)
              })
        },

        postCreateSalesman(data) {
          const root = home.salesman_create
          axios
            .post(root, data)
            .then((response) => {
              this.getAllsalesman()
              elem.notify('success', response.data.message)
            })
            .catch((error) => {
              console.log('error')
            })
        },

        selectLocalArea() {
          this.getFindAllLocalAreaById(this.area)
        },

	      editAble(param) {
	        this.form = param
          this.salesman = param.user_id
	      },
	      searchboxShowOnOff() {
	        this.searchbox = !this.searchbox
	      },
	      tableShowOnOff(param, data = false) {
          console.log('data', data);

	        if(data) {
	          this.editAble(data)
	        }

          if( param == 0) {
            this.form = {}
            this.salesman = ''
            this.getAllsalesman()
          }
	        this.table = param

	      },
	      addSalesmans() {
          this.form.user_id = this.salesman
          this.postCreateSalesman(this.form)
          this.tableShowOnOff(0)
	      },

        updateSalesmans() {
          this.form.user_id = this.salesman
          this.form.salesman_id = this.form.id
          this.postCreateSalesman(this.form)
          this.tableShowOnOff(0)
        },

	      deleteSalesmans(id) {
	        const SalesmansDeleteUrl = home.salesman_remove.replace('#id#', id)
	        axios.post(SalesmansDeleteUrl)
	             .then(response => {
	                this.getAllsalesman()
                  elem.notify('success', response.data.message)
                  this.tableShowOnOff(0)
	             })
	             .catch(e => {
	                elem.notify('error', e.response.data.message)
	             })
	      },
	    },

	    mounted() {
       		this.getAllsalesman()
       		this.getAllUsers()
	    }
	}
</script>

<style>
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }

  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>