<template>
	<div>
		<div class="be-content">
        <!--page head-->
        <div class="page-head">
          <h2 class="page-head-title">Customers</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li class="active">Customers</li>
          </ol>
        </div>
        <!--/page head-->

        <div class="main-content container-fluid">
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">All Customers
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Customers .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                      <a :href="export_url"><el-button icon="download" size="mini"></el-button></a>
                      <!--search icon-->
                      <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     <!--close icon-->
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                      <!--refresh icon-->
                      <el-tooltip content="Refresh" placement="top" effect="light">
                          <span type="submit" class="icon mdi mdi-refresh-alt" @click="getAllCustomers"></span>
                      </el-tooltip>
                      <el-tooltip content="Add New Customers" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body" v-if="customers.length">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:20%;">Shop Name</th>
                        <th style="width:20%;">Propitor Name</th>
                        <th style="width:15%;">Phone Number</th>
                        <th style="width:15%;">Area</th>
                        <th style="width:15%;">Local Area</th>
                        <th style="width:40%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in customers">
                        <td>{{data.customer_shop_name}}</td>
                        <td>{{data.customer_name}}</td>
                        <td>{{data.customer_phone_number}}</td>
                        <td>{{data.area.area_name}}</td>
                        <td>{{data.localarea.local_area_name}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteCustomers(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel-body text-center" v-else style="font-size:18px; padding:30px; background:#e2e2e2;">
                    NO DATA FOUND
                </div>
              </div>
          </div>


          <!-- Add New Customers -->
          <div class="col-sm-10" v-if="table == 1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">Add New Customers
                <div class="tools dropdown">

                  <el-tooltip content="Close" placement="top" effect="light">
                    <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                  </el-tooltip>
                </div>
              </div>
              <hr>
              <div class="panel-body">

                <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Proprietor Shop Name">
                      <el-input v-model="form.customer_shop_name"></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>

                <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Proprietor Name">
                      <el-input v-model="form.customer_name"></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>
                
                

                <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Proprietor Phone Number">
                      <el-input v-model="form.customer_phone_number"></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>
                
                 <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Note (optional)">
                      <el-input type="textarea" v-model="form.customer_details"></el-input>
                    </el-form-item>
                  </el-form>
                </el-col>

                <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Proprietor Area">
                      <el-select v-model="form.area_id" filterable placeholder="Select An Area" @change="selectLocalArea">
                        <el-option
                          v-for="item in areas"
                          :key="item.value"
                          :label="item.area_name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                </el-col>

               <el-col :span="12" :offset="3">
                  <el-form :label-position="labelPosition" label-width="100px" :model="form">
                    <el-form-item label="Proprietor Local Area">
                      <el-select v-model="form.local_area_id" filterable placeholder="Select An Local Area">
                        <el-option
                          v-for="item in area_based_local_area"
                          :key="item.value"
                          :label="item.local_area_name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                </el-col>

                <el-col :span="6" :offset="1">
                  <div class="mt30px">
                    <el-button type="primary" @click="addCustomers">Add Customers</el-button>
                  </div>
                </el-col>
              </div>
            </div>
          </div>



            <!-- Edit Customers -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Customers Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                   <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Shop Name">
                          <el-input v-model="form.customer_shop_name"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>

                    <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Proprietor Name">
                          <el-input v-model="form.customer_name"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>
                
                

                    <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Phone Number">
                          <el-input v-model="form.customer_phone_number"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>
                
                     <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Note (optional)">
                          <el-input type="textarea" v-model="form.customer_details"></el-input>
                        </el-form-item>
                      </el-form>
                    </el-col>

                    <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Area">
                          <el-select v-model="form.area_id" filterable placeholder="Select An Area" @change="selectLocalArea">
                            <el-option
                              v-for="item in areas"
                              :key="item.value"
                              :label="item.area_name"
                              :value="item.id">
                            </el-option>
                          </el-select>
                        </el-form-item>
                      </el-form>
                    </el-col>

                   <el-col :span="12" :offset="3">
                      <el-form :label-position="labelPosition" label-width="100px" :model="form">
                        <el-form-item label="Customers Local Area">
                          <el-select v-model="form.local_area_id" filterable placeholder="Select An Local Area">
                            <el-option
                              v-for="item in area_based_local_area"
                              :key="item.value"
                              :label="item.local_area_name"
                              :value="item.id">
                            </el-option>
                          </el-select>
                        </el-form-item>
                      </el-form>
                      <el-button type="primary" @click="updateCustomers">Update</el-button>
                    </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'

	export default {
		name: 'Customers',
    data() {
      return {
        export_url : home.customer_export,
        labelPosition: 'top',
        area: '',
        localarea: '',
        form: {
          area_id: '',
          local_area_id: ''
        },
        search: '',
        searchbox: false,
        table: 0,
        DupTableData: [],
        searchQuuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'localareas'
        },
        localAreaSearchQuries: {
          paginate: 'simple',
          per_page : 10,
          fields: 'area,customers'
        },
      }
    },

    computed: {
      ...mapGetters({
        areas: 'settings/area/areas',
        customers: 'settings/customers/customers',
        localareas: 'settings/localarea/localareas'
      }),
      area_based_local_area() {
        return this.localareas.filter(item => {
          return item.area.id === this.form.area_id;
        })
      }
    },

    watch: {
      search() {
        if(this.search.length >= 2) {
          this.tabledata.filter(item => {
            return item.Customers_name.includes(this.search)
          })

          console.log(this.tabledata)
        } else {
          this.tabledata = this.DupTableData
        }
      }
    },

    methods: {
    	  ...mapActions({
    		  getArea: 'settings/area/getAllArea',
          getLocalArea : 'settings/localarea/fetch_local_data',
          getAllCustomers: 'settings/customers/getAllCustomers',
          getFindLocalArea: 'settings/localarea/getFindLocalArea',
          getFindAllLocalAreaById: 'settings/area/getFindAllLocalAreaById',
    	   }),


        postCreateCustomer( data) {
            const root = home.customer_create_update
            axios.post(root, data)
              .then((response) => {
                this.getAllCustomers();
                elem.notify('success', response.data.message)
              })
              .catch((error) => {
                console.log('error')
              })
        },
        selectLocalArea() {
          this.form.local_area_id = ''
          this.getFindAllLocalAreaById(this.form.area_id)
        },

	      editAble(param) {
          console.log('param',param);
	        this.form = param;
	      },

	      searchboxShowOnOff() {
	        this.searchbox = !this.searchbox
	      },

	      tableShowOnOff(param, data = false) {
	        if(data) {
	          this.editAble(data)
	        }
	        
          if ( param == 0 ) {
            this.form = {
              area_id: '',
              local_area_id: ''
            }
            this.getAllCustomers();
          }

	        this.table = param

	      },
	      addCustomers() {
          const CustomersUpdateUrl = home.customer_create_update;
          axios.post(CustomersUpdateUrl, this.form)
               .then(response => {
                  elem.notify('success', response.data.message);
                  this.tableShowOnOff(0);
               })
               .catch(e => {
                  console.log(e.response);
               })

	      },

	      deleteCustomers(id) {
	        const CustomersDeleteUrl = home.customer_remove.replace('#id#', id)
	        axios.post(CustomersDeleteUrl)
	             .then(response => {
	                this.getAllCustomers();
	                elem.notify('success', response.data.message)
	             })
	             .catch(e => {
	                elem.notify('error', e.response.data.message)
	             })
	      },

	      updateCustomers() {
          this.form.customer_id = this.form.id;
	        const CustomersUpdateUrl = home.customer_create_update;
	        axios.post(CustomersUpdateUrl, this.form)
	             .then(response => {
	                this.getAllCustomers();
	                elem.notify('success', response.data.message);
	                this.tableShowOnOff(0);
	             })
	             .catch(e => {
	                console.log(e.response);
	             })
	      }
	    },

	    mounted() {
        this.getAllCustomers()
	      this.getArea(this.searchQuuries);
        this.getLocalArea(this.localAreaSearchQuries);
        
	    }
	}
</script>

<style>
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }

  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>