<template>
	<div class="journal_entries">
		<div class="be-content">
				<!--head-->
		        <div class="page-head">
		        	<div class="page-head-wrapper">
		        	  <h2 class="page-head-title">Account Record</h2>
			          <ol class="breadcrumb page-head-nav">
			            <li><a href="#">Home</a></li>
			            <li>Account</li>
			            <li class="active">View</li>
			          </ol>
		        	</div>
		        </div>

		        <div class="main-content container-fluid">
		        	<div class="row">
		        		<div class="col-sm-10 col-sm-offset-1">
							<!--table-->
		        			<div class="view-site">
		        				<div class="panel panel-default panel-table">
					                <div class="panel-heading">Account record preview
					                	<div class="tools">
					                	</div>
					                </div>	
			        				<div class="panel-body">
			        					<table class="table">
					                    	<thead>
							                      <tr>
							                        <th>Particulars</th>
							                        <th>Ref</th>
							                        <th>Debit</th>
							                        <th>Credit</th>
													<th>Notes</th>
							                 
							                      </tr>
					                    	</thead>
					                    	<tbody>
							                      <tr v-for="data in tableData.account_preview_daily" v-if="tableData.account_preview_daily.length > 0">
							                        <td>{{data.particulars}}</td>
							                        <td>{{data.ref}}</td>
							                        <td>{{data.debit}}</td>
							                        <td>{{data.credit}}</td>
							                        <td>{{data.notes}}</td>
							            
							                
							                      </tr>
							                      <tr v-if="tableData.length == 0" style="background: #ffbf2e">
							                      	<td></td>
							                      	<td style="text-align: center">No Data Available</td>
							                      	<td></td>
							                      	<td></td>
							                      </tr>
					                    	</tbody>
					                  	</table>
			        				</div>
			        			</div>	
		        			</div>
		        			<!--/table-->
		        		</div>
		        	</div>
		        </div>
		</div>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'journal_entries',
		data() {
			return {
				url : home.account_search,
				current: this.$route.name,
				tableData:{
					account_preview_daily: []
				}
			}
		},
		watch: {
		    '$route' (to, from) {
		    	this.current = this.$route.name;
		     	this.fetchDataAccountPreviewDaily()
		    }
		 },
		methods: {
			fetchDataAccountPreviewDaily() {
				axios
					.post(this.url , {daily: this.$route.params.preview_date})
					.then((res) => {
						_.forEach(res.data, (item) => {
							let arr1 = {
								particulars: item.assets_type_debit.title,
								ref: item.assets_type_debit.ref,
								debit: item.amount,
								credit: '',
								notes: item.notes
							}
							this.tableData.account_preview_daily.push(arr1)
							let arr2 = {
								particulars: item.assets_type_credit.title,
								ref: item.assets_type_credit.ref,
								debit: '',
								credit: item.amount,
								notes: item.notes
							}
							this.tableData.account_preview_daily.push(arr2)
						})
					})
					.catch((err) => {
						console.log(err)
					})
			},
		},
		mounted(){
			this.fetchDataAccountPreviewDaily();
		}
	}
</script>