<template>
	<div class="unload_assets">
		<div class="Stocks_view">
			<div class="be-content">
		        <div class="page-head">
		        	<div class="page-head-wrapper">
		        	  <h2 class="page-head-title">Purchase</h2>
			          <ol class="breadcrumb page-head-nav">
			            <li><a href="#">Purchase</a></li>
			            <li class="active">Add</li>
			          </ol>
		        	</div>

		        	<div class="switch pull-right">
		        		<el-switch
						  v-model="switch_status"
						  active-color="#13ce66"
						  inactive-color="#ff4949">
						</el-switch>
		        	</div>
		          
		        </div>

				
		        <div class="main-content container-fluid" v-if="switch_status">
		        	<div class="row">
		        		<div class="col-sm-12">
		        			<el-col :offset="18" :span="8">
		        				<el-button type="primary" size="mini" @click="dialogVisibleBroker = true">+ Add Broker</el-button>
		        				<el-button type="primary" size="mini" @click="dialogVisibleGarden = true">+ Add Garden</el-button>
		        				<el-button type="primary" size="mini" @click="dialogVisibleTeaGrade = true">+ Add Tea Grade</el-button>
		        			</el-col>
		        		</div>
		        	</div>
		        	<br>
					<div class="row">

						<div class="col-sm-3">
							<div class="block">
							    <label class="demonstration">Date</label>
							    <div class="date-picker">
							    	<el-date-picker
								      v-model="form.date"
								      type="date"
								      placeholder="Date"
								      format="yyyy/MM/dd"
								      value-format="yyyy-MM-dd">
								    </el-date-picker>
							    </div>
						  	</div>
						</div>
						<div class="col-sm-3">
							<div class="select-box">
								<label class="block">Brokers Name:</label>
			        			<el-select 
				        			v-model="form.broker" 
				        			placeholder="Select Broker"
				        			class="inner_select_box"
				        			filterable
			        			>
								    <el-option
								      v-for="item in broker"
								      :key="item.id"
								      :label="item.broker_name"
								      :value="item.id">
								    </el-option>

								</el-select>
		        			</div>
						</div>


						<div class="col-sm-3">
							<div class="block">
							    <label class="demonstration">Auction date</label>
							    <div class="date-picker">
							    	<el-date-picker
								      v-model="form.auction_date"
								      type="date"
								      placeholder="Pick a Date"
								      format="yyyy/MM/dd"
								      value-format="yyyy-MM-dd">
								    </el-date-picker>
							    </div>
						  	</div>
						</div>


						<div class="col-sm-3">
							<div class="block">
							    <label class="demonstration">Prompt date</label>
							    <div class="date-picker">
							    	<el-date-picker
								      v-model="form.prompt_date"
								      type="date"
								      placeholder="Pick a Date"
								      format="yyyy/MM/dd"
								      value-format="yyyy-MM-dd">
								    </el-date-picker>
							    </div>
						  	</div>
						</div>
					</div>

					<div class="row m-t-20">
						<div class="col-sm-4">
							<div class="select-box">
								<label class="block">Garden Name:</label>
			        			<el-select 
				        			v-model="unload_list.garden" 
				        			placeholder="Select Garden"
				        			class="inner_select_box"
				        			filterable
			        			>
								    <el-option
								      v-for="item in Garden"
								      :key="item.id"
								      :label="item.garden_name"
								      :value="item.id">
								    </el-option>

								</el-select>
		        			</div>
						</div>
						<div class="col-sm-4">
							<label>Lot No</label>
							<el-input placeholder="Please input" v-model="unload_list.lot_no"></el-input>
						</div>
						<div class="col-sm-4">
							<label>Invoice No</label>
							<el-input placeholder="Please input" v-model="unload_list.invoice_no"></el-input>
						</div>
					</div>

					<div class="row m-t-20">
						<div class="col-sm-3">
							<div class="select-box">
								<label class="block">Tea Grade:</label>
			        			<el-select 
				        			v-model="unload_list.tea_grade" 
				        			placeholder="Select Tea Grade"
				        			class="inner_select_box"
				        			filterable
			        			>
								    <el-option
								      v-for="item in TeaGrade"
								      :key="item.id"
								      :label="item.grade_name"
								      :value="item.id">
								    </el-option>

								</el-select>
		        			</div>
						</div>
						<div class="col-sm-3">
							<label>Packs</label>
							<el-input placeholder="Please input" v-model="unload_list.packs"></el-input>
						</div>
						<div class="col-sm-3">
							<label>Net each</label>
							<el-input placeholder="Please input" v-model="unload_list.net_each"></el-input>
						</div>
						<div class="col-sm-3">
							<div class="select-box">
								<label class="block">Payment</label>
			        			<el-select 
				        			v-model="unload_list.payment" 
				        			placeholder="Payment"
				        			class="inner_select_box"
				        			filterable
			        			>
								    <el-option
								      v-for="item in payment"
								      :key="item.id"
								      :label="item.name"
								      :value="item.name">
								    </el-option>

								</el-select>
		        			</div>
						</div>
					</div>


					<div class="row m-t-20">

						<div class="flex-container">
							
							<div class="select-box">
								<label class="block">Sample</label>
			        			<el-select 
				        			v-model="unload_list.sample" 
				        			placeholder="Select sample type"
				        			class="inner_select_box"
				        			filterable
			        			>
								    <el-option
								      v-for="item in sample"
								      :key="item.id"
								      :label="item.name"
								      :value="item.id">
								    </el-option>

								</el-select>
			        		</div>

			        		<div class="per-price">
			        			<label>Per Price</label>
								<el-input placeholder="Please input" v-model="unload_list.per_price"></el-input>
			        		</div>

			        		<div class="total-kg">
			        			<label>Total Kg</label>
								<el-input :disabled="true" v-model="totalKg"></el-input>
			        		</div>

			        		<div class="total-amount">
			        			<label>Total Amount</label>
								<el-input :disabled="true" v-model="totalAmount"></el-input>
			        		</div>

			        		<el-button type="primary" @click="AddFormUnloadLists">Purchase List Row</el-button>

						</div>
						
					</div>
		        </div>

		        <div class="main-content container-fluid">
		        	<div class="col-sm-12" >
						<div class="panel panel-default panel-table">
							<div class="panel-heading">Purchase Lists</div>

							<div class="panel-body">
								<table class="table">
								    <thead>
								      <tr>
								      	<th>Broker</th>
								      	<th>Lot</th>
								      	<th>Garden</th>
								        <th>Invoice</th>
								        <th>Tea Grade</th>
								        <th>Packs</th>
								        <th>Net Each</th>
								        <th>Sample</th>
								        <th>Per price</th>
								        <th>Total Kg</th>
								        <th>Total Amount</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr v-for="item in form.unload_assets_list"> 
								      	<th>{{getBrokerName}}</th>
								      	<th>{{item.lot_no}}</th>
								      	<th>{{item.garden_name}}</th>
								      	<th>{{item.invoice_no}}</th>
								      	<th>{{item.tea_grade_name}}</th>
								      	<th>{{item.packs}}</th>
								      	<th>{{item.net_each}}</th>
								      	<th>{{item.sample}}</th>
								      	<th>{{item.per_price}}</th>
								      	<th>{{item.total_kg}}</th>
								      	<th>{{item.total_amount}}</th>
								      </tr>
								    </tbody>
								</table>
							</div>
						</div>

						<div class="button-wrapper text-center">
							<el-button type="primary" @click="submitForm" :disabled="switch_status">Submit</el-button>
						</div>
					</div>
		        </div>

		        <el-dialog
				  title="Create A Broker"
				  :visible.sync="dialogVisibleBroker"
				  size="tiny"
				  :before-close="handleCloseBroker">
				   <div class="panel-body">
	                    <el-col :span="15" :offset="3">
	                        <el-form :label-position="labelPosition" label-width="100px" :model="create_broker_form">
	                          <el-form-item label="Broker Name">
	                            <el-input v-model="create_broker_form.broker_name"></el-input>
	                          </el-form-item>
	                        </el-form>
	                    </el-col>
	                    <el-col :span="15" :offset="3">
	                        <el-form :label-position="labelPosition" label-width="100px" :model="create_broker_form">
	                            <el-form-item label="Broker Address">
	                                <el-input v-model="create_broker_form.broker_address"></el-input>
	                            </el-form-item>
	                        </el-form>
	                    </el-col>
	                    <el-col :span="15" :offset="3">
	                        <el-form :label-position="labelPosition" label-width="100px" :model="create_broker_form">
	                            <el-form-item label="Broker Phone Number">
	                                <el-input v-model="create_broker_form.broker_phone_number"></el-input>
	                            </el-form-item>
	                        </el-form>
	                    </el-col>
	                      <el-col :span="15" :offset="3">
	                        <el-form :label-position="labelPosition" label-width="100px" :model="create_broker_form">
	                          <el-form-item label="Broker Email">
	                            <el-input v-model="create_broker_form.broker_email"></el-input>
	                          </el-form-item>
	                        </el-form>
	                      </el-col>
                   </div>
				  <span slot="footer" class="dialog-footer">
				    <el-button @click="dialogVisibleBroker = false">Cancel</el-button>
				    <el-button type="primary" @click="createBroker">Create</el-button>
				  </span>
				</el-dialog>

				<el-dialog
				  title="Create A Garden"
				  :visible.sync="dialogVisibleGarden"
				  size="tiny"
				  :before-close="handleCloseGarden">
				   <div class="panel-body">
	                  <el-col :span="15" :offset="3">
	                    <el-form :label-position="labelPosition" label-width="100px" :model="create_garden_form">
	                      <el-form-item label="Garden Name">
	                        <el-input v-model="create_garden_form.garden_name"></el-input>
	                      </el-form-item>
	                    </el-form>
	                  </el-col>
	                  <el-col :span="15" :offset="3">
	                    <el-form :label-position="labelPosition" label-width="100px" :model="create_garden_form">
	                      <el-form-item label="Garden Address">
	                        <el-input v-model="create_garden_form.garden_address"></el-input>
	                      </el-form-item>
	                    </el-form>
	                  </el-col>
                  </div>
				  <span slot="footer" class="dialog-footer">
				    <el-button @click="dialogVisibleGarden = false">Cancel</el-button>
				    <el-button type="primary" @click="createGarden">Confirm</el-button>
				  </span>
				</el-dialog>

				<el-dialog
				  title="Create A Tea Grade"
				  :visible.sync="dialogVisibleTeaGrade"
				  size="tiny"
				  :before-close="handleCloseTeaGrade">
				   <div class="panel-body">
                  <el-col :span="15" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="create_tea_grade_form">
                      <el-form-item label="Grade Name">
                        <el-input v-model="create_tea_grade_form.grade_name"></el-input>
                      </el-form-item>

                    </el-form>
                  </el-col>
                </div>
				  <span slot="footer" class="dialog-footer">
				    <el-button @click="dialogVisibleTeaGrade = false">Cancel</el-button>
				    <el-button type="primary" @click="addTeaGrade">Create</el-button>
				  </span>
				</el-dialog>
		        
	    	</div>
	    </div>

	</div>
</template>

<script type="text/babel">
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name: 'unload_assets_add',
		data() {
			return {
				create_tea_grade_form: {},
				create_garden_form: {},
				create_broker_form: {},
				labelPosition: 'top',
				dialogVisibleTeaGrade: false,
				dialogVisibleGarden: false,
				dialogVisibleBroker: false,
				switch_status:true,
				form: {
					date:'',
					broker: '',
					total_amount: 0,
					total_packs: 0,
					total_kg: 0,
					prompt_date: '',
					auction_date: '',
					unload_assets_list: []
				},
				unload_list: {
					lot_no: '',
					garden_name: '',
					garden: '',
					invoice_no: '',
					tea_grade_name: '',
					tea_grade: '',
					packs: '',
					net_each: '',
					sample: 'N',
					per_price: '',
					total_kg:'',
					total_amount: '',
					payment: 'paid'
				},
				sample: [
					{
						id: 1,
						name: 'Y'
					},
					{
						id: 2,
						name: 'N'
					}
				],
				payment: [
					{
						id: 1,
						name: 'paid'
					},
					{
						id: 2,
						name: 'due'
					}
				]
			}
		},
		computed: {
			...mapGetters({
				broker: 'settings/brokers/broker',
				Garden: 'settings/garden/Garden',
				TeaGrade: 'settings/tea_grade/TeaGrade'
			}),
			getBrokerName() {
				return this.broker.filter((item) => {
					return item.id == this.form.broker
				})[0].broker_name || ''
			},
			totalKg() {
				return (parseInt(this.unload_list.packs) * parseInt(this.unload_list.net_each)) || 0;
			},
			totalAmount() {
				return (this.totalKg * parseInt(this.unload_list.per_price)) || 0
			}
		},
		methods: {
			...mapActions({
				GetAllBrokers: 'settings/brokers/GetAllBrokers',
				getAllGarden: 'settings/garden/getAllGarden',
				getAllTeaGrade: 'settings/tea_grade/getAllTeaGrade',
				storeUnloadAssets: 'unload_assets/storeUnloadAssets',
				PostCreateBroker: 'settings/brokers/PostCreateBroker',
				PostCreateGarden: 'settings/garden/PostCreateGarden',
			}),
			addTeaGrade() {
				const url = home.tea_grade_create_update;
		    	axios.post(url,this.create_tea_grade_form)
		    	.then(response=> {
			        elem.notify('success', response.data.message)
			    	this.getAllTeaGrade();
			        this.handleCloseTeaGrade()
			        this.create_tea_grade_form = {
						grade_name: ''
					}
    			})
			},
			createGarden() {
				this.PostCreateGarden(this.create_garden_form)
				this.getAllGarden()
				this.handleCloseGarden()
				this.create_garden_form = {
					garden_name: '',
					garden_address: ''
				}
			},
			createBroker() {
				this.PostCreateBroker(this.create_broker_form)
				this.GetAllBrokers()
				this.handleCloseBroker()
				this.create_broker_form = {
					broker_name: '',
					broker_address: '',
					broker_phone_number: '',
					broker_email: ''
				}
			},
			handleCloseTeaGrade() {
				this.create_tea_grade_form = {
					grade_name: ''
				}
				this.dialogVisibleTeaGrade = false
			},
			handleCloseGarden() {
				this.create_garden_form = {
					garden_name: '',
					garden_address: ''
				}
				this.dialogVisibleGarden = false
			},
			handleCloseBroker() {
				this.create_broker_form = {
					broker_name: '',
					broker_address: '',
					broker_phone_number: '',
					broker_email: ''
				}
				this.dialogVisibleBroker = false
			},
			AddFormUnloadLists() {
				let garden = this.Garden.filter((item) => {
					return this.unload_list.garden === item.id
				})[0].garden_name;

				this.unload_list.garden_name = garden

				let tea_grade = this.TeaGrade.filter((item) => {
					return this.unload_list.tea_grade === item.id
				})[0].grade_name;

				this.unload_list.tea_grade_name = tea_grade

				this.unload_list.total_kg = this.totalKg

				this.unload_list.total_amount = this.totalAmount

				this.form.unload_assets_list.push(this.unload_list)
				
				this.unload_list =  {
					lot_no: '',
					garden_name: '',
					garden: '',
					invoice_no: '',
					tea_grade_name: '',
					tea_grade: '',
					packs: '',
					net_each: '',
					sample: 'N',
					per_price: '',
					total_kg:'',
					total_amount: '',
					payment: 'paid'
				}
			},
			changeDateFormat(date) {
				return moment(date).format("YYYY-MM-D");
			},
			submitForm() {
				this.form.date = this.changeDateFormat(this.form.date)
				this.form.prompt_date = this.changeDateFormat(this.form.prompt_date)
				this.form.auction_date = this.changeDateFormat(this.form.auction_date)
				_.forEach(this.form.unload_assets_list, (item) => {
					this.form.total_amount += parseFloat(item.total_amount)
					this.form.total_packs += parseFloat(item.packs)
					this.form.total_kg += parseFloat(item.total_kg)
				})
				this.storeUnloadAssets(this.form)
				this.form = {
					date:'',
					broker: '',
					total_amount: 0,
					total_packs: 0,
					total_kg: 0,
					prompt_date: '',
					auction_date: '',
					unload_assets_list: []
				},
				this.unload_list = {
					lot_no: '',
					garden: '',
					invoice_no: '',
					tea_grade: '',
					packs: '',
					net_each: '',
					sample: 'N',
					per_price: '',
					total_kg:'',
					total_amount: '',
					payment: 'paid'
				}
			},
			mountedHooks() {
				this.GetAllBrokers();
				this.getAllGarden();
				this.getAllTeaGrade();
			}
		},
		mounted() {
			this.mountedHooks()
		}
	}
</script>

<style lang="scss" scoped>
.space {
	margin-top: 30px;
}
.m-t-20 {
	margin-top: 20px;
}
.demonstration {
	display: block;
}
.date-picker {
	.el-date-editor {
		width:100%;
	}
}

.flex-container {
	padding:0px 15px;
	display:flex;
	justify-content:space-between;
	align-items:flex-end;

	div {
		flex-grow: 1;
		margin-right:10px;
	}
}
</style>