<template>
	<div class="account_add">
		<div class="be-content">
	        <div class="page-head">
	          <h2 class="page-head-title">Add Account record</h2>
	          <ol class="breadcrumb page-head-nav">
	            <li><a href="#">Home</a></li>
	            <li><a href="#">Account</a></li>
	            <li class="active">Record</li>
	          </ol>

	          <div class="main-content container-fluid">
	          	<div class="row">
	          		<div class="col-sm-3">
	        			<div class="select-box">
	        				<label class="block">Record Date</label>
		        			<el-date-picker
						      v-model="record_date"
						      type="date"
						      placeholder="Pick a day">
						    </el-date-picker>
	        			</div>
	        		</div>
	          	</div>
	          	<div class="row space" v-for="(item,index) in itemList">

					<div class="form-group col-sm-2">

				    	<label>Account (Debit) {{item.key}}</label>

				    	<div class="select-box">
				    		<el-select 
						    v-model="item.debit_id" 
						    placeholder="Select Type" 
							class="inner_select_box"
						    >
							    <el-option
							      v-for="items in all_assets"
							      :key="items.id"
							      :label="items.title"
							      :value="items.id">
							    </el-option>
							</el-select>
				    	</div>

					</div>
					

					<div class="form-group col-sm-2">

				    	<label>Account (Credit) {{item.key}}</label>

				    	<div class="select-box">
				    		<el-select 
						    v-model="item.credit_id" 
						    placeholder="Select Type" 
							class="inner_select_box"
						    >
							    <el-option
							      v-for="items in all_assets"
							      :key="items.id"
							      :label="items.title"
							      :value="items.id">
							    </el-option>
							</el-select>
				    	</div>

					</div>



				   	<div class="form-group col-sm-2">
				   	 	<label for="exampleSelect1">Amount</label>
				   	 	<el-input placeholder="Please input" v-model="item.amount"></el-input>
				  	</div>

				  	<div class="form-group col-sm-3">
				   	 	<label for="exampleSelect1">Notes(optional)</label>
				   	 	<el-input type="textarea" v-model="item.notes"></el-input>
				  	</div>


				  	<!-- buttons -->

				    <div class="form-group col-sm-3 space">

				    	<el-button 
				    		@click="addItemList"
				    		v-if="index === itemList.length - 1"
				    		type="primary" 
				    		icon="plus" 
				    		size="small">
				    			
				    	</el-button>

				    	<el-button 
				    		@click="removeListItem(item)"
				    		v-if="item.key >= 1 && item.key != 1"
				    		type="primary" 
				    		icon="minus" 
				    		size="small">	
				    	</el-button>
				    </div>
				</div>
				<div>
					<el-button @click="submit" type="primary">Add Record</el-button>
				</div>
	          </div>
	        </div>
	    </div>
	</div>
</template>

<script type="text/babel">
	import { mapGetters, mapActions } from 'vuex';
	export default {
		name: 'account_add',
		data() {
			return {
				record_date: '',
				itemList: [
					{
						key: 1,
						debit_id: '',
						credit_id: '',
						amount: '',
						notes: ''
					}
				],

			}
		},
		computed: {
			...mapGetters({
				all_assets: 'settings/assets_type/all_assets'
			})
		},
		methods: {
			...mapActions({
				getAllAssetsType: 'settings/assets_type/getAllAssetsType'
			}),

			removeListItem(item){
				var index = _.findIndex(this.itemList,item)
                if (index !== -1) {
                   this.itemList.splice(index, 1);
                }
            },
			addItemList() {
				let value = _.nth(this.itemList, this.itemList.length - 1);
				let nextValue = value.key + 1
				this.itemList.push({
					key: nextValue,
					debit_id: '',
					credit_id: '',
					amount: '',
					notes: ''
		        });
				console.log(this.itemListDebit)
			},
			submit() {
				let data = {
					record: {
						record_date: moment(this.record_date).format('YYYY-MM-DD'),
						data: this.itemList
					}
				}
				const url = home.store_account_record;
				axios
					.post(url, data)
					.then(( { data: { message } } ) => {
						console.log(message)
					})
					.catch(err => {
						console.log(err)
					})
				console.log(this.itemList)
			}
		},
		mounted() {
			this.getAllAssetsType();
		}

	}
</script>

<style>
	.m-t-20 {
		margin-top: 20px;
	}
</style>