<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Stocks</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Stocks</a></li>
            <li class="active">Category</li>
            <li class="active">Index</li>
          </ol>
        </div>

        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Stocks Category Index
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Area .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="fetchdata"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Index" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:40%;">Stock Index Name</th>
                        <th style="width:20%;">Stock Category Name</th>
                        <th style="width:30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in StockIndexes">
                        <td>{{data.stock_indices_name}}</td>
                        <td>{{data.stock_category.stock_name}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteIndex(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Stock Category Index
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body p-b-30">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Stock Index Name">
                        <el-input v-model="form.stock_indices_name"></el-input>
                      </el-form-item>
                      <el-form-item label="Stock Category">
                        <el-select 
                              v-model="form.stock_category_id" 
                              placeholder="Select Stock Index"
                              class="inner_select_box"
              
                            >
                            <el-option
                              v-for="item in StockCategory"
                              :key="item.id"
                              :label="item.stock_name"
                              :value="item.id">
                            </el-option>

                        </el-select>
                      </el-form-item>
                       <el-form-item label="Products">
                         <el-select 
                              v-model="form.teaquantities_id" 
                              placeholder="Select Stock Index"
                              class="inner_select_box"
              
                            >
                            <el-option
                              v-for="item in teaQuantity"
                              :key="item.id"
                              :label="item.short_name"
                              :value="item.id">
                            </el-option>

                        </el-select>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addStockCategoryIndex">Add New Stock Index</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Stock Category Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Stock Index Name">
                        <el-input v-model="form.stock_indices_name"></el-input>
                      </el-form-item>
                      <el-form-item label="Stock Category">
                        <el-select 
                              v-model="form.stock_category_id" 
                              placeholder="Select Stock Category"
                              class="inner_select_box"
              
                            >
                            <el-option
                              v-for="item in StockCategory"
                              :key="item.id"
                              :label="item.stock_name"
                              :value="item.id">
                            </el-option>

                        </el-select>
                      </el-form-item>
                       <el-form-item label="Products">
                         <el-select 
                              v-model="form.teaquantities_id" 
                              placeholder="Select Products"
                              class="inner_select_box"
              
                            >
                            <el-option
                              v-for="item in teaQuantity"
                              :key="item.id"
                              :label="item.short_name"
                              :value="item.id">
                            </el-option>

                        </el-select>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addStockCategoryIndex">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name: 'stocks_category',
	    data() {
	      return {
	        labelPosition: 'top',
	        form: {
            stock_category_id: '',
            stock_indices_month: 'all',
            teaquantities_id: ''
          },
	        search: '',
	        searchbox: false,
	        table: 0,
	        tabledata: [],
	        DupTableData: [],
          teaQuantity: [],
	        searchQuuries: {
	          paginate: 'simple',
	          per_page : 10,
	          fields: 'localareas'
	        }
	      }
	    },
	    computed: {
	    	...mapGetters({
	    		StockIndexes: 'stocks/StockIndexes',
          StockCategory: 'stocks/StockCategory',

	    	})
	    },

	    watch: {
	      search() {
	        if(this.search.length >= 2) {
	          this.tabledata.filter(item => {
	            return item.area_name.includes(this.search)
	          })

	          console.log(this.tabledata)
	        } else {
	          this.tabledata = this.DupTableData
	        }
	      }
	    },

	    methods: {
	    	...mapActions({
	    		getStockIndex: 'stocks/getStockIndex',
	    		postAddStockCategory: 'stocks/postAddStockCategory',
          getStocksCategory: 'stocks/getStocksCategory',
	    	}),
	      editAble(param) {
	        this.form = param
          this.form.stock_category_id = param.stock_category_id
	      },

	      searchboxShowOnOff() {
	        this.searchbox = !this.searchbox
	      },

        setMonth() {
          this.form.stock_indices_month = moment(this.form.stock_indices_month).format('YYYY-MM');
        },

	      tableShowOnOff(param, data = false) {
	        if(data) {
	          this.editAble(data)
	        }

          if(param == 0) {
            this.form =  {
              stock_category_id: '',
              stock_indices_month: 'all',
              teaquantities_id: ''
            }
            this.getStockIndex()
          }
	
	        this.table = param

	      },
	      addStockCategoryIndex() {

          console.log(this.form)

          const root = home.stock_index_create_or_update
          axios
              .post(root, this.form)
              .then((res) => {
                this.tableShowOnOff(0)
                elem.notify('success', res.data.message)
              })
              .catch((err) => {
                console.log(err)
              })
	
	      	// this.getStockIndex()
	      	// this.tableShowOnOff(0)
	      },

	      deleteIndex(id) {
	        const root = home.stock_index_remove.replace('#id#', id)
          axios
              .get(root)
              .then((res) => {
                this.tableShowOnOff(0)
                elem.notify('success', res.data.message)
              })
              .catch((err) => {
                console.log('ss', err)
              })
	      },

	      updateStockCategory() {
	        this.postAddStockCategory(this.form)
	      	this.getStockIndex()
	      	this.tableShowOnOff(0)
	      },

        fetchTeaQuantitydata() {
          const QuantityFetchData = home.quantity_show
          axios.get(QuantityFetchData)
               .then(response => {
                  console.log(response)
                  this.teaQuantity = response.data
               })
               .catch((err) => {
                  console.log(err)
               })
        },

	      fetchdata() {
	        const AreaFetchData = home.area_show
	        axios.get(AreaFetchData, {params: this.searchQuuries})
	             .then(response => {
	                this.tabledata = response.data.data
	                this.DupTableData = response.data.data
	             })
	      }
	    },

	    mounted() {
        this.getStocksCategory();
	      this.getStockIndex();
        this.fetchTeaQuantitydata();
	    }
	}
</script>

<style>
  .block {
    padding: 5px 10px;
  }
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }
  .p-b-30 {
    padding-bottom: 30px; 
  }

  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>