<template>
	<div class="account_asset_type">
		<div class="be-content">
	        <div class="page-head">
				<h2 class="page-head-title">Accout Asset Type</h2>
					<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li class="active">Asset Type</li>
					</ol>
			</div>
			<div class="main-content container-fluid">
				<div class="panel panel-default panel-table">
	                <div class="panel-heading">Account record preview
	                	<div class="tools">
	                		<el-button type="primary" size="mini" @click="dialogVisible = true">Add Asset +</el-button>
	                	</div>
	                </div>	
    				<div class="panel-body">
    					<el-table
    					  border
					      :data="tableData"
					      style="width: 100%">
					      <el-table-column
					        prop="account_type_name"
					        label="Asset type"
					        >
					      </el-table-column>
					      <el-table-column
					        prop="type_ref"
					        label="Reference"
					        >
					      </el-table-column>
					      <el-table-column
					        label="Actions"
					        >
					        <template scope="scope">
					        	<el-button type="primary" size="small" @click="editableAssetType(scope.row)" icon="edit"></el-button>
					        </template>
					      </el-table-column>
					    </el-table>
    				</div>
    			</div>
			</div>
		</div>
		<el-dialog
		  title="Asset"
		  :visible.sync="dialogVisible"
		  size="tiny"
		  :before-close="handleClose">


		  <label>Account Asset type</label>
		  <el-input placeholder="Please input asset type" v-model="form.account_type_name"></el-input>
			<br>
		  <label>Account Asset ref</label>
		  <el-input placeholder="Please input asset ref" v-model="form.type_ref"></el-input>


		  <span slot="footer" class="dialog-footer">
		    <el-button @click="handleClose">Cancel</el-button>
		    <el-button type="primary" @click="postAssetType">Add</el-button>
		  </span>
		</el-dialog>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'account_asset_type',
		data() {
			return {
				tableData: [],
				dialogVisible: false,
				form: {
					account_type_name: '',
					type_ref: ''
				}
			}
		},
		methods: {
			handleClose() {
				this.dialogVisible = false
				this.form = {
		     	 	account_type_name: '',
					type_ref: ''
		     	 }
			},
			editableAssetType(item) {
				this.form = item
				this.dialogVisible = true

			},
			updateAssetType() {
				const url = home.update_asset_type
				axios.post(url, this.form)
				     .then((res) => {
				     	 elem.notify('success', res.data.message)
				     	 this.form = {
				     	 	account_type_name: '',
							type_ref: ''
				     	 }
				     	 this.tableData = res.data.asset
				     	 this.handleClose()
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			},
			postAssetType() {
				
				const url = home.store_asset_type
				axios.post(url, this.form)
				     .then((res) => {
				     	 elem.notify('success', res.data.message)
				     	 this.form = {
				     	 	account_type_name: '',
							type_ref: ''
				     	 }
				     	 this.tableData = res.data.asset
				     	 this.handleClose()
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			},
			getAssetType() {
				const url = home.asset_type_get_asset
				axios.get(url)
				     .then((res) => {
				     	 this.tableData = res.data.asset
				     })
				     .catch((err) => {
				     	 console.log(err)
				     })
			}
		},
		mounted() {
			this.getAssetType()
		}
	}
</script>