<template>
	<div class="account_general_ledger">
		<div class="be-content">
	        <div class="page-head">
				<h2 class="page-head-title">Accout General Ledger</h2>
					<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li class="active">General Ledger</li>
					</ol>
			</div>
			<div class="main-content container-fluid">
				<div class="panel panel-default panel-table">
	                <div class="panel-heading">Account record preview
	                	<div class="tools">
	                		<el-button type="primary" size="mini" @click="dialogVisible = true">Add Asset +</el-button>
	                	</div>
	                </div>	
    				<div class="panel-body">
    					<el-table
    					  border
					      :data="general_ledger"
					      style="width: 100%">
					      <el-table-column
					        prop="account_asset_type.account_type_name"
					        label="Asset type"
					        >
					      </el-table-column>
					      <el-table-column
							 prop="general_ledger_name"
							 label="General Ledger Name"
					      >
					      </el-table-column>
					      <el-table-column
					        prop="ref_no"
					        label="Reference"
					        >
					      </el-table-column>
					       <el-table-column
					        prop="opening_balance"
					        label="Opening Balance"
					        >
					      </el-table-column>
					      <el-table-column
					        prop="note"
					        label="Note"
					        >
					      </el-table-column>
					      <el-table-column
					        label="Actions"
					        >
					        <template scope="scope">
					        	<el-button type="primary" size="small" @click="editableAssetType(scope.row)" icon="edit"></el-button>
					        	<router-link :to="{name: 'account_general_ledger_view', params: {
					        		account_type: 'general',
					        		account_id: scope.row.general_ledger_id
					        	}}">
					        		<el-button type="primary" size="small" icon="search"></el-button>
					        	</router-link>
					        </template>
					      </el-table-column>
					    </el-table>
    				</div>
    			</div>
			</div>
		</div>
		<el-dialog
		  title="Asset"
		  :visible.sync="dialogVisible"
		  size="tiny"
		  :before-close="handleClose">


		  <label>Account Asset type</label>
		  <el-select clearable filterable v-model="form.account_asset_type_id" placeholder="Select account asset type">
		    <el-option
		      v-for="item in asset_type"
		      :key="item.account_type_name"
		      :label="item.account_type_name"
		      :value="item.id">
		    </el-option>
		  </el-select>
		  <br>
		  <label>General Ledger Name</label>
		  <el-input placeholder="General Ledger" v-model="form.general_ledger_name"></el-input>
		  <br>
		  <label>Ref No.</label>
		  <el-input placeholder="General Ledger" v-model="form.ref_no"></el-input>
		  <br>
		  <label>Openning Balance</label>
		  <el-input placeholder="General Ledger" v-model="form.opening_balance"></el-input>
		  <br>
		  <label>Note</label>
		  <el-input type="textarea" placeholder="General Ledger" v-model="form.note"></el-input>

		  <span slot="footer" class="dialog-footer">
		    <el-button @click="handleClose">Cancel</el-button>
		    <el-button type="primary" @click="postGeneralLedger">Add</el-button>
		  </span>
		</el-dialog>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'account_general_ledger',
		data() {
			return {
				asset_type: [],
				general_ledger: [],
				dialogVisible: false,
				form: {
					account_asset_type_id: '',
		     	 	general_ledger_name: '',
					ref_no: '',
					opening_balance: '',
					note: ''
				}
			}
		},
		methods: {
			handleClose() {
				this.dialogVisible = false
				this.form = {
		     	 	account_asset_type_id: '',
		     	 	general_ledger_name: '',
					ref_no: '',
					opening_balance: '',
					note: ''
		     	 }
			},
			editableAssetType(item) {
				this.form = item
				this.dialogVisible = true

			},
			postGeneralLedger() {
				const url = home.store_general_ledger
				axios.post(url, this.form)
				     .then((res) => {
				     	this.general_ledger = res.data.ledger
				     	this.form = {
				     	 	account_asset_type_id: '',
				     	 	general_ledger_name: '',
							ref_no: '',
							opening_balance: '',
							note: ''
				     	 }
				     	 elem.notify('success', res.data.message)
				     	 this.handleClose()
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			},
			getGeneralLedger() {
				const url = home.get_general_ledger
				axios.get(url)
				     .then((res) => {
				     	this.general_ledger = res.data.ledger
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			},
			getAssetType() {
				const url = home.asset_type_get_asset
				axios.get(url)
				     .then((res) => {
				     	 this.asset_type = res.data.asset
				     })
				     .catch((err) => {
				     	 console.log(err)
				     })
			}
		},
		mounted() {
			this.getAssetType()
			this.getGeneralLedger()
		}
	}
</script>