<template>
	<div id="balance-sheet">
		<div class="be-content">
	        <div class="page-head">
				<h2 class="page-head-title">Balance Sheet</h2>
					<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li class="active">Balance Sheet</li>
					</ol>
			</div>
			<div class="main-content container-fluid">
				<el-row>
					<el-col :span="18">
						<el-card class="box-card">
							<h3>Balance Sheet</h3>
							<table class="table">
			                    <thead>
			                      <tr>
			                        <th style="width:40%;">Type</th>
			                        <th style="width:30%;">Amount</th>
			                        <th style="width:30%">Total</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                    	<tr>
			                    		<td>Assets</td>
			                    		<td>{{balanceSheet.assets}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td></td>
			                    		<td></td>
			                    		<td>= {{balanceSheet.assets}} Tk</td>
			                    	</tr>
			                    	<tr>
			                    		<td>Liabilities</td>
			                    		<td>{{balanceSheet.liabilities}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td>Equity</td>
			                    		<td>{{balanceSheet.equity}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td></td>
			                    		<td></td>
			                    		<td>= {{balanceSheet.assets}} Tk</td>
			                    	</tr>
			         
			                    	<tr>
			                    		<td></td>
			                    		<td>{{balanceSheet.assets}} Tk</td>
			                    		<td>
			                    			{{balanceSheet.lia_equ}} Tk
			                    		</td>
			                    	</tr>

		
			         
			                    </tbody>
			                </table>
						</el-card>
					</el-col>
					<el-col :span="5" :offset="1">
						 <el-date-picker
						    v-model="month"
						    type="month"
						    placeholder="Pick a month"
						    @change="getBalanceSheet">
						  </el-date-picker>
					</el-col>

				</el-row>
			</div>
		</div>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'balance-sheet',
		data() {
			return {
				month: new Date(),
				balanceSheet: {}
			}
		},
		computed: {
			getMonth() {
				return moment(this.month).format('YYYY-MM-DD')
			}
		},
		methods: {
			getBalanceSheet(){
				const url = home.get_balance_sheet
				axios.post(url, { date: this.getMonth })
				     .then((response) => {
				     	this.balanceSheet = response.data
				     	console.log(response.data)
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			}
		},
		mounted() {
			this.getBalanceSheet()
		}
	}
</script>