<template>
	<div class="journal_entries">
		<div class="be-content">
	        <div class="page-head">
				<h2 class="page-head-title">{{ $captialized(account_type) }} Account View</h2>
					<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li class="active">{{ $captialized(account_type) }} Account</li>
					</ol>
			</div>
			<div class="main-content container-fluid">
				<div class="panel panel-default panel-table">
	                <div class="panel-heading">{{ $captialized(account_type) }} Account
	                	<div class="tools">
	                		<el-date-picker
						      @change="fetchStoreDetails"
						      v-model="store_date_range"
						      type="daterange"
						      range-separator="  -  "
						      start-placeholder="Start date"
						      end-placeholder="End date">
						    </el-date-picker>
	                	</div>
	                </div>
	                <br>
    				<div class="panel-body">
    					<el-table
    					  border
					      :data="all_transaction"
					      style="width: 100%">
					      <el-table-column
							 label="Particular"
					      >
					      	<template scope="scope">
					      		<p v-if="scope.row.type == 'debit'">{{scope.row.against_name}}</p>
					      	</template>
					      </el-table-column>
					      <el-table-column
					        label="Debit"
					        >
					        <template scope="scope"> 
					        	<p v-if="scope.row.type == 'debit'">{{scope.row.value}}</p>
					        </template>
					      </el-table-column>
					      <el-table-column
							 label="Particular"
					      >
					      	 <template scope="scope"> 
					        	<p v-if="scope.row.type == 'credit'">{{scope.row.against_name}}</p>
					        </template>
					      </el-table-column>
					       <el-table-column
					        label="Credit"
					        >
					        <template scope="scope">
					        	<p v-if="scope.row.type == 'credit'">{{scope.row.value}}</p>
					        </template>
					      </el-table-column>
					    </el-table>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'journal_entries',
		data() {
			return {
				store_date_range: [new Date(), new Date()],
				account_type: this.$route.params.account_type,
				account_id: this.$route.params.account_id,
				all_transaction: []
			}
		},
		computed: {
			start_date() {
				return moment(this.store_date_range[0]).format('YYYY-MM-DD')
			},
			end_date() {
				return moment(this.store_date_range[1]).format('YYYY-MM-DD')
			}
		},
		methods: {
			$captialized(str) {
				str = str.split('')
				str[0] = str[0].toUpperCase()
				return str.join('')
			},
			fetchStoreDetails() {
				const url = home.get_acccount_details
				const data = {
					start_date: this.start_date,
					end_date: this.end_date,
					account_type: this.account_type,
					account_id: this.account_id
				}
				axios.post(url, data)
				     .then((res) => {
				     	console.log(res.data)
				     	this.all_transaction = res.data.store
				     })
				     .catch(err => {
				     	console.log(err)
				     })
			}
		},
		mounted() {
			this.fetchStoreDetails()
		}
	}
</script>