<template>
	<div id="net_income">
		<div class="be-content">
	        <div class="page-head">
				<h2 class="page-head-title">Net Income</h2>
					<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li class="active">Net Income</li>
					</ol>
			</div>
			<div class="main-content container-fluid">
				<el-row>
					<el-col :span="18">
						<el-card class="box-card">
							<h3>Income Statement</h3>
							<table class="table">
			                    <thead>
			                      <tr>
			                        <th style="width:40%;">Type</th>
			                        <th style="width:30%;">Amount</th>
			                        <th style="width:30%">Total</th>
			                      </tr>
			                    </thead>
			                    <tbody>
			                    	<tr>
			                    		<td>Revenue</td>
			                    		<td>{{netIncome.revenue}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td>Gains</td>
			                    		<td>{{netIncome.gain}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td></td>
			                    		<td></td>
			                    		<td>= {{netIncome.gain + netIncome.revenue}} Tk</td>
			                    	</tr>
			                    	<tr>
			                    		<td>Expense</td>
			                    		<td>{{netIncome.expense}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td>Losses</td>
			                    		<td>{{netIncome.loss}} Tk</td>
			                    		<td>  </td>
			                    	</tr>
			                    	<tr>
			                    		<td></td>
			                    		<td></td>
			                    		<td>= {{netIncome.expense + netIncome.loss}} Tk</td>
			                    	</tr>
			                    	<tr>
			                    		<td></td>
			                    		<td></td>
			                    		<td :class="netIncome.negative ? 'red' : ''">= {{netIncome.total}} Tk</td>
			                    	</tr>
			                    </tbody>
			                </table>
						</el-card>
					</el-col>
					<el-col :span="5" :offset="1">
						 <el-date-picker
						    v-model="month"
						    type="month"
						    placeholder="Pick a month"
						    @change="getNetIncome">
						  </el-date-picker>
					</el-col>

				</el-row>
			</div>
		</div>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'net_income',
		data() {
			return {
				month: new Date(),
				netIncome: {}
			}
		},
		computed: {
			getDate() {
				return moment(this.month).format('YYYY-MM-DD')
			}
		},
		methods: {
			getNetIncome() {
				const url = home.get_net_income
				axios.post(url, { date: this.getDate })
				     .then((response) => {
				     	this.netIncome = response.data
				     	console.log(response.data)
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			}
		},
		mounted() {
			this.getNetIncome()
		}
	}
</script>

<style lang="scss">
	.red {
		color: red;
	}
</style>