<template>
	<div class="account_add">
		<div class="be-content">
	        <div class="page-head">
	          <h2 class="page-head-title">Add Account record</h2>
	          <ol class="breadcrumb page-head-nav">
	            <li><a href="#">Home</a></li>
	            <li><a href="#">Account</a></li>
	            <li class="active">Record</li>
	          </ol>

	          <div class="main-content container-fluid">
	          	<div class="row">
	          		<div class="col-sm-3">
	        			<div class="select-box">
	        				<label class="block">Record Date</label>
		        			<el-date-picker
						      v-model="record_date"
						      type="date"
						      placeholder="Pick a day">
						    </el-date-picker>
	        			</div>
	        		</div>
	        		<div class="form-group col-sm-3">
				   	 	<label for="exampleSelect1">Notes(optional)</label>
				   	 	<el-input type="textarea" v-model="note"></el-input>
				  	</div>
	          	</div>
	          	<h4>Debit</h4>
	          	<div class="row space" v-for="(item,index) in itemDebitList">

					<div class="form-group col-sm-2">

				    	<label>Account {{item.key}}</label>

				    	<div class="select-box">
				    		<el-select 
						    v-model="item.account_type" 
						    placeholder="Select Type" 
							class="inner_select_box"
						    >
							    <el-option
							      v-for="items, key in ledger_type"
							      :key="items.id"
							      :label="items.account_name"
							      :value="key">
							    </el-option>
							</el-select>
				    	</div>

					</div>



				   	<div class="form-group col-sm-2">
				   	 	<label for="exampleSelect1">Amount</label>
				   	 	<el-input placeholder="Please input" v-model="item.value"></el-input>
				  	</div>

				  	


				  	<!-- buttons -->

				    <div class="form-group col-sm-3 space">

				    	<el-button 
				    		@click="addItemDebitList"
				    		v-if="index === itemDebitList.length - 1"
				    		type="primary" 
				    		icon="plus" 
				    		size="small">
				    			
				    	</el-button>

				    	<el-button 
				    		@click="removeDebitListItem(item)"
				    		v-if="item.key >= 1 && item.key != 1"
				    		type="primary" 
				    		icon="minus" 
				    		size="small">	
				    	</el-button>
				    </div>
				</div>
				
				<h4>Credit</h4>
				<div class="row space" v-for="(item,index) in itemCreditList">

					<div class="form-group col-sm-2">

				    	<label>Account {{item.key}}</label>

				    	<div class="select-box">
				    		<el-select 
						    v-model="item.account_type" 
						    placeholder="Select Type" 
							class="inner_select_box"
						    >
							    <el-option
							      v-for="items, key in ledger_type"
							      :key="items.id"
							      :label="items.account_name"
							      :value="key">
							    </el-option>
							</el-select>
				    	</div>

					</div>



				   	<div class="form-group col-sm-2">
				   	 	<label for="exampleSelect1">Amount</label>
				   	 	<el-input placeholder="Please input" v-model="item.value"></el-input>
				  	</div>

				  	


				  	<!-- buttons -->

				    <div class="form-group col-sm-3 space">

				    	<el-button 
				    		@click="addItemCreditList"
				    		v-if="index === itemCreditList.length - 1"
				    		type="primary" 
				    		icon="plus" 
				    		size="small">
				    			
				    	</el-button>

				    	<el-button 
				    		@click="removeCreditListItem(item)"
				    		v-if="item.key >= 1 && item.key != 1"
				    		type="primary" 
				    		icon="minus" 
				    		size="small">	
				    	</el-button>
				    </div>
				</div>
				<div>
					<el-button @click="submit" type="primary">Add Record</el-button>
				</div>
	          </div>
	        </div>
	    </div>
	</div>
</template>

<script type="text/babel">
	import { mapGetters, mapActions } from 'vuex';
	export default {
		name: 'account_add',
		data() {
			return {
				ledger_type: [],
				account_type: [
					{
						id: 1,
						label: 'credit'
					},
					{
						id: 2,
						label: 'debit'
					}
				],
				note:'',
				record_date: '',
				itemDebitList: [
					{
						key: 1,
						account_type: '',
						ledger_type: '',
						type: 'debit',
						value: ''
					}
				],
				itemCreditList: [
					{
						key: 1,
						account_type: '',
						ledger_type: '',
						type: 'credit',
						value: ''
					}
				],

			}
		},
		computed: {
			...mapGetters({
				all_assets: 'settings/assets_type/all_assets'
			}),
			getRecordDate() {
				return moment(this.record_date).format('YYYY-MM-DD')
			}
		},
		methods: {
			...mapActions({
				getAllAssetsType: 'settings/assets_type/getAllAssetsType'
			}),

			setLedgerType(event) {
				console.log(event)
			},

			removeCreditListItem(item){
				var index = _.findIndex(this.itemCreditList,item)
                if (index !== -1) {
                   this.itemCreditList.splice(index, 1);
                }
            },
			addItemCreditList() {
				let value = _.nth(this.itemCreditList, this.itemCreditList.length - 1);
				let nextValue = value.key + 1
				this.itemCreditList.push({
					key: nextValue,
					account_type: '',
					ledger_type: '',
					type: 'credit',
					value: '',
					notes: ''
		        });
				console.log(this.itemCreditList)
			},

			removeDebitListItem(item){
				var index = _.findIndex(this.itemDebitList,item)
                if (index !== -1) {
                   this.itemDebitList.splice(index, 1);
                }
            },
			addItemDebitList() {
				let value = _.nth(this.itemDebitList, this.itemDebitList.length - 1);
				let nextValue = value.key + 1
				this.itemDebitList.push({
					key: nextValue,
					account_type: '',
					ledger_type: '',
					type: 'debit',
					value: '',
					notes: ''
		        });
				console.log(this.itemDebitListDebit)
			},
			submit() {
				let debit = 0
				this.itemDebitList.forEach((item) => {
				   item.account_type = this.ledger_type[item.account_type]
				   item.ledger_type = item.account_type.type

				   debit += parseFloat(item.value)
				})

				let credit = 0

				this.itemCreditList.forEach((item) => {
					item.account_type = this.ledger_type[item.account_type]
					item.ledger_type = item.account_type.type
					credit += parseFloat(item.value)
				})
				if(debit !== credit) {
					elem.notify('warning', 'Balance is not equal!')
					return
				}

				this.itemDebitList.forEach((item) => {
					this.itemCreditList.forEach((c) => {
						item.against_type_id = c.account_type.id
						item.against_ledger_type = c.account_type.type
					})
				})

				this.itemCreditList.forEach((item) => {
					this.itemDebitList.forEach((c) => {
						item.against_type_id = c.account_type.id
						item.against_ledger_type = c.account_type.type
					})
				})

				let fullArray = [];

				this.itemDebitList.forEach((item) => {
					fullArray.push(item)
				})

				this.itemCreditList.forEach((item) => {
					fullArray.push(item)
				})

				console.log(fullArray)
				const data = {
					record_date: this.getRecordDate,
					note: this.note,
					store: fullArray
				}

				const url = home.store_all_transaction
				axios.post(url, data)
				     .then((res) => {
				     	elem.notify('success', res.data.message)
				     	this.itemDebitList = [
							{
								key: 1,
								account_type: '',
								ledger_type: '',
								type: '',
								value: ''
							}
						]

						this.itemCreditList = [
							{
								key: 1,
								account_type: '',
								ledger_type: '',
								type: '',
								value: ''
							}
						]
				     })
				     .catch((err) => {
				     	console.log(err)
				     })
			},
			getAllLedger() {
				const url = home.get_all_ledger
				axios.get(url)
				     .then(res => {
				     	this.ledger_type = res.data.ledger
				     })
				     .catch(err => {
				     	console.log(err)
				     })
			}
		},
		mounted() {
			this.getAllLedger()
			this.getAllAssetsType();
		}

	}
</script>

<style>
	.m-t-20 {
		margin-top: 20px;
	}
</style>