<template>
    <div class="blend_view">
        <div class="Stocks_view">
            <div class="be-content">
                <!--head-->
                <div class="page-head-wrapper">
                    <h2 class="page-head-title">Production</h2>
                    <ol class="breadcrumb page-head-nav">
                        <li><a href="#">Production</a></li>
                        <li class="active">Add</li>
                    </ol>
                </div>
                <!--/head-->

                <!--content-->
                <div class="main-content container-fluid">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <!--table-->
                            <div class="view-site">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">
                                        <p class="title">
                                            Product History
                                        </p>
                                        <div class="tool">
                                            <el-date-picker type="date" placeholder="Select the production date" v-model="production_date" style="width: 100%;"></el-date-picker>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <el-table
                                            :data="tableData"
                                            v-if="tableData.length > 0"
                                            style="width: 100%">
                                            <el-table-column
                                                type="index"
                                                width="180">
                                            </el-table-column>
                                            <el-table-column
                                                prop="stock_indices_name"
                                                label="Product"
                                            >
                                            </el-table-column>

                                            <el-table-column
                                                label="action"
                                                width="220"
                                            >
                                                <template scope="scope">
                                                    <el-input type="number" v-model="scope.row.value"></el-input>
                                                </template>
                                            </el-table-column>
                                        </el-table>

                                        <div class="button text-center" style="margin-top: 15px;">
                                            <el-button type="primary" @click="product_submission" :disabled="trigger" :title="info">Submit</el-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/table-->
                        </div>
                    </div>
                </div>
                <!--/content-->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'productionAdd',
        data() {
            return {
                production_date:"",
                tableData:[],

            }
        },

        computed: {
            trigger() {
                return !this.production_date;
            },
            info() {
                return this.production_date ? 'Click For Submit' : 'Please Enter The Date';
            }
        },

        methods: {
            fetching_data() {
                const url = home.production_index;

                axios.get(url)
                    .then(response=>{
                        if(response) {
                            let data = response.data.product_index.map(item=> {
                                item.value = 0;
                                return item;
                            })
                            this.tableData = data;
                        }
                    })
                    .catch(error=> {
                        console.log(error.response);
                    })
            },
            product_submission() {
                let data = {
                    production_date: moment(this.production_date).format('YYYY-MM-DD')
                }

                data.production_list = this.tableData

                data.production_list.forEach(item=>{
                    item.stock_index_id = item.id;
                    item.packet = item.value;
                })

                const url = home.production_store;
                axios.post(url,data)
                    .then(response => {
                        if(response) {
                            this.$notify({
                                title: 'Success',
                                message: response.data.message,
                                type: 'success'
                            });
                            this.production_date = '';
                            this.fetching_data();
                        }
                    })
                    .catch(error=> {
                        console.log(error.response);
                    })
            }
        },
        mounted(){
            this.fetching_data()
        }
    }
</script>

<style lang="scss">
    .m-b-10 {
        margin-bottom:10px;
    }
</style>
