<template>
    <div class="unload_assets">
        <div class="Stocks_view">
            <div class="be-content">
                <!--head-->
                <div class="page-head">
                    <div class="page-head-wrapper">
                      <h2 class="page-head-title">production</h2>
                      <ol class="breadcrumb page-head-nav">
                        <li><a href="#">production</a></li>
                        <li class="active">Preview</li>
                      </ol>
                    </div>
                </div>
                <!--/head-->

                <!--content-->
                <div class="main-content container-fluid" v-if="current == 'production_preview_daily' || current == 'production_preview_monthly_date' || current == 'production_preview_yearly_month_date'">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <!--table-->
                            <div class="view-site">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">production preview
                                        <div class="tools">
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                  <tr>
                                                    <th>Production Date</th>
                                                    <th>Production Item</th>
                                                    <th>Packets</th>
                                                  </tr>
                                            </thead>
                                            <tbody>
                                                  <tr v-for="data in tableData.production_preview_daily" v-if="tableData.production_preview_daily.length > 0">
                                                    <td>{{data.production_date}}</td>
                                                    <td>{{data.stock_index.stock_indices_name}}</td>
                                                    <td>{{data.packets}}</td>
                                                  </tr>
                                                  <tr v-if="tableData.length == 0" style="background: #ffbf2e">
                                                    <td></td>
                                                    <td style="text-align: center">No Data Available</td>
                                                    <td></td>
                                                    <td></td>
                                                  </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--/table-->
                        </div>
                    </div>
                </div>

                <div class="main-content container-fluid" v-if="current == 'production_preview_daily_id' || current == 'production_preview_monthly_date_id' || current == 'production_preview_yearly_month_date_id'">
                    <div class="col-sm-12" >
                        <div class="panel panel-default panel-table">
                            <div class="panel-heading">production Lists</div>

                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Lot</th>
                                        <th>Garden</th>
                                        <th>Invoice</th>
                                        <th>Tea Grade</th>
                                        <th>Packs</th>
                                        <th>Net Each</th>
                                        <th>Sample</th>
                                        <th>Per price</th>
                                        <th>Total Kg</th>
                                        <th>Total Ammount</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr v-for="item in tableData.production_preview_daily_id" v-if="tableData.production_preview_daily_id.length > 0">
                                        <th>{{item.lot_no}}</th>
                                        <th>{{item.garden.garden_name}}</th>
                                        <th>{{item.invoice_no}}</th>
                                        <th>{{item.tea_grade.grade_name}}</th>
                                        <th>{{item.packs}}</th>
                                        <th>{{item.net_each}}</th>
                                        <th>{{item.sample}}</th>
                                        <th>{{item.per_price}}</th>
                                        <th>{{item.total_kg}}</th>
                                        <th>{{item.amount}}</th>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-content container-fluid" v-if="current == 'production_preview_monthly' || current == 'production_preview_yearly' || current == 'production_preview_yearly_month' ">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">



                            <!--table-->
                            <div class="view-site">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-heading">production History
                                        <div class="tools">
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                  <tr>
                                                    <th>{{tableData.production_preview_monthly.type}}</th>
                                                    <th>Total Packets</th>
                                                    <th style="width:30%">Actions</th>
                                                  </tr>
                                            </thead>
                                            <tbody>
                                                  <tr v-for="data in tableData.production_preview_monthly.data" v-if=" tableData.production_preview_monthly.data.length > 0">
                                                    <td>{{data.title}}</td>
                                                    <td>{{data.value}}</td>
                                                    <td >
                                                      <el-button v-if="current == 'production_preview_monthly'" type="primary" size="small" @click="previewMonthlyDaily(data.type, data.title)">Preview</el-button>
                                                      <el-button v-if="current == 'production_preview_yearly'" type="primary" size="small" @click="previewYearly(data.type, data.title)">Preview</el-button>
                                                       <el-button v-if="current == 'production_preview_yearly_month'" type="primary" size="small" @click="previewYearlyDaily(data.type, data.title)">Preview</el-button>
                                                      <el-button type="info" size="small">Export</el-button>
                                                    </td>
                                                  </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--/table-->
                        </div>
                    </div>
                </div>
                <!--/content-->
            </div>
        </div>
    </div>
    
</template>

<script>

    export default {
        name:'purchacePreview',

        data() {
            return {
                tableData: {
                    production_preview_daily: [],
                    production_preview_daily_id: [],
                    production_preview_monthly : [],
                },
                url : home.production_search,
                current: this.$route.name,
                route_list : [
                    'production_preview_daily_id',
                    'production_preview_monthly_date_id',
                    'production_preview_monthly_date',
                    'production_preview_yearly_month_date_id',
                    'production_preview_yearly_month_date',
                    'production_preview_yearly_month'
                ]
            }
        },
        watch: {
            '$route' (to, from) {
                this.current = this.$route.name;
                this.checkRouteList()
            }
          },
        methods: {
            checkRouteList() {
                if(this.$route.name == 'production_preview_daily') {
                    this.fetchDataproductionPreviewDaily()
                }
                else if(this.$route.name == 'production_preview_daily_id') {
                    this.fetchDataproductionListById()
                }
                else if (this.$route.name == 'production_preview_monthly') {
                    this.fetchDataproductionMonthly();
                }
                else if(this.$route.name == 'production_preview_monthly_date') {
                    this.fetchDataproductionPreviewDaily();
                }
                else if(this.$route.name == 'production_preview_monthly_date_id') {
                    this.fetchDataproductionListById();
                }
                else if(this.$route.name == 'production_preview_yearly') {
                    this.fetchDataproductionYearly()
                }
                else if (this.$route.name == 'production_preview_yearly_month') {
                    this.fetchDataproductionMonthly();
                }
                else if(this.$route.name == 'production_preview_yearly_month_date') {
                    this.fetchDataproductionPreviewDaily()
                }
                else if(this.$route.name == 'production_preview_yearly_month_date_id') {
                    this.fetchDataproductionListById();
                }
            },
            productionDailyPreviewById(id) {
                this.$router.push({
                        name: 'production_preview_daily_id',
                        params: {
                            preview_date: this.$route.params.preview_date,
                            id: id
                        }
                })
            },
            fetchDataproductionListById() {
                axios
                    .post(this.url , {id: this.$route.params.id})
                    .then((res) => {
                        this.tableData.production_preview_daily_id = res.data.data[0].unload_asset_product_list
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            fetchDataproductionPreviewDaily() {
                axios
                    .post(this.url , {daily: this.$route.params.preview_date})
                    .then((res) => {
                        this.tableData.production_preview_daily = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            fetchDataproductionMonthly() {
                axios
                    .post(this.url , {monthly: this.$route.params.preview_month})
                    .then((res) => {
                        this.tableData.production_preview_monthly = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            previewMonthlyDaily(type, title) {
                    this.$router.push({
                        name: 'production_preview_monthly_date',
                        params: {
                            preview_month: this.$route.params.preview_month,
                            preview_date: title
                        }
                    })
            },
            fetchDataproductionYearly() {
                axios
                    .post(this.url , {yearly: this.$route.params.preview_yearly})
                    .then((res) => {
                        this.tableData.production_preview_monthly = res.data
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            previewYearly(type, title) {
                this.$router.push({
                        name: 'production_preview_yearly_month',
                        params: {
                            preview_month: title,
                            preview_yearly: this.$route.params.preview_yearly
                        }
                    })
            },
            previewYearlyDaily(type, title) {
                this.$router.push({
                        name: 'production_preview_yearly_month_date',
                        params: {
                            preview_date: title,
                            preview_month: this.$route.params.preview_month,
                            preview_yearly: this.$route.params.preview_yearly
                        }
                    })
            }

        },
        mounted() {
            this.checkRouteList();
        }
        
    }

</script>


<style lang="scss" scoped>
    

</style>