<template>
	<div class="advance_1_sales_report">
		<div class="be-content">
			<div class="page-head">
		      <h2 class="page-head-title">Sales Report View</h2>
		      <ol class="breadcrumb page-head-nav">
		        <li><a href="#">Sales report</a></li>
		        <li class="active">View</li>
		        <li class="active">advance</li>
		        <li class="active">1</li>
		      </ol>
		    </div>
	    
			<div class="main-content container-fluid">
				<div class="col-sm-10">
	              <div class="panel panel-default panel-table">
	                <div class="panel-heading">Sales Report
	                </div>
	                <div class="block">

					  
					  </div>
	                <div class="panel-body">
	                  <table class="table">
	                    <thead>
	                      <tr>
	                      	<th style="width:20%;">Date</th>
	                        <th style="width:20%;">Customer</th>
	                        <th style="width:20%;">Local Area</th>
	                        <th style="width:20%;">Total</th>
	                        <th style="width:40%">Actions</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                      <tr v-for="sales in advance_report">
	                      	<td>{{sales.salesreport_created_at}}</td>
	                        <td>{{sales.customer.customer_shop_name}}</td>
	                        <td>{{sales.local_area.local_area_name}}</td>
	                        <td>{{sales.total_amount}}</td>
	                        <td>
	                        	<router-link :to="{ name: 'single_sales_report', params: {
			                        		
		                        		id: sales.sales_report_id
		                        	}}">
		                        		<el-button type="info" size="mini">
		                        			show
		                        		</el-button>
		                          	</router-link>
	                        </td>
	                      </tr>
	                    </tbody>
	                  </table>
	                </div>
	              </div>
	            </div>
			</div>
		</div>
		<el-dialog title="Quantities" :visible.sync="dataTable" :before-close="handleClose">
		  <el-table :data="spec_quan">
		    <el-table-column property="teaquantity.short_name" label="Product"></el-table-column>
		    <el-table-column property="quantity" label="Quantity" ></el-table-column>
		    <el-table-column property="amount" label="Amount" ></el-table-column>
		    <el-table-column property="note" label="Note" ></el-table-column>
		    <el-table-column property="note_value" label="Note Value" ></el-table-column>
		  </el-table>
		</el-dialog>
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'advance_1_sales_report',
		data() {
			return {
				change_range_date: [],
				advance_report: [],
				dataTable: false, 
				spec_quan: []
			}
		},
		computed: {
			getDate() {
				return {
					salesman_id: this.$route.params.salesman_id,
					start_at: moment(this.change_range_date[0]).format('YYYY-MM-DD'),
					end_at: moment(this.change_range_date[1]).format('YYYY-MM-DD')
				}
			}
		},
		methods: {
			handleClose() {
				this.dataTable = false
			},
			QuantitiesData(report) {
				console.log(report.sales_report.sales_report_quantites)
				this.dataTable = true
				this.spec_quan = report.sales_report_quantites
			},
			fetchDataAnother() {
				const url = home.sales_report_get_by_salesman_id_adv_1
				axios.post(url, this.getDate)
					 .then((res) => {
					 		this.advance_report = res.data.customer
					 })
					 .catch(err => {
					 		console.log(err)
					 })
			},
			fetchAdvanceReport1() {
				const url = home.sales_report_get_by_salesman_id
				axios.post(url, this.$route.params)
					 .then((res) => {
					 		this.advance_report = res.data.customer
					 })
					 .catch(err => {
					 		console.log(err)
					 })
			}
		},
		mounted() {
			this.fetchAdvanceReport1()
		}
	}
</script>