<template>
	<div class="single_sales_report">
		<div class="row">
			<el-col :offset="4" v-if="tea_quantity.length > 0 && sales_report">
				<div class="main-content container-fluid">
				<div class="col-sm-10">
		          <div class="panel panel-default panel-table">
		            <div class="panel-heading">Sales Report
		            </div>
		            <div class="panel-body">
		            	<div class="col-sm-6">
		            		Date:  {{sales_report.sales_date}}
		            	</div>
		            	<div class="col-sm-6">
		            		Area: {{sales_report.area.area_name}}
		            	</div>
		            	<div class="col-sm-6">
		            		Salesman: {{sales_report.salesman.user.name}}
		            	</div>
		            	<div class="col-sm-6">
		            		Vehicle: {{sales_report.van.van_number_plate}}
		            	</div>
		              <table class="table">
		                <thead>
		                  <tr>
		                    <th>Customer</th>
		                    <th>Local Area</th>
		                    <th v-for="q in tea_quantity">{{q.name}}</th>
		                    <th >Total</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr v-for="sales in sales_report.sales_report_customer">
		                    <td>{{sales.customer.customer_shop_name}}</td>
		                    <td>{{sales.local_area.local_area_name}}</td>
		                    <td v-for="item in sales.reports">{{item}}</td>
		                    <td>{{sales.total_amount}}</td>
		                  </tr>
		                </tbody>
		              </table>
		            </div>
		          </div>
		        </div>
			</div>
			</el-col>
			
		</div>
		
	</div>
</template>

<script type="text/babel">
	export default {
		name: 'single_sales_report',
		data() {
			return {
				tea_quantity: [],
				sales_report: {}
			}
		},
		methods: {
			fetchSingleSalesReport(id) {
				const url = home.sales_report_single_id.replace('#id#', id);
				axios.get(url)
				     .then((res) => {
				      	this.tea_quantity = res.data.tea_product
				      	this.sales_report = res.data.tea_report
				     })
				     .catch(err => {
				     	console.log(err)
				     })
			}
		},
		mounted() {
			this.fetchSingleSalesReport(this.$route.params.id)
		}
	}
</script>