<template>
	<div>
		<div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Stocks</h2>
          <ol class="breadcrumb page-head-nav">
            <li><a href="#">Stocks</a></li>
            <li class="active">Add</li>
          </ol>
        </div>

        <div class="main-content container-fluid">

          <!-- Show Area Table -->
          <div class="col-sm-10" v-if="table == 0">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Stocks Category
                  <div class="tools">
                    <transition name="slide-fade">
                      <div class="inline mr10px" v-if="searchbox">
                        <el-input placeholder="Search Stock Category .." v-model="search"></el-input>
                      </div>
                    </transition>
                    <div class="inline ">
                        <span class="icon mdi mdi-search" @click="searchboxShowOnOff" v-if="!searchbox"></span>
                     
                      <span class="icon mdi mdi-close" @click="searchboxShowOnOff" v-if="searchbox"></span>
                    

                      <el-tooltip content="Refresh" placement="top" effect="light" >
                        <span class="icon mdi mdi-refresh-alt" @click="fetchdata"></span>
                      </el-tooltip>

                      <el-tooltip content="Add New Category" placement="top" effect="light">
                        <span class="icon mdi mdi-plus-circle-o" @click="tableShowOnOff(1)"></span>
                      </el-tooltip>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width:40%;">Category Name</th>
                        <th style="width:20%;">Total Index</th>
                        <th style="width:30%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in StockCategory">
                        <td>{{data.stock_name}}</td>
                        <td>{{data.stock_indices.length}}</td>
                        <td >
                          <el-button size="small" icon="edit" @click="tableShowOnOff(3, data)"></el-button>
                          <el-button type="danger" size="small" icon="delete" @click="deleteArea(data.id)"></el-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>


            <!-- Add New Area -->
            <div class="col-sm-10" v-if="table == 1">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Add New Stock Category
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Stock Category Name">
                        <el-input v-model="form.stock_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addStockCategory">Add Stock Category</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>



            <!-- Edit Area -->
            <div class="col-sm-10" v-if="table == 3">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">Edit Stock Category Name
                  <div class="tools dropdown">

                    <el-tooltip content="Close" placement="top" effect="light">
                      <span class="icon mdi mdi-close" @click="tableShowOnOff(0)"></span>
                    </el-tooltip>
                  </div>
                </div>
                <hr>
                <div class="panel-body">
                  <el-col :span="12" :offset="3">
                    <el-form :label-position="labelPosition" label-width="100px" :model="form">
                      <el-form-item label="Stock Category Name">
                        <el-input v-model="form.stock_name"></el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                  <el-col :span="6" :offset="1">
                    <div class="mt30px">
                      <el-button type="primary" @click="addStockCategory">Update</el-button>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>

        </div>
      </div>
	</div>
</template>

<script>
	import {mapState,mapGetters,mapActions,mapMutations} from 'vuex'
	export default {
		name: 'stocks_category',
	    data() {
	      return {
	        labelPosition: 'top',
	        form: {},
	        search: '',
	        searchbox: false,
	        table: 0,
	        tabledata: [],
	        DupTableData: [],
	        searchQuuries: {
	          paginate: 'simple',
	          per_page : 10,
	          fields: 'localareas'
	        }
	      }
	    },
	    computed: {
	    	...mapGetters({
	    		StockCategory: 'stocks/StockCategory'
	    	})
	    },

	    watch: {
	      search() {
	        if(this.search.length >= 2) {
	          this.tabledata.filter(item => {
	            return item.area_name.includes(this.search)
	          })

	          console.log(this.tabledata)
	        } else {
	          this.tabledata = this.DupTableData
	        }
	      }
	    },

	    methods: {
	    	...mapActions({
	    		getStocksCategory: 'stocks/getStocksCategory',
	    	}),
        addStockCategory() {
          const root = home.stock_category_add
          axios
            .post(root, this.form)
            .then(res => {
              elem.notify('success', res.data.message)
              this.getStocksCategory()
              this.tableShowOnOff(0)
            })
            .catch(e => {
              console.log(e.response)
            })
        },
	      editAble(param) {
	        this.form = param
	      },

	      searchboxShowOnOff() {
	        this.searchbox = !this.searchbox
	      },

	      tableShowOnOff(param, data = false) {
	        if(data) {
	          this.editAble(data)
	        }
	        param == 0 ? this.form = {} : null
	        console.log(this.form)
	        this.table = param
	      },

	      deleteArea(id) {
	        const url = home.stock_remove.replace('#id#', id);
	        axios.post(url)
	             .then(response => {
	                this.getStocksCategory()
	                elem.notify('success', response.data.message);
	             })
	             .catch(e => {
	                elem.notify('error', e.response.data.message);
	             })
	      }
	    },

	    mounted() {
	      this.getStocksCategory()
	    }
	}
</script>

<style>
  .tools {
    float: right;
  }
  .bg-white {
    background: white;
  }
  .mt30px {
    margin-top: 30px;
  }

  .pb30px {
    padding-bottom: 30px;
  }

  .inline {
    display: inline-block;
  }

  .mr10px {
    margin-right: 10px;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>